<?php echo $this->doctype(); ?>
<html>
<head>
<meta charset="utf-8">
<?= $this->headTitle()->setSeparator(' - ')->setAutoEscape(false); ?>
<?= $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0'); ?>
<?php echo $this->headLink(); ?>
<script>

      jQuery(function($){

        $("#ticker").tweet({

          username: "rani20131991",

          page: 1,

          avatar_size: 32,

          count: 5,

          loading_text: "loading ...",

        	  modpath: './lib/tweet/',

        }).bind("loaded", function() {

            

          var ul = $(this).find(".tweet_list");

          var ticker = function() {

            setTimeout(function() {

              var top = ul.position().top;

              var h = ul.height();

              var incr = (h / ul.children().length);

              var newTop = top - incr;

              if (h + newTop <= 0) newTop = 0;

              ul.animate( {top: newTop}, 500 );

              ticker();

            }, 5000);

          };

          ticker();

            

        });

      });

</script>
</head>

<body>
<div class="maincontwrapper">

<!--------top menu starts--------->
<div class="new-bg"></div>
        <div class="container padd-new-t">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-3 column">
                             <?php echo $this->block('topLeftRegion')->render(); ?>
                        </div>
                        <div class="col-md-9 column">
                            <div class="row clearfix">
                                <?php echo $this->block('headertopiconRegion')->render(); ?>
                                <div class="col-md-3 text-right new-btn">

                                    <?php echo $this->block('topRightRegion')->render(); ?>

                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-9 col-sm-9 column padd-new-t">
                                    <?php echo $this->block('searchRegion')->render(); ?>
                                </div>
                                <div class="col-md-3 col-sm-3 padd-smal-t">
                                    <?php echo $this->block('minicartRegion')->render(); ?>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<!--<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="row"> <?php //echo $this->block('topLeftRegion')->render(); ?> </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="row"> <?php //echo $this->block('topRightRegion')->render(); ?> </div>
    </div>
  </div>
</div>-->

<!------- top menu ends------------>

<div class="menucontent">

<!---------menu navigation starts -->

                <div class="container padd-new-t">

                 
                    <div class="row">
                        <div class="col-md-12 col-sm-12">

                             



                            <div class="navbar navbar-inverse menu" role="navigation">

                                <?php echo $this->block('menuRegion')->render(); ?>

                            </div>







                             

                        

                    </div>
                    </div>
                </div>

            </div>

            <!-------- menu navigation nds---------->

        

 <!--------- body content strats------------->

            <div class="bodycontent">



              <?php echo $this->render('layout/layout-partial'); ?>

            </div><!------------- body content ends--------->

        </div><!-----main content wrapper end -------->



        <div class="footercontwrapper footrbkg mrgntp">

            <div class="container">

                <div class="row ">

                    <div class="">

                        <?php echo $this->block('footerRegion')->render(); ?>

                       </div>







                </div>







            </div>

        

            <div class="container">

                <div class="row ">

                   <div class="col-md-12 col-sm-12 col-xs-12 mrgntp">

                        

 <div id="ticker" class="tweet"></div>



			

                             <?php echo $this->block('footerBottomRegion')->render(); ?>



                          

                    </div>







                </div>







            </div>

        </div>

















        <div id="ajax-modal" class="modal container fade" tabindex="-1"></div>

        <div id="ajax-modal-medium" class="modal  fade" tabindex="-1"></div>

        <?php //$this->stickyMessage(); ?>



        <?php

        $sm = \Core\Functions::getServiceLocator();

        $request = $sm->get('Request');

        $requestHeaders = $request->getHeaders();

        if (!$requestHeaders->has('X-AJAXIFY')) {

            echo $this->headScript();

        }

        ?>

        <?php echo $this->inlineScript(); ?> 











    </body>

</html>