<?php
use File\Api\FileApi;

use Core\Functions;

use Banner2\Api\Banner2Api;
?>
<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams ();
ob_start ();
?>

<?php

$banner2s = Banner2Api::getBanner2s ();
if ($banner2s) {
	?>


<div class="slider">



	<ul id="bxslider" class="bxslider">
		<?php
	foreach ( $banner2s as $banner2Id ) {
		$banner2 = Banner2Api::getBanner2ById ( $banner2Id ['banner2Id'] );
		if (! $banner2->file) {
			continue;
		}
		?>
			<li>
				
				<?php
		if ($banner2->file->title) {
			?>
				<div>
				<div class="slider-title">
					<p>
							<?php echo $banner2->file->title; ?>
						</p>
				</div>
			</div>
					<?php
		}
		?>
			<?php
		
		if ($banner2->url) {
			?>
				 <a href="<?php echo $banner2->url?>">
				 <?php
			echo FileApi::formImage ( $banner2->file->path, 1900, 550, array (
					'title' => $banner2->file->title,
					'alt' => $banner2->file->alt 
			) );
			?>
				 </a>
				 <?php
		} else {
			
			echo FileApi::formImage ( $banner2->file->path, 1900, 550, array (
					'title' => $banner2->file->title,
					'alt' => $banner2->file->alt 
			) );
		}
		?>
			</li>
			
			<?php
	}
	?>
			
		</ul>
		
</div>

<?php
}
?>

<?php
$block = ob_get_clean ();
$item->setBlock ( $block );
$item->setWeight ( 1000 );
?>
