<?php
use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

$grid = new Grid ( 'adminOrderStatus' );

$grid->setGroupable ( true );
$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();
$columnItem = $columns->getColumn ( 'orderStatus.id' );
$columnItem->setAggregates ( array (
		'count' 
) );
$columnItem->setGroupFooterTemplate ( "Count: #=count#" );

$columnItem = $columns->getColumn ( 'orderStatus.isSale' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#isSaleTemplate").html()), {column:"isSale"})' ) );

$columnItem = $columns->getColumn ( 'orderStatus.isPending' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#isPendingTemplate").html()), {column:"isPending"})' ) );

$columnItem = $columns->getColumn ( 'orderStatus.isCancelled' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#isCancelledTemplate").html()), {column:"isCancelled"})' ) );



$commandItem = new CommandItem ();
$commandItem->setName ( 'edit' );
$functionName = new JavascriptFunction ( 'editAction' );
$commandItem->setClick ( $functionName );
$columns->addCommand ( 'edit', $commandItem );
?>



<h1 class="heading"><?php  echo $this->translate('Order Status');?></h1>
<?php
echo $this->tab ( 'adminOrderStatus' )->render ();
echo $this->link ( 'adminOrderStatus' )->render ();
echo $obj->render ();
?>

<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/kendo-tmpl', array (
		'id' => 'isSaleTemplate',
		'noescape' => true 
) );
?>
# if (isSale) { #
<span class="isSale"><i class="glyphicon glyphicon-ok"></i></span>
# } else if(isSale == false){#
<span class="isSale"><i class="glyphicon glyphicon-remove"></i></span>
#}# 
<?php
$this->inlineScript ()->captureEnd ();

?>

<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/kendo-tmpl', array (
		'id' => 'isPendingTemplate',
		'noescape' => true 
) );
?>
# if (isPending) { #
<span class="isPending"><i class="glyphicon glyphicon-ok"></i></span>
# } else if(isPending == false){#
<span class="isPending"><i class="glyphicon glyphicon-remove"></i></span>
#}# 
<?php
$this->inlineScript ()->captureEnd ();

?>

<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/kendo-tmpl', array (
		'id' => 'isCancelledTemplate',
		'noescape' => true 
) );
?>
# if (isCancelled) { #
<span class="isCancelled"><i class="glyphicon glyphicon-ok"></i></span>
# } else if(isCancelled == false){#
<span class="isCancelled"><i class="glyphicon glyphicon-remove"></i></span>
#}# 
<?php
$this->inlineScript ()->captureEnd ();


$this->inlineScript ()->captureStart ();
?>

function editAction(e){
	var url = "<?php echo $this->url('admin-order-status-add'); ?>";
	var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
	$.zoombox.open(url+'/'+dataItem.id,{
	'width': $(window).width()-100,
	'height' : $(window).height()-100
	});
}

<?php
$this->inlineScript ()->captureEnd ();