<?php

use Core\Functions;
use DluTwBootstrap\Form\FormUtil;
use File\Api\FileApi;
use Checkout\Option\CartContainer;

$sm = Functions::getServiceLocator();
/* @var $cart \Checkout\Option\CartContainer */
$cart = $sm->get('Cart');
$cart->prepare(CartContainer::CART_PREVIEW);
?>

<?php
$cartItems = $cart->getCartItems();
foreach ($cartItems as $cartItem) {
    $productId = $cartItem->getProductId();
    ?>

    <div class="row">
        <div class="col-sm-6">
            <div class="image-block">
                <?php
                $image = FileApi::formImage($cartItem->getImage(), 100, 100, array(
                            'title' => $cartItem->getTitle()
                        ));
                echo $productId ? '<a href="' . $this->url('product', array(
                            'productId' => $productId
                        )) . '">' . $image . '</a>' : $image;
                ?>

            </div>
        </div>
        <div class="col-sm-6">
            <h4><?php
                $title = $cartItem->getTitle();
                echo $productId ? '<a href="' . $this->url('product', array(
                            'productId' => $productId
                        )) . '">' . $title . '</a>' : $title;
                ?></h4>
            <p>Qty: <?php echo $cartItem->getQuantity(); ?></p>
        </div>
    </div>
    <?php
}
?>
<br>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-stripped">

            <?php
            $inItems = $cart->getInItems();
            foreach ($inItems as $inItem) {
                ?>

                <tr>
                    <td class="alignRight"><b><?php echo $inItem->getTitle(); ?></b></td>
                    <?php
                    $value = $inItem->getValue();
                    if (is_numeric($value)) {
                        ?>
                        <td class="alignLeft"><?php echo $this->currencyFormat($value); ?></td>
                        <?php
                    } else {
                        ?>
                        <td class="alignLeft"><?php echo $value; ?></td>
                        <?php
                    }
                    ?>

                </tr>
                <?php
            }
            ?>

            <tr>
                <td class="alignRight"><b><?php echo $this->translate('Subtotal'); ?></b></td>
                <td class="alignLeft"><?php echo $this->currencyFormat($cart->getSubTotalPrice()); ?></td>
            </tr>

            <?php
            $outItems = $cart->getOutItems();
            foreach ($outItems as $outItem) {
                ?>

                <tr>
                    <td class="alignRight"><b><?php echo $outItem->getTitle(); ?></b></td>
                    <?php
                    $value = $outItem->getValue();
                    if (is_numeric($value)) {
                        ?>
                        <td class="alignLeft"><?php echo $this->currencyFormat($value); ?></td>
                        <?php
                    } else {
                        ?>
                        <td class="alignLeft"><?php echo $value; ?></td>
                        <?php
                    }
                    ?>
                </tr>
                <?php
            }
            ?>

            <tr>
                <td class="alignRight">
                    <h2><?php echo $this->translate('Total'); ?></h2>
                </td>
                <td class="alignLeft">
                    <h2><?php echo $this->currencyFormat($cart->getTotalPrice()); ?></h2>
                </td>
            </tr>

        </table>
        <a class="btn btn-primary pull-right"
           href="<?php echo $this->url('cart'); ?>"><i
                class="glyphicon glyphicon-shopping-cart"></i> <?php echo $this->translate('Cart'); ?></a>
    </div>
</div>

