<?php
use Core\Functions;
use DluTwBootstrap\Form\FormUtil;
$sm = Functions::getServiceLocator ();
$registerForm = $sm->get ( 'User\Form\UserRegister\RegisterFactory' );
$registerForm->setName ( 'userRegisterModal' );
$registerForm->setAttribute ( 'action', $this->url ( 'user-register' ) );
$array = array (
		'elements' => array (
				'firstName' => array (
						'attributes' => array (
								'class' => 'input-medium' 
						) 
				),
				'lastName' => array (
						'attributes' => array (
								'class' => 'input-medium' 
						) 
				),
				'password' => array (
						'attributes' => array (
								'class' => 'input-medium' 
						) 
				),
				'confirmPassword' => array (
						'attributes' => array (
								'class' => 'input-medium' 
						) 
				) 
		) 
)
;
$registerForm->setAttribute ( 'class', 'format_form' );

$this->sbForm ( $registerForm, $array );
?>
<h4 class="modal-title"><?php echo $this->translate('Create New Account'); ?></h4>
<hr>
 <div class="row">
<?php 
echo $this->form ( $registerForm, null );
?>
 </div>
<?php
					$this->inlineScript ()->captureStart ();
					?>
					$(function(){
							$.event.trigger({
							type : 'formatform',
		
							});
					});
					
<?php
					$this->inlineScript ()->captureEnd ();
?>
					
					
<?php

echo $this->inlinescript ();
?>