<?php

use Core\Functions;
?>
<?php
$title = $this->translate('Checkout - Login');
$this->pageTitle($title);
?>

<div class="row">

    <div class="col-sm-6">

        <div class="cool-block">
            <div class="cool-block-bor clearfix">

                <h3 class="heading"><?php echo $this->translate('Account Login'); ?></h3>
                <hr>
                <div class="row">
                    <?php
                    $sm = Functions::getServiceLocator();
                    $loginForm = $sm->get('User\Form\UserLogin\LoginFactory');
                    $loginForm->setName('userLoginModal');
                    $loginForm->setAttribute('action', $this->url('user-login'));
                    $urlPlugin = Functions::getUrlPlugin();
                    $url = $this->url('checkout');
                    $this->sbForm($loginForm);
                    $loginForm->get('redirectUrl')->setValue(rawurlencode($this->url('checkout')));
                    echo $this->form($loginForm, null);
                    ?>
                </div>
                <a href="<?php echo $this->url('user-forgotpassword-modal'); ?>"
                   class="no-ajaxy ajax-modal-medium btn btn-danger pull-right positionupbutton"><?php echo $this->translate('Forgot Password? Click Here'); ?></a>

            </div>

        </div>


    </div>   

    <div class="col-sm-6">


        <div class="cool-block">
            <div class="cool-block-bor">

                <h3 class="heading"><?php echo $this->translate('New Customer'); ?></h3>
                <hr>

                <p>&nbsp;</p>
                <p><?php echo $this->translate("By creating an account you will be able to shop faster, be up to
                    date on an order's status, and keep track of the orders you have
                    previously made."); ?></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="row">
                    <div class="col-sm-6">

                        <a href="<?php
                        echo $this->url('user-register-modal', array(), array(
                            'query' => array(
                                'redirectUrl' => $this->url('checkout')
                            )
                        ));
                        ?>" 
                           class="btn btn-primary btn-large no-ajaxy ajax-modal"><i class="glyphicon glyphicon-user"></i> <?php echo $this->translate('Register'); ?></a>
                        <p>Get started now.</p>
                    </div>
                    <div class="col-sm-6">

                        <a href="<?php echo $this->url('checkout-shippingbilling-modal'); ?>" 
                           class="btn btn-primary btn-large no-ajaxy ajax-modal"><i
                                class="glyphicon glyphicon-shopping-cart"></i> <?php echo $this->translate('Guest Checkout'); ?></a>
                        <p>Fast and Easy Checkout</p>
                    </div>
                </div>
                <p>&nbsp;</p>


            </div>   
        </div>

    </div>
</div>


