<?php 
use User\Api\UserReportApi;

use Admin\Api\AdminApi;
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */

$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start ();

$item->setTitle ( 'Total Customers' );
$session = AdminApi::getDashboardSession ();
$total = UserReportApi::getAllUsersCount ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ) );
$chartType = AdminApi::getChartType ();

$results = null;
if ($chartType == 'week') {
	$results = UserReportApi::getAllUserCountByWeek ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} elseif ($chartType == 'month') {
	$results = UserReportApi::getAllUserCountByMonth ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} 

elseif ($chartType == 'year') {
	$results = UserReportApi::getAllUserCountByYear ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} else {
	$results = UserReportApi::getAllUserCountByDay ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
}
$temp = array ();
foreach ( $results as $result ) {
	$temp [] = ( float ) $result ['countUserId'];
}

?>
<div class="chart_content">
<div class="p_line_down p_canvas"><?php echo implode(',', $temp); ?></div>
<div class="ov_text">
	<strong><?php echo $this->numberFormat($total, \NumberFormatter::DECIMAL);?></strong> <?php echo $this->translate('Users'); ?>
</div>
</div>
<?php 
$block = ob_get_clean ();
$item->setBlock ( $block );
$item->setWeight ( 1000 );