<?php
use Core\Functions;

use User\Api\UserApi;

use User\Api\UserReportApi;

use Payment\Api\PaymentApi;

use OrderMain\Api\OrderApi;

use OrderMain\Api\OrderReportApi;

use Admin\Api\AdminApi;
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams ();

$session = AdminApi::getDashboardSession ();
ob_start ();
?>

<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#recent-users">Recent</a></li>
				<?php
				if (Functions::hasModule ( 'OrderMain' )) {
					?>
				<li class=""><a data-toggle="tab" href="#top-users">Best</a></li>
				<?php
				}
				?>

			</ul>
	<div class="tab-content">
		<div id="recent-users" class="tab-pane active">
			<table class="table table-striped table-bordered mediaTable">
				<thead>
					<tr>
						<th class="optional">User ID</th>
						<th class="essential persist">Customer</th>
						<th class="essential persist">Email</th>
						<th class="optional">Contact no.</th>
						<th class="optional">Status</th>
						<th class="essential">Date</th>
					</tr>
				</thead>

				<tbody>
				<?php
				$results = UserReportApi::getRecentUsers ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
				
				if ($results) {
					?>
				<?php
					
					foreach ( $results as $result ) {
						$user = UserApi::getUserById ( $result ['userId'] );
						
						?>
				
				<tr>
						<td><a
							href="<?php
						
						echo $this->url ( 'admin-user-view', array (
								'userId' => $user->id 
						) );
						?>"
							class=""><?php
						
						echo $user->id;
						?></a></td>
						<td><?php echo $user->firstName.' '.$user->lastName; ?></td>
						<td><?php echo $user->email; ?></td>
						<td><?php echo $user->contactNumber; ?></td>
						<td><?php echo $user->status?'Active':'In Active'; ?></td>
						<td>
					<?php echo $this->dateFormat($user->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>
					</td>
					</tr>
				<?php
					}
				} else {
					?>
				<tr>
						<td colspan="6"><?php echo $this->translate('Currently there are no users.'); ?></td>
					</tr>
				<?php
				}
				?>
			</tbody>
			</table>
		</div>

<?php
if (Functions::hasModule ( 'OrderMain' )) {
	?>
				<div class="tab-content">
			<div id="best-users" class="tab-pane">
				<table class="table table-striped table-bordered mediaTable">
					<thead>
						<tr>
							<th class="optional">User ID</th>
							<th class="essential persist">Customer</th>
							<th class="essential persist">Email</th>
							<th class="optional">Contact no.</th>
							<th class="optional">Revenue</th>
							<th class="optional">Total Orders</th>
						</tr>
					</thead>

					<tbody>
				<?php
	$results = OrderReportApi::getBestCustomers ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
	
	if ($results) {
		?>
				<?php
		
		foreach ( $results as $result ) {
			$user = UserApi::getUserById ( $result ['userId'] );
			
			?>
				
				<tr>
							<td><a
								href="<?php
			
			echo $this->url ( 'admin-user-view', array (
					'userId' => $user->id 
			) );
			?>"
								class=""><?php echo $user->id; ?></a></td>
							<td><?php echo $user->firstName.' '.$user->lastName; ?></td>
							<td><?php echo $user->email; ?></td>
							<td><?php echo $user->contactNumber; ?></td>
							<td><?php echo $this->currencyFormat($result['sumAmount']); ?></td>
							<td>
					<?php echo $result['countOrders']; ?>
					</td>
						</tr>
				<?php
		}
	} else {
		?>
				<tr>
							<td colspan="6"><?php echo $this->translate('Currently there are no users.'); ?></td>
						</tr>
				<?php
	}
	?>
			</tbody>
				</table>
			</div>



		</div>
				<?php
}
?>
			</div>



</div>

<?php
$block = ob_get_clean ();
$item->setBlock ( $block );
$item->setWeight ();
?>