<?php

use User\Api\UserApi;
use Core\Functions;
use File\Api\FileApi;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
?>
<div class="header-mini-cart  pull-right">
    <?php echo $this->render('common/load-mini'); ?>
</div>
<div class="account-menu pull-right">
    <?php
// echo $this->navigation ( 'front_account' )->menu ()->setUlClass('account-menu-list')->render ();
    $user = UserApi::getLoggedInUser();
    ?>


    <?php
    if (!$user) {
        ?>
        <a href="<?php echo $this->url('user-login-modal');?>" class="ajax-modal-medium no-ajaxy" ><?php echo $this->translate('Login'); ?></a>
        <a href="<?php echo $this->url('user-register-modal');?>" class="ajax-modal no-ajaxy"><?php echo $this->translate('Register'); ?></a>
        <?php
    } else {
        ?>
        <a href="<?php echo $this->url('account'); ?>"><?php echo $this->translate('My Account'); ?></a>
        <a href="<?php echo $this->url('user-logout'); ?>"><?php echo $this->translate('Logout'); ?></a>
        <?php
    }
    ?>

</div>




<?php
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000);
?>