<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams ();
ob_start ();
?>

<div class="span3">
	<h4><?php echo $this->translate('My Account'); ?></h4>
	                            <?php
echo $this->navigation ( 'front_account' )->menu ();
																													
																													?>
																												
																												</div>

<?php

$block = ob_get_clean ();
$item->setBlock ( $block );
$item->setWeight ( 1000 );
?>