<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams ();
ob_start ();
?>

<div class="span3">

	<div class="side-block">
		<div class="block-header">
			<h3><?php echo $this->translate('My Account'); ?></h3>
		</div>
		<?php
		echo $this->navigation ( 'front_account' )->menu ()->render ();
		
		
		?>
		
	</div>


</div>

<?php

$block = ob_get_clean ();
$item->setBlock ( $block );
$item->setWeight ( 1000 );
?>