<?php
use Inventory\Api\InventoryApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$productId = $contentContainer->getParam ( 'productId' );
$item->setTitle('Stock');
ob_start ();
?>

<?php
$stock = InventoryApi::getStockByProductId ( $productId );
?>

<?php if($stock){?>
<p>
<?php echo $this->translate('Status'); ?>: <?php echo $stock->status?'Active':'In Active';?>
</p>
	<p>
<?php echo $this->translate('Current Stock'); ?>: <?php echo $stock->qty;?>
</p>
<?php
} else {
	?>
<?php echo $this->translate('N/A'); ?>
<?php
}
?>


<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 900 );
?>