<?php
use Kendo\Lib\Core\JavascriptFunction;

$grid = $this->grid;
$columns = $grid->getColumns();
$columnItem = $columns->getColumn ( 'stock.status' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#stockStatusTemplate").html()), {column:"stockStatus"})' ) );


$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/kendo-tmpl', array (
		'id' => 'stockStatusTemplate',
		'noescape' => true
) );
?>
# if (stockStatus) { #
<span class="isStockStatus"><i class="glyphicon glyphicon-ok"></i></span>
# } else if(stockStatus == false){#
<span class="isStockStatus"><i class="glyphicon glyphicon-remove"></i></span>
#}# 
<?php
$this->inlineScript ()->captureEnd ();

?>