<?php
$items = $this->linkContainer->getItems ();
if (count ( $items )) {
	?>
<div class="top-links row">
	<div class="pull-right">
		<p>
			<?php 
			foreach($items as $item){
			?>
			<a class="top_link <?php echo $item->getId(); ?> <?php echo $item->getLinkClass();?>" href="<?php echo $item->getUrl(); ?>"> <i
				class="<?php echo $item->getImageClass()?>"></i> <?php echo $item->getTitle(); ?>
			</a>
			<?php 
			}
			?> 
		</p>
	</div>
</div>
<?php
}
?>