<?php
$items = $this->tabContainer->getItems();
if (count ( $items )) {
	?>
<div class="tabbable">
	<ul class="nav nav-tabs">
	
	<?php 
	/* @var $item \Core\Tab\TabItem */
	foreach($items as $item){?>
	
		<li><a href="<?php echo $item->getUrl(); ?>"><?php echo $item->getTitle(); ?></a></li>
		<?php
	}
	?>
	
	</ul>

</div>
<?php
}
?>