<?php
$iterator = new \RecursiveIteratorIterator ( $this->container, \RecursiveIteratorIterator::SELF_FIRST );
$html = '';
$isFirst = true;
// iterate container
$prevDepth = - 1;
foreach ( $iterator as $page ) {
	
	$depth = $iterator->getDepth ();
	$isActive = $page->isActive ( true );
        $id = $page->getId();
        $ulClass = 'nav';
        if($id && $isFirst){
            $menuOption = \MenuManager\Api\MenuManagerApi::getMenuOptionById($id);
            if($menuOption){
                $menu = $menuOption->menu;
                if($menu){
                    $ulClass = $menu->menuClass;
                }
            }
             $ulClass .= ' '.$menu->name;
        }
        $isFirst = false;
	
	$indent = '';
	
	$addClassToListItem = true;
	$escapeLabels = false;
	
	$myIndent = $indent . str_repeat ( '        ', $depth );
	
	if ($depth > $prevDepth) {
		// start new ul tag
		if ($depth == 0) {
			$ulClass = ' class="' . $ulClass . '"  ';
		} else {
			$ulClass = ' class="dropdown-menu" ';
		}
		$html .= $myIndent . '<ul' . $ulClass . '>' . PHP_EOL;
	} elseif ($prevDepth > $depth) {
		// close li/ul tags until we're at current depth
		for($i = $prevDepth; $i > $depth; $i --) {
			$ind = $indent . str_repeat ( '        ', $i );
			$html .= $ind . '    </li>' . PHP_EOL;
			$html .= $ind . '</ul>' . PHP_EOL;
		}
		// close previous li tag
		$html .= $myIndent . '    </li>' . PHP_EOL;
	} else {
		// close previous li tag
		$html .= $myIndent . '    </li>' . PHP_EOL;
	}
	
	// render li tag and page
	$liClasses = array ();
	$aClasses = array ();
	
	if ($page->get ( 'linkClass' )) {
		$aClasses [] = $page->get ( 'linkClass' );
	}
	// Is page active?
	if ($isActive) {
		$liClasses [] = 'active';
		$aClasses [] = 'active';
	}
	// Add CSS class from page to <li>
	if ($addClassToListItem && $page->getClass ()) {
		$liClasses [] = $page->getClass ();
	}
	
	if ($page->hasPages ()) {
		$liClasses [] = 'dropdown';
		$aClasses [] = 'dropdown-toggle';
	}
	
	if ($page->hasPages () && $depth >= 1) {
		$liClasses [] = 'dropdown-submenu';
	}
	
	$liClass = empty ( $liClasses ) ? '' : ' class="' . implode ( ' ', $liClasses ) . '"';
	
	$html .= $myIndent . '    <li ' . $liClass . '>' . PHP_EOL . $myIndent . '        ' . PHP_EOL;
	
	$href =  $page->getHref ();
	
	$aClass = empty ( $aClasses ) ? '' : ' class="' . implode ( ' ', $aClasses ) . '"';
	if ($page->hasPages ()) {
		$aClass .= ' data-toggle="dropdown" ';
	}
	
	if ($page->getTarget ()) {
		$aClass .= ' target="' . $page->getTarget () . '" ';
	}
	
	if ($page->getId ()) {
		$aClass .= ' id="' . $page->getId () . '" ';
	}
	if ($page->get ( 'title' )) {
		$aClass .= ' title="' . $page->get ( 'title' ) . '" ';
	}
	
	$html .= '<a ' . $aClass . ' href="' . $href . '">';
	
	if ($page->get ( 'iconClass' )) {
		$html .= ' <span class=" glyphicon ' . $page->get ( 'iconClass' ) . '"></span> ';
	}
	
	$html .= $page->getLabel ();
	
	if ($page->hasPages ()) {
		if ($depth >= 1) {
			$html .= ' <span class="caret-right"></span> ';
		} else {
			$html .= ' <span class="caret"></span> ';
		}
	}
	$html .= '</a>' . PHP_EOL;
	// store as previous depth for next iteration
	$prevDepth = $depth;
}

if ($html) {
	// done iterating container; close open ul/li tags
	for($i = $prevDepth + 1; $i > 0; $i --) {
		$myIndent = $indent . str_repeat ( '        ', $i - 1 );
		$html .= $myIndent . '    </li>' . PHP_EOL . $myIndent . '</ul>' . PHP_EOL;
	}
	$html = rtrim ( $html, PHP_EOL );
}
echo $html;