<?php
use Core\Functions;
$title = $this->translate('Newsletter Subscription');
$this->pageTitle($title);
$array = array(
    'elements' => array(
        'firstName' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'lastName' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        )
    )
);
?>
<div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">


        <div class="cool-block">
            <div class="cool-block-bor">

                <h3 class="heading"><?php echo $title; ?></h3>
                <hr>
                <?php echo $this->flashMessenger(); ?>
                <?php
                $form = $this->form;
                $this->sbForm($form, $array);
                echo $this->form($form, null);
                ?>

               


            </div>   
        </div>

    </div>
</div>
