<?php

use Core\Functions;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams();
ob_start();
$title = $this->translate('Apply Discount Coupon');
$item->setTitle($title);
$sm = Functions::getServiceLocator();
$form = $sm->get('Coupon\Form\ApplyCoupon\CouponFactory');
$form->setAttribute('action', $this->url('coupon-add'));
$form->getRecord();
?>

<?php
$value = $form->get('coupon')->getValue();
if ($value) {
    ?>
    <div class="text-right"><a href="<?php echo $this->url('coupon-remove'); ?>"><i class="glyphicon glyphicon-remove"></i> <?php echo $this->translate('Remove Coupon'); ?></a></div>
    <?php
}

$this->sbForm($form);
echo $this->form($form,null);
?>
<?php
$content = ob_get_clean();
$item->setContent($content);
$item->setWeight(500);
?>