<?php
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;

use Kendo\Lib\Core\JavascriptFunction;

use BlucartGrid\Option\Grid;

$grid = new Grid ( 'test' );

$grid->setHasDetail ( true );
$obj = $this->blucartGrid ( $grid );
$grid->setToolbar ( array (
		'create',
		'save',
		'cancel',
		'destroy' 
) );
$columns = $grid->getColumns ();

$columnItem = $columns->getColumn ( 'user.id' );
$columnItem->setAggregates ( array (
		'count',
		'max' 
) );

$columnItem->setFooterTemplate ( "Sum: #=sum# <br> Total Count: #=count#" );
$columnItem->setGroupFooterTemplate ( "Count: #=count# , Max: #=max#" );
/*
$commandItem = new CommandItem ();
$commandItem->setName ( 'edit' );
$columns->addCommand ( 'edit', $commandItem );

$commandItem = new CommandItem ();
$commandItem->setName ( 'destroy' );
$columns->addCommand ( 'destroy', $commandItem );
*/

// $commandItem = new CommandItem ();
// $commandItem->setName ( 'details' );
// $functionName = new JavascriptFunction('userDetails');
// $commandItem->setClick($functionName);
// $columns->addCommand ( 'details', $commandItem );

$grid->setEditable ( array (
		'confirmation' => "Are you sure that you want to delete this record?",
		 'mode' => 'incell' ,
	//	'mode' => 'inline' 
) );

echo $obj->render ();

?>

<script>
function userDetails(e){
	var tr = $(e.target).closest('tr');
	var data = this.dataItem(tr);
	
}


</script>
