<h1 class="heading">Create Content</h1>
<?php if($message){ ?>
<div class="highlight">
	<pre>
   <?php echo $message; ?>
      </pre>
</div>
<?php
}
?>
<?php

$form = $this->form;
$form->prepare ();
echo $this->form ( $form );
?>

