<?php
use DluTwBootstrap\Form\FormUtil;

$form = $this->form;
$form->prepare ();
// echo $this->form($form);

$displayOptions = array (
		
		'elements' => array (
				'ModuleName' => array (
						'class' => 'col-sm-3 ',
						'required' => true 
				),
				'ControllerName' => array (
						'class' => 'col-sm-3 ',
						'required' => false 
				),
				'ServiceName' => array (
						'class' => 'col-sm-3',
						'required' => true 
				),
				'EventName' => array (
						'class' => 'col-sm-3',
						'required' => true 
				),
				'Entity' => array (
						'class' => 'input-medium',
						'class' => 'col-sm-3' 
				),
				'EntityName' => array (
						'class' => 'input-medium',
						'class' => 'col-sm-3' 
				),
				'submitBtn' => array (
						'class' => 'btn-large' 
				) 
		) 
);
// echo $this->form ( $form, FormUtil::FORM_TYPE_HORIZONTAL, $displayOptions
// );
$this->sbForm($form,$displayOptions);
?>
<?php if($message){ ?>
<div class="highlight">
	<pre>
   <?php echo $message; ?>
      </pre>
</div>
<?php
}
?>
<?php echo $this->form()->openTag($form ); ?>
	 <div class="controls controls-row">
		
	 <?php echo $this->formElement($form->get('ModuleName'),null, $displayOptions['elements']['ModuleName']);?>
	 <?php echo $this->formElement($form->get('ControllerName'),null, $displayOptions['elements']['ControllerName']);?>
	  <?php echo $this->formElement($form->get('ServiceName'),null, $displayOptions['elements']['ServiceName']);?>
	   <?php echo $this->formElement($form->get('EventName'),null, $displayOptions['elements']['EventName']);?>
	</div>

	<div class="controls controls-row">
	
	
	 <?php echo $this->formElement($form->get('Entity'),null, $displayOptions['elements']['Entity']);?>
	 <?php echo $this->formElement($form->get('EntityName'),null, $displayOptions['elements']['EntityName']);?>
	
	</div>
	<hr />
	<?php
	for($i = 0; $i < $this->limit; $i ++) {
		
		?>
		<div class="controls controls-row">
		<?php echo $this->formElement($form->get('ColumnName_' . $i),null,array('class'=> 'col-sm-3'));?>
		<?php echo $this->formElement($form->get('Key_' . $i),null,array('class'=> 'col-sm-3'));?>
		<?php echo $this->formElement($form->get('Title_' . $i),null,array('class'=> 'span2'));?>
		<?php echo $this->formElement($form->get('Type_' . $i),null,array('class'=> 'span2'));?>
		<?php echo $this->formElement($form->get('Editable_' . $i),null, array('inline'=> true, 'class'=> 'span2'));?>
		</div>
<?php
	}
	?>
	<hr />
	
	<div class="controls controls-row">
		
	
	 <?php echo $this->formRow($form->get('toolbar'));?>
	
	 </div>
<div class="controls controls-row">
		
	
	 <?php echo $this->formElement($form->get('submit'));?>
	
	 </div>


<?php echo $this->form()->closeTag(); ?>
</div>