<?php
$element = $this->element;
$fileName = $element->getName () . '_files';
$createFileNames = $element->getName () . '_create';
$deleteFileNames = $element->getName () . '_delete';
$fileUrlName = $element->getName () . '_url';

?>


<?php $this->inlineScript()->captureStart();?>
$(function(){
var elementSelector = $('input[name="<?php echo $element->getName();?>"]');
var formSelector = elementSelector.parents('form');
var formName = formSelector.attr('name');
var <?php echo $fileUrlName; ?> = "<?php echo $url ?>";    

formSelector.fileupload({
	        url: <?php echo $fileUrlName; ?>,
	       autoUpload: true,
    	    
     	    maxFileSize: <?php echo $element->getMaxFileSize(); ?>,
     	    acceptFileTypes: <?php echo $element->getAcceptFileTypes(); ?>,
     	    maxNumberOfFiles:<?php echo $element->getMaxNumberOfFiles(); ?>,
     	    		
     	    process: [
     	        {
     	            action: 'load',
     	            fileTypes: <?php echo $element->getFileTypes(); ?>,
     	            maxFileSize: <?php echo $element->getMaxFileSize(); ?> // 20MB
     	        },
     	        {
     	            action: 'resize',
     	            maxWidth: <?php echo $element->getMaxWidth(); ?>,
     	            maxHeight: <?php echo $element->getMaxHeight(); ?>
     	        },
     	        {
     	            action: 'save'
     	        }
     	    ],
     	     	    
	    });
	        $.ajax({
	            url: <?php echo $fileUrlName; ?>,
	            data:{images: elementSelector.val() },
	            dataType: 'json',
	            context: formSelector,
	        }).always(
        function () {
                    $(this).removeClass('fileupload-processing'); //remove fileupload-processing class from #fileupload element
            }
   			 ).done(function (result) {
	         if(result && result.files && result.files.length){
	            $(this).fileupload('option', 'done').call(this, null, {result: result});
	            }
	        });

	 
	       
	 formSelector.submit( function(){ 
	   	 var array = new Array(); 
	   	 var values = $('.files td .file-name ');
	        $.each(values, function (index, file) {
	        	  array[index] = $(file).html(); 
	        	  }); 

	      	  elementSelector.val(array.join()); 
	      	  return true;
	      	  });
	      	  
	$(document).on('click','.file-upload-delete',function () {
	    var imageName = $(this).closest('tr').find('td .file-name').html();
	    var value = $(this).closest('form').find('input[name="<?php echo $deleteFileNames?>"]').val();
	     $(this).closest('form').find('input[name="<?php echo $deleteFileNames?>"]').val(value+','+imageName);
	   });
	    
	
});
<?php $this->inlineScript()->captureEnd();?>
<div class="row control-group file-upload-wrapper">
<?php

echo sprintf ( '<input %s%s', $attributeString, $closeBracketString );
?>
<input type="hidden" name="<?php echo $createFileNames; ?>" value=""> <input
		type="hidden" name="<?php echo $deleteFileNames; ?>" value="">

	<div
		class="col-sm-12 span12 fileupload-buttonbar <?php echo $element->getName(); ?>">
		<div class="col-sm-7 span7">
			<!-- The fileinput-button span is used to style the file input field as button -->
			<span class="btn btn-success fileinput-button"> <i
				class="glyphicon glyphicon-plus icon icon-plus"></i> <span><?php
				echo $element->getButtonText ();
				?></span> <input type="file" name="files[]" multiple>
			</span>

			<!-- The global file processing state -->
			<span class="fileupload-process"></span>
		</div>
		<!-- The global progress state -->
		<div class="col-sm-5 span5 fileupload-progress fade ">
			<!-- The global progress bar -->
			<div class="progress progress-striped active" role="progressbar"
				aria-valuemin="0" aria-valuemax="100">
				<div class="progress-bar progress-bar-success" style="width: 0%;"></div>
			</div>
			<!-- The extended global progress state -->
			<div class="progress-extended">&nbsp;</div>
		</div>

	</div>
	<!-- The table listing the files available for upload/download -->
	<table role="presentation" class="table table-striped">
		<tbody class="files"></tbody>
	</table>
</div>



<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/x-tmpl', array (
		'id' => 'template-upload',
		'noescape' => true 
) );
?>

{% for (var i=0, file; file=o.files[i]; i++) { %}
<tr class="template-upload fade">
	<td><span class="preview"><a> {% if(file.thumbnail_url) { %} <img
				src="{%= file.thumbnail_url %}" /> {% } %}
		</a></span></td>
	<td>
		<p class="name file-name">{%=file.name%}</p> <strong class="error text-danger"></strong>
	</td>
	<td>
		<p class="size">Processing...</p>
		<div class="progress progress-striped active" role="progressbar"
			aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
			<div class="progress-bar progress-bar-success" style="width: 0%;"></div>
		</div>
	</td>
	<td >{% if (!i && !o.options.autoUpload) { %}
		<button class="btn btn-primary start" disabled>
			<i class="glyphicon glyphicon-upload icon icon-upload"></i> <span>Start</span>
		</button> {% } %} {% if (!i) { %}
		<button class="btn btn-danger cancel file-upload-delete">
			<i class="glyphicon glyphicon-ban-circle icon icon-ban-circle"></i> <span>Cancel</span>
		</button> {% } %}
	</td>
</tr>
{% } %}
<?php
$this->inlineScript ()->captureEnd ();

?>

<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/x-tmpl', array (
		'id' => 'template-download',
		'noescape' => true 
) );
?>
{% for (var i=0, file; file=o.files[i]; i++) { %}
<tr class="template-download fade">
	<td><span class="preview"> {% if (file.thumbnail_url) { %} <a
			href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}"
			data-gallery><img src="{%=file.thumbnail_url%}"></a> {% } %}
	</span></td>
	<td>
		<p class="name">
			{% if (file.url) { %} <a class="file-name" href="{%=file.url%}" title="{%=file.name%}"
				download="{%=file.name%}"{%=file.thumbnail_url?'data-gallery':''%}>{%=file.name%}</a>
			{% } else { %} <span>{%=file.name%}</span> {% } %}
		</p> {% if (file.error) { %}
		<div>
			<span class="label label-danger">Error</span> {%=file.error%}
		</div> {% } %}
	</td>
	<td><span class="size">{%=o.formatFileSize(file.size)%}</span></td>
	<td>{% if (file.deleteUrl) { %}
		<button class="btn btn-danger cancel file-upload-delete"
			data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"
			{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
			<i class="glyphicon glyphicon-trash"></i> <span>Delete</span>
		</button> <input type="checkbox" name="delete" value="1"
		class="toggle"> {% } else { %}
		<button class="btn btn-danger cancel file-upload-delete">
			<i class="glyphicon glyphicon-ban-circle icon icon-white icon-ban-circle"></i> <span>Delete</span>
		</button> {% } %}
	</td>
</tr>
{% } %}
<?php
$this->inlineScript ()->captureEnd ();
?>

