<?php
$element = $this->element;
$fileName = $element->getName () . '_files';
$createFileNames = $element->getName () . '_create';
$deleteFileNames = $element->getName () . '_delete';
$fileUrlName = $element->getName () . '_url';

$this->headLink ()->appendStylesheet ( $this->basePath ( '/assets/file/css/fileupload.css' ) );

$this->headScript ()->appendFile ( $this->basePath ( '/assets/file/js/fileupload.js' ) );
$this->headScript ()->appendFile ( $this->basePath ( '/assets/file/js/cors/jquery.xdr-transport.js' ), 'text/javascript', array (
		'conditional' => 'gte IE 8' 
) );
?>
<?php $this->inlineScript()->captureStart();?>
$(function(){
var elementSelector = $('input[name="<?php echo $element->getName();?>"]');
var formSelector = elementSelector.parents('form');
var <?php echo $fileUrlName; ?> = "<?php echo $url ?>";    

formSelector.fileupload({
	        url: <?php echo $fileUrlName; ?>,
	        add: function (e, data) {
    	        var jqXHR = data.submit()
    	            .success(function (result, textStatus, jqXHR) {
    	                })
    	            .error(function (jqXHR, textStatus, errorThrown) {
        	                    	            })
    	            .complete(function (result, textStatus, jqXHR) {
        	            });
    	    },
    	    
     	    maxFileSize: <?php echo $element->getMaxFileSize(); ?>,
     	    acceptFileTypes: <?php echo $element->getAcceptFileTypes(); ?>,
     	    maxNumberOfFiles:<?php echo $element->getMaxNumberOfFiles(); ?>,
     	    getNumberOfFiles: function(){
          return 1;
      },
     	    		
     	    process: [
     	        {
     	            action: 'load',
     	            fileTypes: <?php echo $element->getFileTypes(); ?>,
     	            maxFileSize: <?php echo $element->getMaxFileSize(); ?> // 20MB
     	        },
     	        {
     	            action: 'resize',
     	            maxWidth: <?php echo $element->getMaxWidth(); ?>,
     	            maxHeight: <?php echo $element->getMaxHeight(); ?>
     	        },
     	        {
     	            action: 'save'
     	        }
     	    ],
     	     	    
	    });
	        $.ajax({
	            url: <?php echo $fileUrlName; ?>,
	            data:{images: elementSelector.val() },
	            dataType: 'json',
	            context: formSelector,
	        }).done(function (result) {
	            $(this).fileupload('option', 'done').call(this, null, {result: result});
	        });

	      
	       
	 formSelector.submit( function(){ 
	   	 var array = new Array(); 
	   	 var values = $('.files td.name a ');
	        $.each(values, function (index, file) {
	        	  array[index] = $(file).html(); 
	        	  }); 

	      	  
	      	  elementSelector.val(array.join()); 
	      	  return true;
	      	  });
	      	
	      	$(document).on("click", 'div.<?php echo $element->getName(); ?> td.delete .btn-danger', function () {
	    var imageName = $(this).closest('tr').find('td.name a').html();
	    console.log(imageName);
	    var value = $('input[name="<?php echo $deleteFileNames?>"]').val();
	     $('input[name="<?php echo $deleteFileNames?>"]').val(value+','+imageName);
	   });
	      	  
	
	    
	
});
<?php $this->inlineScript()->captureEnd();?>
<?php

echo sprintf ( '<input %s%s', $attributeString, $closeBracketString );
?>
<input type="hidden" name="<?php echo $createFileNames; ?>" value="">
<input type="hidden" name="<?php echo $deleteFileNames; ?>" value="">

<div class="row fileupload-buttonbar <?php echo $element->getName(); ?>">

	<div class="span1"></div>
	<div class="span3">
		<!-- The fileinput-button span is used to style the file input field as button -->
		<span class="btn btn-success fileinput-button"> <i
			class="glyphicon glyphicon-plus"></i> <span><?php echo $element->getButtonText(); ?></span>
			<input type="file" name="files[]" multiple>
		</span>

		<!-- The loading indicator is shown during file processing -->
		<span class="fileupload-loading"></span>
	</div>
	<!-- The global progress information -->
	<div class="span7 fileupload-progress fade">
		<!-- The global progress bar -->
		<div class="progress progress-striped active" role="progressbar"
			aria-valuemin="0" aria-valuemax="100">
			<div class="progress-bar progress-bar-success" style="width: 0%;"></div>
		</div>
		<!-- The extended global progress information -->
		<div class="progress-extended">&nbsp;</div>
	</div>

</div>
<!-- The table listing the files available for upload/download -->
<table role="presentation" class="table table-striped">
	<tbody class="files"></tbody>
</table>




<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/x-tmpl', array (
		'id' => 'template-upload',
		'noescape' => true 
) );
?>

{% for (var i=0, file; file=o.files[i]; i++) { %}
<tr class="template-upload fade">
	<td class="preview"><span class="fade"></span></td>
	<td class="name"><span>{%=file.name%}</span></td>
	<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td> {%
	if (file.error) { %}
	<td class="error" colspan="2"><span class="label label-important">Error</span>
		{%=file.error%}</td> {% } else if (o.files.valid && !i) { %}
	<td>
		<div class="progress progress-success progress-striped active"
			role="progressbar" aria-valuemin="0" aria-valuemax="100"
			aria-valuenow="0">
			<div class="bar" style="width: 0%;"></div>
		</div>
	</td>
	<td class="start">{% if (!o.options.autoUpload) { %}
		<button class="btn btn-primary">
			<i class="icon-upload icon-white"></i> <span>Start</span>
		</button> {% } %}
	</td> {% } else { %}
	<td colspan="2"></td> {% } %}
	<td class="cancel">{% if (!i) { %}
		<button class="btn btn-danger">
			<i class="icon-ban-circle icon-white"></i> <span>Cancel</span>
		</button> {% } %}
	</td>
</tr>
{% } %}
<?php
$this->inlineScript ()->captureEnd ();

?>

<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/x-tmpl', array (
		'id' => 'template-download',
		'noescape' => true 
) );
?>

{% for (var i=0, file; file=o.files[i]; i++) { %}
<tr class="template-download fade">
	{% if (file.error) { %}
	<td></td>
	<td class="name"><span>{%=file.name%}</span></td>
	<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
	<td class="error" colspan="2"><span class="label label-important">Error</span>
		{%=file.error%}</td> {% } else { %}
	<td class="preview">{% if (file.thumbnail_url) { %} <a
		href="{%=file.url%}" title="{%=file.name%}" rel="gallery"
		download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a> {% }
		%}
	</td>
	<td class="name"><a href="{%=file.url%}" title="{%=file.name%}"
		rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
	</td>
	<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
	<td colspan="2"></td> {% } %}
	<td class="delete">
		<button class="btn btn-danger" data-type="{%=file.delete_type%}"
			data-url="{%=file.delete_url%}"
			{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
			<i class="icon-trash icon-white"></i> <span>Delete</span>
		</button>

	</td>
</tr>
{% } %}
<?php
$this->inlineScript ()->captureEnd ();
?>

