<?php
use DluTwBootstrap\Form\FormUtil;

use Core\Functions;

use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

$grid = new Grid ( 'adminCategory' );
$grid->setHasDetail ( true );
$obj = $this->blucartGrid ( $grid );
$grid->setGroupable ( true );
$grid->setToolbar ( array (
		'save',
		'cancel',
		'destroy' 
) );
$columns = $grid->getColumns ();
$columnItem = $columns->getColumn ( 'category.id' );
$columnItem->setTemplate('<a href="'.$this->url('admin-category-view').'/#= id #" >#= id #</a>');
$columnItem->setAggregates ( array (
		'count' 
) );
$columnItem->setGroupFooterTemplate ( "Count: #=count#" );

$commandItem = new CommandItem ();
$commandItem->setName ( 'edit' );
$functionName = new JavascriptFunction ( 'editAction' );
$commandItem->setClick ( $functionName );
$columns->addCommand ( 'edit', $commandItem );

$columnItem = $columns->getColumn ( 'category.status' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#statusTemplate").html()), {column:"status"})' ) );
?>

<?php
$searchForm = Functions::getServiceLocator ()->get ( 'Category\Form\AdminCategory\CategorySearchForm' );
$searchForm->setAttribute ( 'class', 'filter_form well form-inline' );
$searchForm->prepare ();
?>

<h1 class="heading"><?php echo $this->translate('Categories') ;?></h1>
<?php
echo $this->link ( 'adminCategory' )->render ();
?>



<?php
echo $this->form ( $searchForm, \TwbBundle\Form\View\Helper\TwbBundleForm::LAYOUT_INLINE);
echo $obj->render ();
?>


<?php
$this->inlineScript ()->captureStart ();
?>
jQuery(function(){
<?php echo $grid->getName(); ?>.attachSearchForm("<?php echo $searchForm->getName(); ?>");
});
function editAction(e){
	var url = "<?php echo $this->url('admin-category-add'); ?>";
	var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
	$.zoombox.open(url+'/'+dataItem.id,{
	width : $(window).width()-100, 
				height : $(window).height()-100
	});
}

<?php
$this->inlineScript ()->captureEnd ();
?>


