<?php

use File\Api\FileApi;
use Category\Api\CategoryApi;
use Config\Api\ConfigApi;
use User\Api\UserApi;
use Core\Functions;

$categoryId = Functions::fromRoute('categoryId');

$title = $this->translate('View Category');

if ($categoryId) {
    $category = CategoryApi::getCategoryById($categoryId);
    if ($category) {
        $title = $this->translate('Category') . ' - ' . $category->title;
    }
}
?>
<div class="row">
    <div class="col-md-12">
        <h1 class="heading">
            <?php echo $title; ?>
        </h1>

        <?php
        echo $this->tab('adminCategoryView')->render();
        echo $this->link('adminCategoryView')->render();
        ?>
        <div class="row">
            <div class="col-md-6">
                <h2 class="heading">
                    <a class="external_link zoombox"
                       href="<?php
                       echo $this->url('admin-category-add', array(
                           'categoryId' => $categoryId,
                           'action' => 'add'
                       ));
                       ?>"> Category Info</a>
                </h2>

                <?php
                $array = array(
                    'Category ID' => $category->id,
                    'Category Name' => $category->name,
                    'Category Title' => $category->title,
                    'Priority' => $category->weight,
                    'Status' => $category->status ? 'Active' : 'In Active',
                    'Parent Category' => $category->parent ? '<a href="' . $this->url('admin-category-view', array(
                                'categoryId' => $category->parent->id
                            )) . '" class="external_link">' . $category->parent->name . '</a>' : ''
                );

                /*
                 * @var $contentContainer
                 * \Common\Option\Content\ContentContainer
                 */
                $contentContainer = $this->content('adminCategoryViewTop', array(
                            'categoryId' => $categoryId
                        ))->getContentContainer();

                $items = $contentContainer->getItems();
                if (count($items)) {
                    foreach ($items as $key => $item) {
                        $array [$item->getTitle()] = $item->getContent();
                    }
                }
                $i = 0;
                foreach ($array as $key => $value) {
                    if ($i % 2 == 0) {
                        ?>
                        <div class="row">
                            <div class="col-md-12 inline-item clearfix">
                                <?php
                            }
                            ?>
                            <div class="col-md-6">
                                <div class="row">
                                    <span class=" col-md-6"><?php echo $key; ?></span>
                                    <span class=" col-md-6"><?php echo $value; ?></span>
                                </div>	
                            </div>
                            <?php
                            if ($i % 2 == 1) {
                                ?>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
                    <?php
                    $i ++;
                }

                if ($i % 2 == 1) {
                    echo '</div>';
                }
                ?>


            </div>

            <div class="span6">
                <h2 class="heading">
                    <a class="external_link zoombox"
                       href="<?php
                       echo $this->url('admin-category-image', array(
                           'categoryId' => $categoryId
                       ));
                       ?>"> Category Images</a>
                </h2>

                <?php
                $results = CategoryApi::getCategoryImageByCategoryId($categoryId, null);
                if ($results) {
                    ?>
                    <div id="small_grid" class="wmk_grid">
                        <ul>
                            <?php
                            foreach ($results as $result) {
                                $categoryImageId = $result ['categoryImageId'];
                                $categoryImage = CategoryApi::getCategoryImageById($categoryImageId);
                                if ($categoryImage->file) {
                                    ?>
                                    <li class="thumbnail"><a
                                            title="<?php echo $categoryImage->file->title; ?>"
                                            href="<?php
                                            echo FileApi::formImage($categoryImage->file->path, 600, 600, array(), true);
                                            ?>">
                                                <?php
                                                echo FileApi::formImage($categoryImage->file->path, 100, 100, array(
                                                    'title' => $categoryImage->file->title,
                                                    'alt' => $categoryImage->file->alt
                                                ));
                                                ?>
                                        </a>
                                        <p>
                                            <span><?php echo $categoryImage->file->title; ?></span>


                                        </p></li>

                                    <?php
                                }
                                ?>

                                <?php
                            }
                            ?>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <?php
                } else {
                    ?>
                    <div class='no-results'><?php echo $this->translate('no images found!'); ?></div>

                    <?php
                }
                ?>

            </div>
        </div>
    </div>
</div>


<?php
$this->inlineScript()->captureStart();
?>

jQuery(function(){
$(document).on("zoomboxClose", function(event) {
                NProgress.start();
                $('.main_content_content').mask('Loading..');
window.location = "";
});

$('#small_grid ul').imagesLoaded(function() {
// Prepare layout options.
var options = {
autoResize: true, // This will auto-update the layout when the browser window is resized.
container: $('#small_grid'), // Optional, used for some extra CSS styling
offset: 6, // Optional, the distance between grid items
itemWidth: 120, // Optional, the width of a grid item (li)
flexibleItemWidth: false
};

// Get a reference to your grid items.
var handler = $('#small_grid ul li');

// Call the layout function.
handler.wookmark(options);

$('#small_grid ul li > a').attr('rel', 'gallery').colorbox({
maxWidth	: '80%',
maxHeight	: '80%',
opacity		: '0.2', 
loop		: false,
fixed		: true
});
});

});
<?php
$this->inlineScript()->captureEnd();
?>

<?php
$request = Functions::getServiceLocator()->get('Request');
if ($request->isXmlHttpRequest()) {
    echo $this->inlineScript();
}