<?php

use ProductCategory\Api\ProductCategoryApi;
use File\Api\FileApi;
use Category\Api\CategoryApi;
use Core\Functions;

$categoryId = Functions::fromRoute('categoryId');
$category = CategoryApi::getCategoryById($categoryId);
if (!$category) {
    return;
}

$results = CategoryApi::getCategoryImageByCategoryId($category->id);


$this->pageTitle($category->title);
?>
<div class="row shop-items clearfix">


    <?php
    if (Functions::hasModule('ProductCategory')) {

        $results = ProductCategoryApi::getProductsByCategoryId($category->id, Functions::fromRoute('page'), Functions::fromRoute('perPage'));

        if ($results) {
            ?>

            <?php
            foreach ($results as $result) {
                ?>

                <?php
                echo $this->render('common/product-item-teaser', array('productId' => $result['productId'],
                    'gridClass' => 'col-md-4 col-sm-6 col-xs-12'
                ));
                ?>


                <?php
            }
            ?>

            <?php
        } else {
            ?>
            <div class="no-results-found"><?php echo $this->translate('Currently there are no products'); ?></div>
            <?php
        }
    }
    ?>


</div>
<div class="pagination clearfix">
    <?php echo $this->pagination(count($results)); ?>
</div>






