<?php

use User\Api\UserReportApi;

use Admin\Api\AdminApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();

ob_start ();
$item->setTitle ( 'Total Customers' );
$session = AdminApi::getDashboardSession ();
$total = UserReportApi::getAllUsersCount ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ) );
$chartType = AdminApi::getChartType ();

$results = null;
if ($chartType == 'week') {
	$results = UserReportApi::getAllUserCountByWeek ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} elseif ($chartType == 'month') {
	$results = UserReportApi::getAllUserCountByMonth ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} 

elseif ($chartType == 'year') {
	$results = UserReportApi::getAllUserCountByYear ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} else {
	$results = UserReportApi::getAllUserCountByDay ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
}
$temp = array ();
foreach ( $results as $result ) {
	$temp [] = ( float ) $result ['countUserId'];
}

?>
<div class="p_line_down p_canvas"><?php echo implode(',', $temp); ?></div>
<div class="ov_text">
	<strong><?php echo $this->numberFormat($total, \NumberFormatter::DECIMAL);?></strong>Users
</div>

<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 960 );
?>
