<?php
use Core\Functions;

use User\Api\UserApi;

use User\Api\UserReportApi;

use Payment\Api\PaymentApi;

use OrderMain\Api\OrderApi;

use OrderMain\Api\OrderReportApi;

use Admin\Api\AdminApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();
$session = AdminApi::getDashboardSession ();
$chartResults = null;
$chartType = AdminApi::getChartType ();
$chartResults = null;
if ($chartType == 'week') {
	$chartResults = UserReportApi::getAllUserCountByWeek ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} elseif ($chartType == 'month') {
	$chartResults = UserReportApi::getAllUserCountByMonth ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} elseif ($chartType == 'year') {
	$chartResults = UserReportApi::getAllUserCountByYear ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} else {
	$chartResults = UserReportApi::getAllUserCountByDay ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
}


$temp = array();
foreach($chartResults as $result){
    $temp[] = $result;
}
$chartResults = $temp;
?>
<div class="row-fluid">


	<div class="span7">
		<div class="heading clearfix">
			<h3 class="pull-left">Customers</h3>
			<span class="pull-right label label-info ttip_t"
				title="Here is a sample info tooltip">Info</span>
		</div>

		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#recent-users">Recent</a></li>
				<?php
				if (Functions::hasModule ( 'OrderMain' )) {
					?>
				<li class=""><a data-toggle="tab" href="#top-users">Best</a></li>
				<?php
				}
				?>

			</ul>
			<div class="tab-content">
				<div id="recent-users" class="tab-pane active">
					<table class="table table-striped table-bordered mediaTable">
						<thead>
							<tr>
								<th class="optional">User ID</th>
								<th class="essential persist">Customer</th>
								<th class="essential persist">Email</th>
								<th class="optional">Contact no.</th>
								<th class="optional">Status</th>
								<th class="essential">Date</th>
							</tr>
						</thead>

						<tbody>
				<?php
				$results = UserReportApi::getRecentUsers ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
				
				if ($results) {
					?>
				<?php
					
					foreach ( $results as $result ) {
						$user = UserApi::getUserById ( $result ['userId'] );
						
						?>
				
				<tr>
								<td><a href="<?php
						
echo $this->url ( 'admin-user-view', array (
								'userId' => $user->id 
						) );
						?>" class=""><?php

						
echo $user->id;
						?></a></td>
								<td><?php echo $user->firstName.' '.$user->lastName; ?></td>
								<td><?php echo $user->email; ?></td>
								<td><?php echo $user->contactNumber; ?></td>
								<td><?php echo $user->status?'Active':'In Active'; ?></td>
								<td>
					<?php echo $this->dateFormat($user->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>
					</td>
							</tr>
				<?php
					}
				} else {
					?>
				<tr>
								<td colspan="6"><?php echo $this->translate('Currently there are no users.'); ?></td>
							</tr>
				<?php
				}
				?>
			</tbody>
					</table>
				</div>

<?php
if (Functions::hasModule ( 'OrderMain' )) {
	?>
				<div class="tab-content">
					<div id="best-users" class="tab-pane">
						<table class="table table-striped table-bordered mediaTable">
							<thead>
								<tr>
									<th class="optional">User ID</th>
									<th class="essential persist">Customer</th>
									<th class="essential persist">Email</th>
									<th class="optional">Contact no.</th>
									<th class="optional">Revenue</th>
									<th class="optional">Total Orders</th>
								</tr>
							</thead>

							<tbody>
				<?php
	$results = OrderReportApi::getBestCustomers ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
	
	if ($results) {
		?>
				<?php
		
		foreach ( $results as $result ) {
			$user = UserApi::getUserById ( $result ['userId'] );
			
			?>
				
				<tr>
									<td><a href="<?php
						
echo $this->url ( 'admin-user-view', array (
								'userId' => $user->id 
						) );
						?>" class=""><?php echo $user->id; ?></a></td>
									<td><?php echo $user->firstName.' '.$user->lastName; ?></td>
									<td><?php echo $user->email; ?></td>
									<td><?php echo $user->contactNumber; ?></td>
									<td><?php echo $this->currencyFormat($result['sumAmount']); ?></td>
									<td>
					<?php echo $result['countOrders']; ?>
					</td>
								</tr>
				<?php
		}
	} else {
		?>
				<tr>
									<td colspan="6"><?php echo $this->translate('Currently there are no users.'); ?></td>
								</tr>
				<?php
	}
	?>
			</tbody>
						</table>
					</div>



				</div>
				<?php
}
?>
			</div>



		</div>
	</div>

	<div class="span5">
		<h3 class="heading">Customer Stastics</h3>
		<div id="user_chart"
			style="height: 250px; width: 80%; margin: 50px auto 0"></div>
	</div>

</div>
<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 900 );
?>
<?php $this->inlineScript()->captureStart(); ?>

 function createChart2(allData) {
  var sharedDataSource = new kendo.data.DataSource({
                     data: allData
                });
     $("#user_chart").kendoChart({
         dataSource: sharedDataSource,
         autoBind: false,
         legend: {
             visible: false
         },
         series: [{
             type: "column",
             field: "countUserId",
         }],
         axisDefaults: {
             labels: {
                 font: "11px Tahoma, sans-serif"
             }
         },
         valueAxis: {
            
         },
         categoryAxis: {
             field: "createdDate",
              labels: {
                rotation: -45          
              }
         },
         tooltip: {
             visible: true,
             
         }
     });
     sharedDataSource.read();
 }
 jQuery(function(){
 
 var data = <?php echo json_encode($chartResults, JSON_NUMERIC_CHECK); ?>;
 createChart2(data);
 
 });
 
 <?php $this->inlineScript()->captureEnd(); ?>