<?php 
use Core\Functions;
?>
<div class="modal modal-captcha fade" id="forgotPasswordModal" tabindex="-1" role="dialog"
	aria-labelledby="<?php echo $this->translate('Forgot Password'); ?>"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title"><?php echo $this->translate('Forgot Password'); ?></h4>
			</div>
			<div class="modal-body">
			<?php
			$sm = Functions::getServiceLocator ();
			$loginForm = $sm->get ( 'User\Form\UserForgotPassword\ForgotPasswordFactory' );
			$loginForm->setAttribute ( 'action', $this->url ( 'user-forgotpassword' ) );
			$this->sbForm ( $loginForm );
			echo $this->form ( $loginForm );
			?>
			
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>