<?php
use DluTwBootstrap\Form\FormUtil;

use Core\Functions;
?>
<div class="modal modal-captcha fade" id="registerModal" tabindex="-1" role="dialog"
	aria-labelledby="<?php echo $this->translate('Create New Account'); ?>"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title"><?php echo $this->translate('Create New Account'); ?></h4>
			</div>
			<div class="modal-body">
			<?php
			$sm = Functions::getServiceLocator ();
			$registerForm = $sm->get ( 'User\Form\UserRegister\RegisterFactory' );
			$registerForm->setName('userRegisterModal');
			$registerForm->setAttribute ( 'action', $this->url ( 'user-register' ) );
			$array = array (
					'elements' => array (
							'firstName' => array (
									'attributes' => array (
											'class' => 'input-medium' 
									) 
							),
							'lastName' => array (
									'attributes' => array (
											'class' => 'input-medium' 
									) 
							),
							'password' => array (
									'attributes' => array (
											'class' => 'input-medium' 
									) 
							),
							'confirmPassword' => array (
									'attributes' => array (
											'class' => 'input-medium' 
									) 
							) 
					)
					 
			);
			$registerForm->setAttribute ( 'class', 'format_form' );
			
			$this->sbForm ( $registerForm, $array );
			
			echo $this->form ( $registerForm, null );
			
			?>
			
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>