<?php
use User\Api\UserApi;
/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();
$user = UserApi::getLoggedInUser ();
$this->pageTitle ( 'User Addresses' );
if (! $user) {
	return;
}
$results = UserApi::getAddressByUserId ( $user->id );
?>
<div class="block user-orders">
	<div class="block-header">

		<h3><?php echo $this->translate('User Addresses'); ?> <span
				class="pull-right label label-info ttip_t">Total: <?php echo count($results); ?></span>
		</h3>


	</div>


	<div class="block-content">
		<div class="text-right">
			<p>
				<a
					href="<?php
					
					echo $this->url ( 'account-address-edit' );
					?>"
					class="zoombox w900 h700"><i class="glyphicon glyphicon-plus"></i> <?php echo $this->translate('Add Address'); ?></a>
			</p>
		</div>
		<table class="table table-striped table-bordered mediaTable">
			<thead>
				<tr>
					<th><?php echo $this->translate('ID'); ?></th>
					<th><?php echo $this->translate('Name'); ?></th>
					<th><?php echo $this->translate('Email'); ?></th>
					<th><?php echo $this->translate('Address'); ?></th>

					<th><?php echo $this->translate('Ph.No.'); ?></th>
					<th><?php echo $this->translate('Is Default'); ?></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
			<?php
			foreach ( $results as $result ) {
				?>
				<tr>
					<td><?php echo $result->id; ?></td>
					<td><?php echo $result->firstName.' '.$result->lastName; ?></td>
					<td><?php echo $result->email; ?></td>
					<td><?php echo $result->addressLine1.' '.$result->addressLine2; ?>,
					<br><?php echo $result->city; ?>, <?php echo $result->state; ?>,
					<br><?php echo $result->country; ?>
					<br><?php echo $result->postcode; ?>
					</td>
					<td><?php echo $result->contactNumber; ?></td>
					<td><?php  if($result->isDefault){ ?>
					<i class="icon icon-ok"></i>
					<?php
				}
				?>
					</td>
					<td><a
						href="<?php
				
				echo $this->url ( 'account-address-edit', array (
						'userAddressId' => $result->id 
				) );
				?>"
						class="zoombox w900 h700"><i class="icon icon-pencil"></i> <?php echo $this->translate('Edit'); ?></a>

						<a
						href="<?php
				
				echo $this->url ( 'account-address-remove', array (
						'userAddressId' => $result->id 
				) );
				?>"><i class="icon icon-trash"></i> <?php echo $this->translate('Delete'); ?></a>
					</td>
				</tr>
			
			<?php
			}
			if (! count ( $results )) {
				?>
			
				<tr>
					<td colspan="11"><?php echo $this->translate('Currently there are no orders'); ?></td>
				</tr>
				<?php
			}
			?>
			</tbody>
		</table>
	</div>
</div>
<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 400 );
?>