<?php
use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

$grid = new Grid ( 'adminOrderSaleReportDay' );
// $grid->setHasDetail ( true );

$grid->setGroupable ( false );
$grid->setPageable ( array (
		'pageSize' => 10,
		'previousNext' => true,
		'numeric' => true,
		'buttonCount' => 10,
		'input' => true,
		'pageSizes' => true,
		'refresh' => true,
		'info' => true 
) );

$obj = $this->blucartGrid ( $grid );

?>

<?php
$searchForm = Functions::getServiceLocator ()->get ( 'Report\Form\AdminOrderSaleReportSearch' );
$searchForm->setAttribute ( 'class', 'filter_form well form-inline' );
$searchForm->prepare ();
?>

<h1 class="heading"><?php  echo $this->translate('Sales Report');?></h1>

<?php
echo $this->tab ( 'adminOrderSaleReport' )->render ();
echo $this->link ( 'adminOrderSaleReport' )->render ();
echo $this->form ( $searchForm, \TwbBundle\Form\View\Helper\TwbBundleForm::LAYOUT_INLINE );
echo $obj->render ();
?>
<br>
<h2 class="heading"><?php  echo $this->translate('Chart');?></h2>

<div id="chart"></div>

<?php
include 'js.phtml';