<?php
use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

ob_start ();
/* @var $item BlucartGrid\Option\Helper\DetailItem */
$item = $this->item;
$params = $this->params;
$item->setTitle ( 'Countries' );
$grid = new Grid ( 'adminShippingAmountCountry' );
$obj = $this->blucartGrid ( $grid );
$grid->getDataSource ()->getTransport ()->getTransport ( 'read' )->setData ( array (
		'shippingAmountId' => $params ['id'] 
) );
$grid->setGroupable(false);
$pageable = $grid->getPageable();
if(is_array($pageable)){
	$pageable['pageSize'] = 5;
}
$grid->setPageable($pageable);

echo $this->link ( 'adminShippingAmountCountry' )->render ();



?>
<div class="top-links row">
	<div class="pull-right">
		<a class="btn bn-primary zoombox"
			href="<?php
			
			echo $this->url ( 'admin-shipping-amount-country', array (
					'shippingAmountId' => $params ['id'] 
			) );
			?>"><?php echo $this->translate('Manage Countries'); ?></a>
	</div>
</div>
<br>
<?php
echo $obj->render ();
echo $this->inlineScript ();

$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 1000 );
?>