<?php
use SagepayPayment\Option\Sagepay;
use Config\Api\ConfigApi;
use OrderMain\Api\OrderApi;
use Core\Functions;
use Shipping\Api\ShippingApi;

include 'country_code.php';
$orderId = $this->orderId;

$sagepayOption = new Sagepay();
$order = OrderApi::getOrderById($orderId);
$array['VendorTxCode'] = $order->id;
$array['ReferrerID'] = ConfigApi::getConfigByKey('PAYMENT_SAGEPAY_PARTNERID');
$array['Amount'] = round($order->amount, 2);

$array['Currency'] = ConfigApi::getCurrencyCode();
$array['CustomerName'] = $order->firstName . ' ' . $order->lastName;

$array['CustomerEMail'] = $order->email;
$array['SendEMail'] = ConfigApi::getConfigByKey('PAYMENT_SAGEPAY_SENDEMAIL');
$array['VendorEMail'] = ConfigApi::getConfigByKey('PAYMENT_SAGEPAY_VENDOR_EMAIL');

$address = OrderApi::getOrderBillingAddressByOrderId($order->id);

if ($address) {
    $array['BillingFirstnames'] = $address->firstName;
    $array['BillingSurname'] = $address->lastName;
    $array['BillingAddress1'] = $address->addressLine1;
    $array['BillingAddress2'] = $address->addressLine2;
    $array['BillingCity'] = $address->city;
    $array['BillingPostCode'] = $address->postcode;
    
    $countryCode = array_search($address->country, $countrycodes);
    $stateCode = '';
    if ($countryCode == 'US') {
        $stateCode = array_search($address->state, $usStateCodes);
    }
    
    $array['BillingCountry'] = $countryCode;
    
    $array['BillingState'] = $stateCode;
    $array['BillingPhone'] = $address->contactNumber;
}

if (Functions::hasModule('Shipping')) {
    
    $address = ShippingApi::getShippingAddressByOrderId($order->id);
    if ($address) {
        
        $array['DeliveryFirstnames'] = $address->firstName;
        $array['DeliverySurname'] = $address->lastName;
        $array['DeliveryAddress1'] = $address->addressLine1;
        $array['DeliveryAddress2'] = $address->addressLine2;
        $array['DeliveryCity'] = $address->city;
        $array['DeliveryPostCode'] = $address->postcode;
        
        $countryCode = array_search($address->country, $countrycodes);
        $stateCode = '';
        if ($countryCode == 'US') {
            $stateCode = array_search($address->state, $usStateCodes);
        }
        
        $array['DeliveryCountry'] = $countryCode;
        $array['DeliveryState'] = $stateCode;
        $array['DeliveryPhone'] = $address->contactNumber;
    }
}
$array['Description'] = ConfigApi::getConfigByKey('PAYMENT_SAGEPAY_DESCRIPTION');

$array['SuccessURL'] = $this->url('sagepaypayment-land', array(), array(
    'force_canonical' => true
));

$array['FailureURL'] = $this->url('sagepaypayment-error', array(), array(
    'force_canonical' => true
));

$query = '';

foreach ($array as $key => $value) {
    if ($query) {
        $query .= "&";
    }
    $query .= $key . '=' . $value;
}

$strCrypt = $sagepayOption->encryptAndEncode($query);

$strConnectTo = ConfigApi::getConfigByKey('PAYMENT_SAGEPAY_ENV');
;
if ($strConnectTo == "LIVE")
    $strPurchaseURL = "https://live.sagepay.com/gateway/service/vspform-register.vsp";
elseif ($strConnectTo == "TEST")
    $strPurchaseURL = "https://test.sagepay.com/gateway/service/vspform-register.vsp";
else
    $strPurchaseURL = "https://test.sagepay.com/simulator/vspformgateway.asp";

?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Redirecting to the payment gateway</title>


</head>

<body>

	<div class="ContentHeader">Posting The Data Securely To The Payment
		GATEWAY</div>
	<div class="ContentBodyText">
		<p>REDIRECTING..</p>

	</div>


	<form action="<?php echo $strPurchaseURL; ?>" method="post"
		id="SagePayForm" name="SagePayForm">
		<input type="hidden" name="navigate" value="" /> <input type="hidden"
			name="VPSProtocol"
			value="<?php echo ConfigApi::getConfigByKey('PAYMENT_SAGEPAY_PROTOCOL'); ?>">
			<input type="hidden" name="TxType"
			value="<?php echo ConfigApi::getConfigByKey('PAYMENT_SAGEPAY_TRANSACTION_TYPE'); ?>">
				<input type="hidden" name="Vendor"
				value="<?php echo ConfigApi::getConfigByKey('PAYMENT_SAGEPAY_VENDOR_NAME'); ?>">
					<input type="hidden" name="Crypt" value="<?php echo $strCrypt ?>">
	
	</form>

	<script>


function redirect () {
    var frm = document.getElementById("SagePayForm");
    frm.submit();
}
redirect();

</script>
</body>


</html>
