<?php
use Shipping\Api\ShippingApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();

$order = $contentContainer->getParam ( 'order' );
$orderId = $order->id;

$shipping = ShippingApi::getShippingOrderByOrderId( $orderId );
ob_start ();
$item->setTitle ( 'Shipping Information' );
if ($shipping) {
	?>
<address>
<?php
	if ($shipping->shippingStatus) {
		?>
	<strong>Shipping Status: <?php echo $shipping->shippingStatus->name; ?></strong>
	<?php
	}
	?>
	<br> 
	
		Shipping Type: <?php echo $shipping->name; ?><br>
		
		Tracking No.: <?php echo $shipping->trackingNo; ?><br>
		Amount Paid: <?php echo $this->currencyFormat($shipping->amount); ?><br>
		Last Updated Date: <?php echo $this->dateFormat($shipping->updatedDate,\IntlDateFormatter::MEDIUM, \IntlDateFormatter::MEDIUM); ?>
		
		
</address>
<?php
}
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 1000 );
?>





