<?php
use Shipping\Api\ShippingApi;

use OrderMain\Api\OrderApi;

use Kendo\Lib\Core\JavascriptFunction;

use BlucartGrid\Option\Grid;

/* @var $item BlucartGrid\Option\Helper\DetailItem */
$detailItem = $this->item;
$params = $this->params;
$orderId = $params ['id'];
$detailItem->setTitle ( 'Shipping Information' );
$order = OrderApi::getOrderById ( $orderId );
ob_start ();
$shipping = ShippingApi::getShippingOrderByOrderId ( $orderId );
?>
<br>
<?php 
if($shipping){
?>
<div class="row">
	<div class="col-md-12">
		

				<?php
				$array = array (
						'Shipping Type' => $shipping->name,
						'Tracking No' => $shipping->trackingNo,
						'Amount Paid' => $this->currencyFormat ( $shipping->amount ),
						'Last Updated Date' => $this->dateFormat ( $shipping->updatedDate, \IntlDateFormatter::MEDIUM, \IntlDateFormatter::MEDIUM ) 
				);
				if ($shipping->shippingStatus) {
					$array ['Shipping Status'] = $shipping->shippingStatus->name;
				}
				
				$i = 0;
				foreach ( $array as $key => $value ) {
					if ($i % 2 == 0) {
						?>
						
			<div class="row inline-item clearfix">
				<?php
					}
					?>
				<div class="col-md-5">
				<span class="item-key col-md-2"><?php echo $key; ?></span>
				<div class="item-value col-md-8"><?php echo $value; ?></div>
			</div>
			
				<?php
					if ($i % 2 == 1) {
						?>
				</div>
				<?php
					}
					?>
				<?php
					$i ++;
				}
				
				if ($i % 2 == 1) {
					echo '</div>';
				}
				?>
								
						
		</div>
</div>
<?php 
} else {
?>
<div class="no-results">No Results Found</div>
<?php 
}
?>

<?php
echo $this->inlineScript ();
$content = ob_get_clean ();
$detailItem->setContent ( $content );
$detailItem->setWeight(700);
