<?php
use Shipping\Api\ShippingApi;

use OrderMain\Api\OrderApi;

use Kendo\Lib\Core\JavascriptFunction;

use BlucartGrid\Option\Grid;

/* @var $item BlucartGrid\Option\Helper\DetailItem */
$detailItem = $this->item;
$params = $this->params;
$orderId = $params ['id'];
$detailItem->setTitle ( 'Shipping Address' );
$order = OrderApi::getOrderById ( $orderId );
ob_start ();
$address = ShippingApi::getShippingAddressByOrderId ( $order->id );
?>
<br>

<div class="row">
	<div class="col-md-12">
		

				<?php
				$array = array (
						'First Name' => $address->firstName,
						'Last Name' => $address->lastName,
						'Address Line1' => $address->addressLine1,
						'Address Line2' => $address->addressLine2,
						'City' => $address->city,
						'State' => $address->state,
						'Country' => $address->country,
						'Postcode' => $address->postcode,
						'ContactNumber' => $address->contactNumber 
				)
				;
				$i = 0;
				foreach ( $array as $key => $value ) {
					if ($i % 2 == 0) {
						?>
						
			<div class="col-md-10 inline-item clearfix">
				<?php
					}
					?>
				<div class="col-md-5">
                                    <div class="row">
					<span class="item-key col-md-2"><?php echo $key; ?></span>
					<div class="item-value col-md-8"><?php echo $value; ?></div>
                                    </div>
				</div>
			
				<?php
					if ($i % 2 == 1) {
						?>
				</div>
				<?php
					}
					?>
				<?php
					$i ++;
				}
				
				if ($i % 2 == 1) {
					echo '</div>';
				}
				?>
								
						
		</div>
</div>



<?php
echo $this->inlineScript ();
$content = ob_get_clean ();
$detailItem->setContent ( $content );
$detailItem->setWeight(800);
