<?php
use Shipping\Api\ShippingApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
$order = $contentContainer->getParam ( 'order' );
$orderId = $order->id;

$address = ShippingApi::getShippingAddressByOrderId ( $orderId );
ob_start ();
$item->setTitle ( 'Delivery Address' );
if ($address) {
	?>
<p>
<?php
	$addressFields = array (
			'addressLine1',
			'addressLine2',
			'city',
			'state',
			'country',
			'postcode',
			'contactNumber' 
	);
	
	$addressFields = array (
			implode ( ', ', array (
					$address->addressLine1,
					$address->addressLine2 
			) ),
			implode ( ', ', array (
					$address->city,
					$address->state 
			) ),
			$address->country . '.',
			implode ( ', ', array (
					$address->postcode,
					$address->contactNumber 
			) ) 
	);
	?>

	<?php
	$array = array ();
	
	foreach ( $addressFields as $value ) {
		if ($value) {
			$array [] = $value;
		}
	}
	?>
		
	<strong><?php echo $address->firstName; ?> <?php echo $address->lastName; ?></strong>
	<br>
			<?php echo implode('<br>', $array);?>
		</p>


<?php
}
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 1000 );