<?php
/* @var $grid BlucartGrid\Option\Grid */
$grid = $this->grid;
$detailContainer = $grid->getDetailContainer();
$items = $detailContainer->getItems ();
?>


<div class="grid-tabstrip">
	<ul>
	<?php
	$i = 0;
	foreach ( $items as $key => $item ) {
		?>
		<li 
		<?php if($i==0) {
			
			echo ' class= "k-state-active"';
			$i = 1;
		}?>
		><?php echo $item->getTitle(); ?></li>
		<?php
	}
	?>
		
	</ul>
	
	<?php
	foreach ( $items as $key => $item ) {
		?>
		<div>
		<?php echo $item->getContent(); ?>
	</div>
		<?php
	}
	?>
		
	
</div>
<script>
 jQuery(document).ready(function() {
	 $(".grid-tabstrip").kendoTabStrip({ animation: { open: { effects: "fadeIn" } } })
 });
</script>