<?php

use DluTwBootstrap\Form\FormUtil;
use Core\Functions;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$sm = Functions::getServiceLocator();
Functions::getRouteParams();
$form = $sm->get('ProductCategory\Form\CategoryFilterProduct\CategoryFilterProductFactory');

$sm = Functions::getServiceLocator();
if (Functions::getMatchedRouteName()) {
    $form->setAttribute('action', $this->url(Functions::getMatchedRouteName(), Functions::getRouteParams()));
}
?>
<div class="block-block"><?php
    $this->sbForm($form);

    echo $this->form()->openTag($form);

    $fieldsets = $form->getFieldsets();

    foreach ($fieldsets as $fieldset) {
        ?>	
        <div class="filter-fieldset <?php echo $fieldset->getName(); ?>">

            <?php
            $legend = $fieldset->getOption('legend');
            if ($legend) {
                ?>
                <div class="block-header">
                    <h3><?php echo $legend; ?></h3>
                </div>
                <?php
            }
            ?>
            <div class="filters">

                <?php
                $elements = $fieldset->getElements();

                foreach ($elements as $element) {
                    if ($element->getLabel()) {
                        ?>
                        <div class="block-header">
                            <h3><?php echo $element->getLabel(); ?></h3>
                        </div>

                        <?php
                    }
                    echo $this->formElement($element);
                    ?>

                    <?php
                }
                ?>
            </div>
        </div>
        <?php
    }

    $elements = $form->getElements();

    foreach ($elements as $key => $element) {
        ?>
        <div class="element <?php echo $key; ?>">
            <?php echo $this->formRow($element); ?>
        </div>
        <?php
    }

    echo $this->form()->closeTag();
    ?></div>
<?php
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000);
