<?php

use DluTwBootstrap\Form\FormUtil;
use Core\Functions;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$sm = Functions::getServiceLocator();
Functions::getRouteParams();
$form = $sm->get('ProductCategory\Form\CategoryFilterProductPriceRange\CategoryFilterProductPriceRangeFactory');

$sm = Functions::getServiceLocator();
if (Functions::getMatchedRouteName()) {
    $form->setAttribute('action', $this->url(Functions::getMatchedRouteName(), Functions::getRouteParams()));
}
$this->sbForm($form);
$categoryId = Functions::fromRoute('categoryId', 0);
$minPrice = ProductCategory\Api\ProductCategoryApi::getMinProductPriceByCategoryId($categoryId);
$maxPrice = ProductCategory\Api\ProductCategoryApi::getMaxProductPriceByCategoryId($categoryId);
if (!$maxPrice) {
    $maxPrice = 1000;
}
$step = 1; //ceil(($maxPrice-$minPrice)/10);

$priceRange = '';
$formMinPrice = $minPrice;
$formMaxPrice = $maxPrice;
if ($form->get('minPrice')->getValue()) {
    $formMinPrice = $form->get('minPrice')->getValue();
}
if ($form->get('maxPrice')->getValue()) {
    $formMaxPrice = $form->get('maxPrice')->getValue();
}
$form->setAttribute('style','display:none');
?>
<div class="col-xs-12"><input type="text" style="display:none" class="col-xs-12 span12 form-control" value="" data-slider-min="<?php echo $minPrice; ?>" data-slider-max="<?php echo $maxPrice; ?>" data-slider-step="<?php echo $step; ?>" data-slider-value="[<?php echo $formMinPrice; ?>,<?php echo $formMaxPrice; ?>]" name="price-range-slider" > </div>
<div class="row">
    <div class="col-xs-6 text-left"><?php echo $this->currencyFormat($minPrice); ?></div> <div class="col-xs-6 text-right"><?php echo $this->currencyFormat($maxPrice); ?></div>
</div>
<div class="row">
    <?php
    echo $this->form($form, null);
    ?>
</div>
<script>
<?php $this->inlineScript()->captureStart(); ?>
    $(function() {
        $('input[name="price-range-slider"]').slider({
            formater: function(value) {
                return ' <?php echo Config\Api\ConfigApi::getCurrencySymbol(); ?>' + value;
            }
        });
        $('input[name="price-range-slider"]').slider()
                .on('slide', function(ev) {
                    $('#categoryFilterProductPriceRange input[name="minPrice"]').val(ev.value[0]);
                    $('#categoryFilterProductPriceRange input[name="maxPrice"]').val(ev.value[1]);
                });
        $('input[name="price-range-slider"]').slider()
                .on('slideStop', function(ev) {
                    $('#categoryFilterProductPriceRange').submit();
                });
    });
<?php $this->inlineScript()->captureEnd(); ?>
</script>   

<?php
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000);
