@font-face {
	font-family: 'FutuMd';
	src: url('../fonts/FutuMd.eot');
	src: url('../fonts/FutuMd.woff') format('woff'),  url('../fonts/FutuMd.ttf') format('truetype'),url('../fonts/FutuMd.svg') format('svg');;
	
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FutuBd';
	src: url('../fonts/FutuBd.eot');
	src: url('../fonts/FutuBd.woff') format('woff'),  url('../fonts/FutuBd.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaLightBT';
	src: url('../fonts/FuturaLightBT.eot');
	src: url('../fonts/FuturaLightBT.woff') format('woff'),  url('../fonts/FuturaLightBT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'FutuMd', Helvetica, Arial, sans-serif;
	font-size: 1.4em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'FutuMd', Helvetica, Arial, sans-serif;
	color:#00AEE7;
}
.hometext p{
	text-align:justify;
}

.maincontwrap .menucontent {
	background-color: #33012c;
}
.menucontent .navbar-nav>li>a {
	font-family: 'FutuMd', Helvetica, Arial, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}
.cmplgo a img {
	margin-top: 45px;
}
.mrgntp {
	margin-top: 20px;
}
.usrtpmnu ul.navbar-nav > li > a {
	background: none repeat scroll 0 center rgba(0, 0, 0, 0);
	border-left: 1px solid #666666;
	line-height: 13px;
	padding-bottom: 0;
	padding-top: 0;
	color: #666666;
}
.usrtpmnu ul.navbar-nav > li:first-child > a {
	border-left: 0px;
}
.userdr span a {
	color: #666666;
}
.usrtpmnu span.userdr {
	padding: 4px;
}
.usrtpmnu .navbar-inverse {
	background-color: #00add6;
	border-color: #00add6
}
.usrtpmnu span a, .usrtpmnu span.userdr {
	color: #00aee7;
	font-size: 13px;
	/*font-weight:bold;*/
	text-transform: uppercase;
}
.usrtpmnu .navbar-inverse .navbar-brand {
	color: #fff
}
.usrtpmnu .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #fff;
	background-color: #FFA500
}
.usrtpmnu .navbar-inverse .navbar-text {
	color: #ff
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	/*margin-right:1px;
	margin-left:1px;*/
	/*padding: 15px 14px;*/
	padding:15px 12px 15px 13px
}
.usrtpmnu .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #FFA500
}
.usrtpmnu .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #FFA500
}
.navbar-nav > li{
	border-right:1px solid #fff;
}
.navbar-nav > li:last-child{
	border-right:none;
}

.tpcrt a.cartbkg {
	font-size: 18px;
}
.tpcrt .cpscrt {
	color: #00AEE7;
	font-size: 18px;
}
.srchform .form-control{
	height:35px;
}
.spcl h4, .sidenav h4, .shpb h4, .tstmnls h4 {
	color: #00aee7;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.sidenav ul li a {
	text-transform: uppercase;
	color: #5B5B5B;
	/*font-weight: bold;*/
	/*border: none;*/
}
.sidebar-nav ul li.active ul.in li a {
	color: #6A6A6B !important;
}
.pageTitle h2 {
	color: #C71585;
	text-transform: uppercase;
}
.tstmnls {
	border: 1px solid #0D75AC;
	border-radius: 25px;
}
.tstmnls blockquote {
	padding: 10px 0px;
	margin: 0px 5px 0px 5px;
	border-left: 0px;
}
.tstmnls blockquote p {
	color: #5B5B5B;
	font-style: italic;
	/*font-weight: bold;*/
	font-size: 14px;
	line-height: 1.8;
}
.tstmnls blockquote .small, .tstmnls blockquote small {
	color: #00AEE7;
	font-size: 13px;
	text-align: right;
}
.footrbkg {
	background: none repeat scroll 0 0 #333333;/*border-radius: 0 0 5px 5px;*/
}
.footercontbottomwrapper .footrbkg {
	border-radius: 0 0 5px 5px;
}
.sclmedia {
	color: red
}
.cstsrvc h4, .twfds h4, .prtys h4 {
	color: #F87D28;
}
.cstsrvc ul > li a, .twfds p {
	color: #999999;
	padding: 2% 0;
}
.cstsrvc ul > li a:hover {
	background: none;
	color: #fff;
}
.copyryt {
	border-top: 1px solid #444444;
}
.copyryt p {
	color: #777;
}
.media-body h5 a, .media-body h5 {
	color: #555555;/*font-weight: bold;*/
}
.media-body p {
	margin: 0px;
}
.media-body h5 a:hover, .media-body h5:hover, .media-body .sidenwprc {
	color: #00AEE7;
	text-decoration: none;
}
.sortcatalign {
	background: #f5f5f5;
	padding: 5px 0px;
}
.sortcatalign .sort span, .sortcatalign .limit span {
	padding: 7px 5px;
	font-weight: bold;
	float: left;
}
.prd {
	border: none;
}
.shop-items .prd .btn-default {
	color: #5555;
	background-color: #eeeee;
	border-color: #eeeee;
}
.prd:hover {
	box-shadow: 3px 3px 3px 3px #999;
}
.prd:hover .btn-default {
	color: #fff;
	background-color: #00AEE7;
	border-color: #00AEE7;
}
.wasprc {
	color: #00ADD6;
	margin-right: 2%;
}
.strke {
	text-decoration: line-through;
}
.newprc {
	color: #0D75AC;
	font-weight: bold;
}
.home-catgrs .caption h4 {
	color: #555555;
	padding: 0px;
	margin:0px;
	border: none;
	text-transform: uppercase;
}
.home-catgrs a{
	text-decoration:none;
}

.caption h4:hover, .caption h4 a:hover,.caption p:hover,.home-catgrs .thumbnail:hover .caption,.home-catgrs .thumbnail:hover .caption h4 {
	color: #00aee7;
	text-decoration: none;
}
.scslmdins img {
	margin-right: 3%;
}
.scslmdins, .mrgnbtm {
	margin-bottom: 10px;
}
.prtys span, .prtys span a, .prtys p, .prtys p a {
	color: #fff;
}
.prtys p, .prtys p a {
	margin-bottom: 0px;
}
.prtys span, .prtys span a {
	font-weight: bold;
}
.prdlst .prd a.btn-default {
	background: #EEEEEE;
	color: #555555;
	font-weight: bold;
	border-color: #EEEEEE;
}
.headng ,.relheading{
	color: #00AEE7;
	text-transform: uppercase;
}
.prdsidedesc h3,.relheading {
	text-transform: uppercase;
	border-bottom: 1px dashed #EEEEEE;
	color:#00AEE7;
}
.fulprdprc .wasprcprd {
	color: red;
	font-weight: bold;
}
.fulprdprc .newprcprd {
	color: #fff;
	font-weight: bold;
	background:#0D75AC;
	padding: 13px;
	border-radius:5px;
}

.sidebar-nav .navbar-collapse {
}
.checkavail {
	font-weight: bold;
}
#productAddToCartForm .btn-default ,.btn-info ,.btn-primary, .btn-primary:hover,.home-catgrs .thumbnail:hover span.btn,span.btn:hover{
	background-color: #00ADD6;
	border-color: #00ADD6;
	color: #FFFFFF;
}
.menucontent .navbar-inverse {
	background-color: #0D75AC;
	border: none;
}
.menucontent ul li.dropdown:hover .dropdown-menu {
	display: block;
}
.usrtpmnu, .usrtpmnu a, .usrtpmnu span a {
	color: #5555 !important;
}
.menucontent .navbar-inverse .navbar-nav>li>a:hover, .menucontent .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:active {
	color: #fff;
	background-color: #00add6;
	border: none;
}
.menucontent .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #00add6;
	border: none;
}
.dropdown-menu {
	z-index: 9999;
}
.menucontent .dropdown-menu {
	background: #00add6;
	color: #fff;
	border:none;
}
.menucontent .dropdown-menu>li>a, .menucontent .dropdown-menu>li>a:hover, .menucontent .dropdown-menu>li>a:focus {
	color: #fff;
	text-transform: uppercase;
	background: #00add6;
	border:none;
}
.sidebar-nav ul.nav > li > a:hover, .sidebar-nav .nav-pills > li.active > a, .sidebar-nav .nav-pills > li.active > a:hover, .sidebar-nav .nav-pills > li.active > a:focus {
background: none repeat scroll 0 0 #FFFFFF !important;
    color: #00ADD6 !important;
}

.thumbnail {
	display: block;
	padding:2px;
	/*	margin-bottom: 20px;*/

	line-height: 1.42857143;
	background-color: #fff;
	border: none;
	/*	border-radius: 4px;*/

	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}
.home-catgrs .thumbnail{
	margin-bottom:20px;
}
.prdlist .thumbnail,.prd{
	padding:15px;
	margin-bottom:5px;
}
.thumbnail>img, .thumbnail a>img {
	margin-left: auto;
	margin-right: auto
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #428bca
}
.thumbnail .caption {
	padding: 0px;
	color: #333;
	/*background: #FDB427;*/
	text-align: center;
}
/*** plus*******/
.glyphicon.plus:before {
	content: "+";
	font-size: 10px;
}
.active > a > .glyphicon.plus:before {
	content: "-";
	font-size: 18px;
	font-weight: bold;
}
.fa.plus:before {
	content: "+";
	font-size: 10px;
}
.active > a > .fa.plus:before {
	content: "-";
	font-weight: bold;
}
.sidenav .glyphicon {
	top: -4px !important;
}
/*** plus*******/
.label-info {
	background-color: #00add6;
}
.nav-stacked > li {
	float: left;
	width: 100%;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
	display: none;
}
ul li.active .glyphicon {
	top: 0px;
	bottom: 10px;
	font-size: 9px;
	font-weight: bolder;
}
.sidebar-nav ul {
	border: none;
}
.sidebar-nav ul li a {
	text-decoration: none;
	border-radius:0px;
	border-bottom:1px solid #ddf1f7;
}
a:focus {
	text-decoration: none;
}
.badge {
	border-radius: 18px;
	padding: 10px;
}
.badgeclr0 {
	background: #ef4035;
}
.badgeclr1 {
	background: #0d75bc;
}
.quantity-controlRow, .quantity-controlRow label {
	width: 100%;
}
.quantity-controlRow input {
	width: 50%;
}

.sortcatalign .form-control,.sortcatalign .sort span, .sortcatalign .limit span{
font-size:13px;
}
.brdrRght{
border-right:1px solid #ddf1f7;
}


/*
.shape{    
	border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	/*-o-transform: rotate(360deg);  /* Opera 10.5 */
/*	-webkit-transform:rotate(360deg);*/ /* Safari and Chrome */
	/*transform:rotate(360deg);
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}



.shape-text{
	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	/*-o-transform: rotate(360deg);*/  /* Opera 10.5 */
	/*-webkit-transform:rotate(30deg);*/ /* Safari and Chrome */
	/*transform:rotate(30deg);*/
/*}	
@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
  }
}*/
