<?php
use File\Api\FileApi;

use Config\Api\ConfigApi;

use User\Api\UserApi;
use Core\Functions;

$userId = Functions::fromRoute ( 'userId' );
$title = $this->translate ( 'View Customer' );
if ($userId) {
	$user = UserApi::getUserById ( $userId );
	if ($user) {
		$title = $this->translate ( 'Customer' ) . ' - ' . $user->firstName . ' ' . $user->lastName;
	}
}
?>
<div class="row">
	<div class="col-md-12">
		<h1 class="heading"><?php echo $title;?></h1>
		<?php
		echo $this->tab ( 'adminUserView' )->render ();
		echo $this->link ( 'adminUserView' )->render ();
		?>
		<div class="row">
			<div class="col-md-12">
				<div class="vcard">
				
				<?php
				if ($user->avatar) {
					echo FileApi::formImage ( $user->avatar->path, 100, 100, array (
							'title' => $user->avatar->title,
							'alt' => $user->avatar->alt,
							'class' => 'thumbnail' 
					) );
				} else {
					?>
					<img alt="" src="http://www.placehold.it/80x80/EFEFEF/AAAAAA"
						class="thumbnail">
						<?php
				}
				?>
					<ul>
						<li class="v-heading">User info</li>
						<li><span class="item-key">First name</span>
							<div class="vcard-item"><?php echo $user->firstName;?></div></li>
						<li><span class="item-key">Last name</span>
							<div class="vcard-item"><?php echo $user->lastName;?></div></li>
						<li><span class="item-key">Email</span>
							<div class="vcard-item"><?php echo $user->email;?></div></li>
						<li><span class="item-key">Contact Number</span>
							<div class="vcard-item"><?php echo $user->contactNumber;?></div></li>
						<li><span class="item-key">Status</span>
							<div class="vcard-item"><?php echo $user->status?'Enabled':'Disabled';?></div></li>
						<li><span class="item-key">Role</span>
							<div class="vcard-item"><?php echo $user->userRole->title;?></div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<?php
$this->inlineScript ()->captureStart ();
?>

jQuery(function(){
	jQuery(document).on("zoomboxClose", function() {
	                NProgress.start();
                $('.main_content_content').mask('Loading..');	
        window.location = "";
	});
});
<?php
$this->inlineScript ()->captureEnd ();
?>


