<?php 
$this->headscript()->appendFile($this->basePath('/assets/block_manager/block_manager.js'));
$this->layout('layout/admin-layout');
?>
<div id="content" class="content row demo-block"
	data-region="content">
	<div class="col-xs-12">
		<div class="pull-left">
			<span class="drag label label-success">content</span>
		</div>
		
	</div>
</div>