<?php

use PaymentsensePayment\Option\PaymentFormHelper;
use Config\Api\ConfigApi;
use OrderMain\Api\OrderApi;
?>
<?php
include 'country_code.php';
$MerchantID = ConfigApi::getConfigByKey('PAYMENT_PAYMENTSENSE_MERCHANTID');
$Password = ConfigApi::getConfigByKey('PAYMENT_PAYMENTSENSE_PASSWORD');
$PreSharedKey = ConfigApi::getConfigByKey('PAYMENT_PAYMENTSENSE_PRESHAREDKEY');
$HashMethod = ConfigApi::getConfigByKey('PAYMENT_PAYMENTSENSE_HASHMETHOD');
$FormAction = ConfigApi::getConfigByKey('PAYMENT_PAYMENTSENSE_PAYMENTPROCESSORDOMAIN');
$ResultDeliveryMethod = ConfigApi::getConfigByKey('PAYMENT_PAYMENTSENSE_RESULTDELIVERYMETHOD');
$orderId = $this->orderId;
$order = OrderApi::getOrderById($orderId);

$callBackUrl = $this->url('paymentsensepayment-land', array(), array(
    'force_canonical' => true
        ));
$address = OrderApi::getOrderBillingAddressByOrderId($order->id);
$szAmount = strval(round($order->amount, 2) * 100);
$countryCurrency = ConfigApi::getCountryNameByCountryCode();
$szCurrencyCode = strval($countrycodes[$countryCurrency]);
$szOrderID = $order->id;
$szTransactionType = "SALE";
$szTransactionDateTime = date('Y-m-d H:i:s P');
$szOrderDescription = "";
$szCustomerName = $address->firstName . ' ' . $address->lastName;
$szAddress1 = $address->addressLine1;

$szAddress2 = $address->addressLine2;
$szAddress3 = "";
$szAddress4 = "";
$szCity = $address->city;
$szState = $address->state;
$szPostCode = $address->postcode;

$szCountryCode = strval($countrycodes[$address->country]);
$szCV2Mandatory = PaymentFormHelper::boolToString(true);
$szAddress1Mandatory = PaymentFormHelper::boolToString(true);
$szCityMandatory = PaymentFormHelper::boolToString(true);
$szPostCodeMandatory = PaymentFormHelper::boolToString(true);
$szStateMandatory = PaymentFormHelper::boolToString(true);
$szCountryMandatory = PaymentFormHelper::boolToString(true);

if ($ResultDeliveryMethod != "SERVER") {
    $szServerResultURL = "";
} else {
    $szServerResultURL = "";
}
if ($ResultDeliveryMethod != "SERVER") {
    $szPaymentFormDisplaysResult = "";
} else {
    $szPaymentFormDisplaysResult = PaymentFormHelper::boolToString(false);
}

if ($ResultDeliveryMethod == "SERVER" && PaymentFormHelper::stringToBool($szPaymentFormDisplaysResult) == false) {
    $szCallbackURL = $callBackUrl;
} else {
    $szCallbackURL = $callBackUrl;
}
$szStringToHash = PaymentFormHelper::generateStringToHash($MerchantID, $Password, $szAmount, $szCurrencyCode, $szOrderID, $szTransactionType, $szTransactionDateTime, $szCallbackURL, $szOrderDescription, $szCustomerName, $szAddress1, $szAddress2, $szAddress3, $szAddress4, $szCity, $szState, $szPostCode, $szCountryCode, $szCV2Mandatory, $szAddress1Mandatory, $szCityMandatory, $szPostCodeMandatory, $szStateMandatory, $szCountryMandatory, $ResultDeliveryMethod, $szServerResultURL, $szPaymentFormDisplaysResult, $PreSharedKey, $HashMethod); // pass
$szHashDigest = PaymentFormHelper::calculateHashDigest($szStringToHash, $PreSharedKey, $HashMethod);
?>
<div class="text-center">Posting The Data Securely To The Payment
                        GATEWAY</div>
            <form name="paymentsenseForm" action="<?= $FormAction ?>" id="paymentsenseForm"
                  method="post">
                      <?php
                      ?>

                    

                    <input type="hidden" name="HashDigest" value="<?= $szHashDigest ?>" />
                    <input type="hidden" name="MerchantID" value="<?= $MerchantID ?>" />
                    <input type="hidden" name="Amount" value="<?= $szAmount ?>" /> <input
                        type="hidden" name="CurrencyCode" value="<?= $szCurrencyCode ?>" />
                    <input type="hidden" name="OrderID" value="<?= $szOrderID ?>" /> <input
                        type="hidden" name="TransactionType"
                        value="<?= $szTransactionType ?>" /> <input type="hidden"
                        name="TransactionDateTime" value="<?= $szTransactionDateTime ?>" />
                    <input type="hidden" name="CallbackURL"
                           value="<?= $szCallbackURL ?>" /> <input type="hidden"
                           name="OrderDescription" value="<?= $szOrderDescription ?>" /> <input
                           type="hidden" name="CustomerName" value="<?= $szCustomerName ?>" />
                    <input type="hidden" name="Address1" value="<?= $szAddress1 ?>" /> <input
                        type="hidden" name="Address2" value="<?= $szAddress2 ?>" /> <input
                        type="hidden" name="Address3" value="<?= $szAddress3 ?>" /> <input
                        type="hidden" name="Address4" value="<?= $szAddress4 ?>" /> <input
                        type="hidden" name="City" value="<?= $szCity ?>" /> <input
                        type="hidden" name="State" value="<?= $szState ?>" /> <input
                        type="hidden" name="PostCode" value="<?= $szPostCode ?>" /> <input
                        type="hidden" name="CountryCode" value="<?= $szCountryCode ?>" /> <input
                        type="hidden" name="CV2Mandatory" value="<?= $szCV2Mandatory ?>" />
                    <input type="hidden" name="Address1Mandatory"
                           value="<?= $szAddress1Mandatory ?>" /> <input type="hidden"
                           name="CityMandatory" value="<?= $szCityMandatory ?>" /> <input
                           type="hidden" name="PostCodeMandatory"
                           value="<?= $szPostCodeMandatory ?>" /> <input type="hidden"
                           name="StateMandatory" value="<?= $szStateMandatory ?>" /> <input
                           type="hidden" name="CountryMandatory"
                           value="<?= $szCountryMandatory ?>" /> <input type="hidden"
                           name="ResultDeliveryMethod" value="<?= $ResultDeliveryMethod ?>" />
                    <input type="hidden" name="ServerResultURL"
                           value="<?= $szServerResultURL ?>" /> <input type="hidden"
                           name="PaymentFormDisplaysResult"
                           value="<?= $szPaymentFormDisplaysResult ?>" /> <input type="hidden"
                           name="ServerResultURLCookieVariables" value="" /> <input
                           type="hidden" name="ServerResultURLFormVariables" value="" /> <input
                           type="hidden" name="ServerResultURLQueryStringVariables" value="" />


             

            </form>
       
      <script>


function redirect () {
    var frm = document.getElementById("paymentsenseForm");
    frm.submit();
}
redirect();



    </script>
</html>
