<?php
use Core\Functions;

use Admin\Api\AdminApi;

$session = AdminApi::getDashboardSession ();
$this->headScript ()->appendFile ( $this->basePath ( '/assets/admin/js/dashboard.js' ) );
?>

<div class="row">
	<div class="col-xs-12">
		<div class="pull-right">
			<form id="changeDashboardForm" action="" method="post">
				<div class="col-xs-4">
					<div class="input-append date" id="dp_start">
						<input class="span10" type="text" readonly="readonly"
							name="startDate"
							value="<?php echo $this->dateFormat($session->startDate, \IntlDateFormatter::SHORT); ?>"><span
							class="add-on"><i class="splashy-calendar_day_up"></i></span>
					</div>
					<span class="help-block">Start date</span>
				</div>
				<div class="span4">
					<div class="input-append date" id="dp_end">
						<input class="span10" type="text" readonly="readonly"
							name="endDate"
							value="<?php echo $this->dateFormat($session->endDate, \IntlDateFormatter::SHORT); ?>"><span
							class="add-on"><i class="splashy-calendar_day_down"></i></span>
					</div>
					<span class="help-block">End date</span>
				</div>
				<div class="span3">
					<div class="">
						<input class="btn" type="submit" value="change">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 tac">
		<ul class="ov_boxes">
			
			<?php
			/* @var $contentContainer \Common\Option\Content\ContentContainer */
			$contentContainer = $this->content ( 'adminDashboardTopStastics' )->getContentContainer ();
			
			$items = $contentContainer->getItems ();
			if (count ( $items )) {
				foreach ( $items as $key => $item ) {
					?>
					<li><?php echo $item->getContent();?></li>
<?php
				}
			}
			?>
		</ul>
	</div>
</div>


<?php
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->content ( 'adminDashboardMainContent' )->getContentContainer ();

$items = $contentContainer->getItems ();
if (count ( $items )) {
	foreach ( $items as $key => $item ) {
		?>
<?php echo $item->getContent();?>
<?php
	}
}
?>
<?php

$this->inlineScript ()->captureStart ();
?>
jQuery(function(){

	$("#changeDashboardForm").submit(function() {
	$('.main_content_content').mask('Loading..');
	    var url = $(this).attr('action'); // the script where you handle the form input.
		var data = $(this).serialize();
	    $.ajax({
	           type: "POST",
	           url: url,
	           data: data, // serializes the form's elements.
	           success: function(html)
	           {
	        	   $('.main_content_content').html(html);
	        	   $('.main_content_content').unmask();
	           }
	         });

	    return false; // avoid to execute the actual submit of the form.
	});
	
	$('#dp_start').datepicker({format: getLocaleDateString()}).on('changeDate', function(ev){
			var dateText = $(this).data('date');
			
			var endDateTextBox = $('#dp_end input');
			if (endDateTextBox.val() != '') {
				var testStartDate = new Date(dateText);
				var testEndDate = new Date(endDateTextBox.val());
				if (testStartDate > testEndDate) {
					endDateTextBox.val(dateText);
				}
			}
			else {
				endDateTextBox.val(dateText);
			};
			$('#dp_end').datepicker('setStartDate', dateText);
			$('#dp_start').datepicker('hide');
		});
		$('#dp_end').datepicker({format: getLocaleDateString()}).on('changeDate', function(ev){
			var dateText = $(this).data('date');
			var startDateTextBox = $('#dp_start input');
			if (startDateTextBox.val() != '') {
				var testStartDate = new Date(startDateTextBox.val());
				var testEndDate = new Date(dateText);
				if (testStartDate > testEndDate) {
					startDateTextBox.val(dateText);
				}
			}
			else {
				startDateTextBox.val(dateText);
			};
			$('#dp_start').datepicker('setEndDate', dateText);
			$('#dp_end').datepicker('hide');
		});
	
});
<?php
$this->inlineScript ()->captureEnd ();
?>

<?php
$request = Functions::getServiceLocator ()->get ( 'Request' );
if ($request->isXmlHttpRequest ()) {
	echo $this->headScript ();
	echo $this->inlineScript ();
}
?>




