<div class="error-block blocky text-center">
    <div class="container">
        <h2>Oops<span class="color">!!!</span> It<span class="color">'</span>s 404<span class="color">!!!</span></h2>
        <p class="error-para"><?php echo $this->translate('We are sorry, the page you requested cannot be found.'); ?> </p>
       
    </div>
</div>
