<?php
use Config\Api\ConfigApi;
use File\Api\FileApi;
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
?>
<div class="logo">
<?php

$logo = ConfigApi::getConfigByKey('SITE_LOGO');
$siteName = ConfigApi::getConfigByKey('SITE_NAME');

$url = $this->url('home');
if ($logo) {
    echo '<a href="' . $url . '" >' . FileApi::formImage($logo, 240, 105, array(
        'class' => 'img-responsive',
        'title' => $siteName,
        'alt' => $siteName
    )) . '</a></h1>';
} else {
    echo '<h1><a href="' . $url . '" >' .$siteName . '</h1></a>';
}
?>
</div>
<?php

$block = ob_get_clean();
$item->setBlock($block);
