<?php
use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();

$productId = $contentContainer->getParam ( 'productId' );
$grid = new Grid ( 'adminAttributeOptionProduct' );
$grid->setGroupable ( false );
$grid->addAdditionalParameter ( 'product', $productId );
$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();
$columns->getColumn ( 'attributeOptionProduct.id' )->setHidden ( true );
$grid->setToolbar ( null );
$grid->setEditable ( false );
$grid->getPageable ()->setPageSize ( 5 );
?>

<div class="row-fluid">

	<h2 class="heading">
		<a class="external_link zoombox"
			href="<?php
			
			echo $this->url ( 'admin-product-attribute-option', array (
					'productId' => $productId 
			) );
			?>"> <?php  echo $this->translate('Attributes');?></a>
	</h2>


<?php

echo $obj->render ();
?>
</div>
<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 800 );