<?php 
use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

$grid = new Grid ( 'adminOrder' );
$grid->setHasDetail ( true );
$grid->setGroupable ( true );

$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();
$columnItem = $columns->getColumn ( 'orderMain.id' );
$columnItem->setAggregates ( array (
		'count'
) );
$columnItem->setGroupFooterTemplate ( "Count: #=count#" );
$url = $this->url('admin-order-view');
$columnItem->setTemplate('<a href="'.$url.'/#= id#">#= id#</a>');

$columnItem = $columns->getColumn ( 'user.id' );
$url = $this->url('admin-user-view');
$columnItem->setTemplate('# if(userId) { # <a href="'.$url.'/#= userId#">#= userId#</a> #}#');

$columnItem = $columns->getColumn ( 'orderMain.amount' );
$columnItem->setAggregates ( array (
		'sum','average'
) );
$columnItem->setGroupFooterTemplate ( "Sum: #=kendo.toString(kendo.parseFloat(sum),'c')#, <br>Average: #=kendo.toString(kendo.parseFloat(avg),'c')#" );
?>



<h1 class="heading"><?php  echo $this->translate('Orders');?></h1>


<?php 
echo $this->tab ( 'adminOrder' )->render ();
echo $this->link ( 'adminOrder' )->render ();
?>
<?php
$searchForm = Functions::getServiceLocator ()->get ( 'OrderMain\Form\AdminOrder\OrderSearchForm' );
$searchForm->setAttribute ( 'class', 'filter_form well' );
$searchForm->prepare();
echo $this->form ( $searchForm, \TwbBundle\Form\View\Helper\TwbBundleForm::LAYOUT_INLINE);
?>
<?php 
echo $obj->render ();
?>
<?php
$this->inlineScript ()->captureStart ();
?>
jQuery(function(){
<?php echo $grid->getName(); ?>.attachSearchForm("<?php echo $searchForm->getName(); ?>");
});
<?php 
$this->inlineScript ()->captureEnd ();
?>