<?php

use Core\Functions;
use OrderMain\Api\OrderApi;

$orderId = Functions::fromRoute('orderId', 0);
$order = OrderApi::getOrderById($orderId);
?>
<h1 class="heading"><?php echo $this->translate('Order ID'); ?> #<?php echo $order->id; ?></h1>

<?php
echo $this->tab('adminOrderView')->render();
echo $this->link('adminOrderView')->render();
?>

<div class="clearfix"></div>
<div class="row">

    <div class="col-sm-12">
        <p class="sepH_a">
            <span class="muted sepV_b"><?php echo $this->translate('Order Status'); ?>:</span><span
                class="label label-info"><?php echo $order->orderStatus->name; ?></span>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <p>
            <strong class="muted"><?php echo $this->translate('Customer Information'); ?> </strong>
        </p>
        <address>
            <strong>
                <?php
                if ($order->user) {
                    ?>
                    <a
                        href="<?php echo $this->url('admin-user-view', array('userId' => $order->user->id)); ?>"
                        class="external_link"><?php echo $order->firstName; ?> <?php echo $order->lastName; ?></a>
                        <?php
                    } else {
                        ?>
                        <?php echo $order->firstName; ?> <?php echo $order->lastName; ?>
                        <?php
                    }
                    ?>
            </strong> <br> <?php echo $order->email; ?>
            <?php
            if ($order->user) {
                ?>
                <br>User ID: <a
                    href="<?php echo $this->url('admin-user-view', array('userId' => $order->user->id)); ?>"
                    class="external_link"><?php echo $order->user->id; ?></a>
                    <?php
                }
                ?>

        </address>
        <p>
            <strong class="muted">Order Date</strong>
        </p>
        <address>
            <strong><?php
                echo $this->dateFormat($order->createdDate, \IntlDateFormatter::MEDIUM, \IntlDateFormatter::MEDIUM);
                ?></strong>
        </address>
        <p>
            <strong class="muted">Last Updated Date</strong>
        </p>
        <address>
            <strong><?php
                echo $this->dateFormat($order->updatedDate, \IntlDateFormatter::MEDIUM, \IntlDateFormatter::MEDIUM);
                ?></strong>
        </address>
    </div>

    <div class="col-md-2 col-sm-6">
        <?php
        $addressFields = array(
            'addressLine1',
            'addressLine2',
            'city',
            'state',
            'country',
            'postcode',
            'contactNumber'
        );

        $address = OrderApi::getOrderBillingAddressByOrderId($order->id);
        if ($address) {
            $addressFields = array(
                implode(', ', array(
                    $address->addressLine1,
                    $address->addressLine2
                )),
                implode(', ', array(
                    $address->city,
                    $address->state
                )),
                $address->country . '.',
                $address->postcode,
                $address->contactNumber
            );
            ?>

            <?php
            $array = array();

            foreach ($addressFields as $value) {
                if ($value) {
                    $array [] = $value;
                }
            }
            ?>
            <p>
                <strong class="muted">Billing Address</strong>
            </p>
            <address>
                <strong><?php echo $address->firstName; ?> <?php echo $address->lastName; ?></strong>
                <br>
                <?php echo implode('<br>', $array); ?>
            </address>
            <?php
        }
        ?>
    </div>
    <?php
    /* @var $contentContainer \Common\Option\Content\ContentContainer */
    $contentContainer = $this->content('adminOrderContentTop', array(
                'order' => $order
            ))->getContentContainer();

    $items = $contentContainer->getItems();
    if (count($items)) {
        foreach ($items as $key => $item) {
            ?>
            <div class="col-md-2 col-sm-6">
                <p>
                    <strong class="muted"><?php echo $item->getTitle(); ?></strong>
                </p>
                <?php echo $item->getContent(); ?>
            </div>
            <?php
        }
    }
    ?>

</div>
<?php
$costPrice = 0;
?>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Model</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th class="invoice_tar">Total</th>
                </tr>
            </thead>
            <tbody>
                <?php
                $products = OrderApi::getOrderProductsByOrderId($order->id);
                foreach ($products as $p) {
                    ?>
                    <tr>
                        <td>
                            <?php if ($p->product) { ?>
                                <a
                                    href="<?php echo $this->url('admin-product-view', array('productId' => $p->product->id)); ?>"
                                    class="external_link"><?php echo $p->product->id; ?></a>
                                    <?php
                                }
                                ?>
                        </td>
                        <td>
                            <?php if ($p->product) { ?>
                                <a
                                    href="<?php echo $this->url('admin-product-view', array('productId' => $p->product->id)); ?>"
                                    class="external_link"><?php echo $p->productTitle; ?></a>
                                    <?php
                                } else {
                                    echo $p->productTitle;
                                }
                                ?>
                            <ul>
                                <?php
                                $orderLineItems = OrderApi::getOrderProductLineItemsByOrderProductId($p->id);
                                foreach ($orderLineItems as $item) {
                                    ?>
                                    <li><?php echo $item->title; ?>  <?php
                                        if ($item->value) {
                                            if (is_numeric($item->value)) {
                                                echo ': <b>' . $this->currencyFormat($item->value) . '</b>';
                                            } else {
                                                echo ': <b>' . $item->value . '</b>';
                                            }
                                        }
                                        ?></li>
                                    <?php
                                }
                                ?>
                            </ul>
                        </td>
                        <td><?php
                            if ($p->product) {
                                echo $p->product->sku;
                            }
                            ?></td>
                        <td><?php echo $p->qty; ?></td>
                        <td><?php echo $this->currencyFormat($p->sellPrice); ?></td>
                        <td class="invoice_tar"><?php echo $this->currencyFormat($p->amount) ?></td>
                    </tr>
                    <?php
                    $costPrice = $costPrice + ($p->costPrice * $p->qty);
                }
                ?>

                <tr>
                    <td colspan="5">&nbsp;</td>
                    <td class="invoice_tar">
                        <?php
                        $lineItems = OrderApi::getOrderLineItemByOrderId($order->id);
                        ?>
                        <?php foreach ($lineItems as $item) { ?>
                            <p class="sepH_a">
                                <span class="muted sepV_b"><?php echo $item->title; ?></span>
                                <?php
                                if ($item->value) {
                                    if (is_numeric($item->value)) {
                                        echo $this->currencyFormat($item->value);
                                    } else {
                                        echo $item->value;
                                    }
                                }
                                ?>

                            </p>
                            <?php
                        }
                        ?>
                        <p class="sepH_a text-success">
                            <strong><span class="sepV_b">Total</span><?php echo $this->currencyFormat($order->amount); ?></strong>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <div class="col-md-4 text-center">
                Total Amount : <b><?php echo $this->currencyFormat($order->amount); ?></b>
            </div>
            <div class="col-md-4 text-center">
                Total Cost : <b><?php echo $this->currencyFormat($costPrice); ?></b>
            </div>
            <div class="col-md-4 text-center">
                Total Profit : <b><?php echo $this->currencyFormat($order->amount - $costPrice); ?></b>
            </div>
            <br>
        </div>
    </div>
</div>

<?php
$logs = OrderApi::getLogsByOrderId($order->id);
if ($logs) {
    ?>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="heading">Order Logs</h3>
            <?php
            foreach ($logs as $log) {
                ?>
                <div class="well log-message">
                    <b><?php echo $this->dateFormat($log->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>: </b><?php echo $log->log; ?>
                </div>


        <?php
    }
    ?>

        </div>
    </div>

    <?php
}
?>
<?php
echo $this->content('adminOrderContentBottom', array(
    'order' => $order
))->render();
?>
<div class="row">
    <div class="col-md-12">
        <h2 class="heading">Comments</h2>
<?php
$comments = OrderApi::getOrderCommentsByOrderId($order->id);
foreach ($comments as $comment) {
    if ($comment->user) {
        ?>
                <b><?php echo $comment->user->firstName . ' ' . $comment->user->lastName ?></b>
                <?php
            }
            ?>( <?php echo $this->dateFormat($comment->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>)
            <?php
            if ($comment->displayFrontend) {
                ?>
                <span class="label label-info">Display Frontend</span>
                <?php
            }
            ?>
            <p><?php echo $comment->comment; ?></p>
            <?php
            $url = $this->url('admin-order-comment', array(
                'orderId' => $comment->orderMain->id,
                'orderCommentId' => $comment->id
            ));
            ?>
            <p>
                <a href="<?php echo $url; ?>" class="edit-comment zoombox"><?php echo $this->translate('edit'); ?></a>
            <?php
            $url = $this->url('admin-order-commentdelete', array(
                'orderId' => $comment->orderMain->id,
                'orderCommentId' => $comment->id
            ));
            ?>
                <a href="<?php echo $url; ?>" class="delete-comment"><?php echo $this->translate('delete'); ?></a>
            </p>
            <hr />


    <?php
}
?>
        <?php
        if (!count($comments)) {
            ?>



            <div class="empty-message">Currently there are no comments</div>
    <?php
}
?>
    </div>
</div>

<?php
$this->inlineScript()->captureStart();
?>

jQuery(function(){
jQuery(document).on("zoomboxClose", function() {
$('.main_content_content').mask('Loading..');
var url = $(this).attr('action'); // the script where you handle the form input.
var data = $(this).serialize();
$.ajax({
url: "",
success: function(html)
{
$('.main_content_content').html(html);
$('.main_content_content').unmask();
}
});

return false; // avoid to execute the actual submit of the form.
});
});
<?php
$this->inlineScript()->captureEnd();
?>

