<?php
use DluTwBootstrap\Form\FormUtil;

$this->pageTitle ( 'Save Quote' );
?>

<div class="row">

	<div class="span3"></div>
	<div class="span6">
		<div class="block box">

			<div class="block-header">
				<h3><?php echo $this->translate('Save Quote'); ?></h3>
			</div>
					<?php echo $this->flashMessenger(); ?>
					<?php
					$form = $this->form;
					$form->setAttribute ( 'action', $this->url ( 'quote-add' ) );
					$this->sbForm ( $form );
					echo $this->form ( $form );
					?>
					<!--end form-->

		</div>
	</div>
	<!--end register-->
	<div class="span3"></div>
</div>
