<?php
use User\Api\UserApi;
use Quote\Api\QuoteApi;

$user = UserApi::getLoggedInUser ();
$results = QuoteApi::getQuoteByUserId ( $user->id );
$this->pageTitle ( $this->translate ( 'My Quotes' ) );
?>
<div class="block user-orders">
	<div class="block-header">

		<h3><?php echo $this->translate('My Quotes'); ?> <span
				class="pull-right label label-info ttip_t"><?php echo $this->translate('Total').': '.count($results);?></span>
		</h3>


	</div>

	<div class="block-content">
		<table class="table table-striped table-bordered mediaTable">
			<thead>
				<tr>
					<th><?php echo $this->translate('Quote Ref.'); ?></th>
					<th><?php echo $this->translate('Name'); ?></th>
					<th><?php echo $this->translate('Total'); ?></th>
					<th><?php echo $this->translate('Date'); ?></th>
				</tr>
			</thead>

			<tbody>
				<?php
				
				if ($results) {
					?>
				<?php
					foreach ( $results as $result ) {
						?>
				
				<tr>
					<td><?php echo $result->id; ?></td>

					<td><?php echo $result->title; ?></td>
					<td><?php echo $this->currencyFormat($result->amount); ?></td>
					<td><?php echo $this->dateFormat($result->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?></td>
				</tr>
				<?php
					}
				}
				if (! count ( $results )) {
					?>
				<tr>
					<td colspan="4"><?php echo $this->translate('Currently there are no Quotes.'); ?></td>
				</tr>
				<?php
				}
				?>
			</tbody>
		</table>
	</div>
</div>