<?php
use Core\Functions;
use File\Api\FileApi;
use Product\Api\ProductApi;
use Quote\Api\QuoteApi;
$sm = Functions::getServiceLocator ();
/* @var $cart Checkout\Option\CartContainer */
$cart = $cartContainer;
if(!$cart){
    return;
}
$quoteId = Functions::fromRoute('quoteId',0);
$quote = QuoteApi::getQuoteById($quoteId);
if(!$quote){
    return false;
}
$cart->prepare ();

$cartItems = $cart->getCartItems ();
$this->pageTitle ( 'View Quote - '.$quote->title );
?>
<div class="block block-cart">
	<div class="block-header">
		<h3><?php echo $this->translate('View Quote - '. $quote->title);?></h3>
	</div>
	<div class="row">
		<div class="span12 ">
			<?php echo $this->flashmessenger(); ?>
			<table class="cart-table">
				<thead>
					<tr>
						<th class="card_product_image">Image</th>
						<th class="card_product_name">Product Name</th>
						<th class="card_product_model">Model</th>
						<th class="card_product_quantity">Quantity</th>
						<th class="card_product_price">Unit Price</th>
						<th class="card_product_total">Total</th>
					</tr>
				</thead>
				<tbody>

	<?php
	foreach ( $cartItems as $cartItem ) {
		$productId = $cartItem->getProductId ();
		$product = ProductApi::getProductById ( $productId );
		?>
	<tr>
						<td class="card_product_image"><a
							href="<?php echo $product?$this->url('product',array('productId' => $product->id)):'#'?>">
			<?php
		
		$image = $cartItem->getImage ();
		if ($image) {
			echo FileApi::formImage ( $image, 100, 100 );
		}
		?>
			
			</a></td>
						<td class="card_product_name"><a
							href="<?php echo $product?$this->url('product',array('productId' => $product->id)):'#'?>"><?php echo $cartItem->getTitle(); ?></a>

							<ul class="inlineitems">
							<?php
		$inItems = $cartItem->getInItems ();
		foreach ( $inItems as $inItem ) {
			?>
							
								<li><span class="inlinekey"><?php echo $inItem->getTitle(); ?></span>
									<?php
			$value = $inItem->getValue ();
			if (is_numeric ( $value )) {
				?>
									<span class="inlinevalue"><?php echo $this->currencyFormat($value); ?></span>
									<?php
			} else {
				?>
									<span class="inlinevalue"><?php echo $value; ?></span>
									<?php
			}
			?>
									</li>
									<?php
		}
		?>
							</ul>
							<ul class="outItems">
							<?php
		$outItems = $cartItem->getOutItems ();
		foreach ( $outItems as $outItem ) {
			?>
							
								<li><span class="outkey"><?php echo $outItem->getTitle(); ?></span>
									<?php
			$value = $outItem->getValue ();
			if (is_numeric ( $value )) {
				?>
									<span class="outvalue"><?php echo $this->currencyFormat($value); ?></span>
									<?php
			} else {
				?>
									<span class="outvalue"><?php echo $value; ?></span>
									<?php
			}
			?></li>
									<?php
		}
		?>
							</ul></td>
						<td class="card_product_model">
					<?php echo $cartItem->getSku(); ?>
					
					</td>
						<td class="card_product_quantity">

							<form class="cart-item-update"
								action="<?php
		echo $this->url ( 'updatequantity', array (
				'cartItemId' => $cartItem->getGeneratedKey () 
		) );
		?>"
								method="get">
								<input type="number" class="styler" name="quantity"
									value="<?php echo $cartItem->getQuantity(); ?>" min="0"> <a
									href="<?php
		
		echo $this->url ( 'removecartitem', array (
				'cartItemId' => $cartItem->getGeneratedKey () 
		) );
		?>"><i class="glyphicon glyphicon-trash"></i> </a> <br> <input
									type="submit" value="update" class="btn btn-primary">
							</form>

						</td>
						<td class="card_product_price"><?php echo $cartItem->getUnitPrice(); ?></td>
						<td class="card_product_total"><?php echo $cartItem->getTotalPrice(); ?></td>
					</tr>
	<?php
	}
	if (! $cartItems || ! count ( $cartItems )) {
		?>
	<tr>
						<td colspan="6"><div class="center"><?php echo $this->translate('Currently! There are no products in the quote');?></div></td>
					</tr>
	<?php
	}
	?>

	</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="span6">

			
			<!--end cart-accordain-->
		</div>
		<!--end span7-->
		<div class="span6">
			<div class="cart-receipt block">
				<table class="table receipt-table">
					<tbody>
					
					
							
						<tr>
							<td class="alignRight"><?php echo $this->translate('Subtotal'); ?></td>
							<td class="alignLeft"><?php echo $this->currencyFormat($cart->getSubTotalPrice()); ?></td>
						</tr>
						
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>