<?php
if ($this->pages) {
	?>
<nav>
	<div id="jCrumbs" class="breadCrumb module">
		<ul>
    <?php
	foreach ( $this->pages as $key => $page ) :
		if ($page->getHref () === '#')
			continue;
		?>
        <li>
            <?php
		if ($key < count ( $this->pages ) - 1) :
			?>
                <a href="<?php echo $page->getHref(); ?>"><?php echo $page->getLabel(); ?></a>
		 <?php

		else :
			?>
                <?php echo $page->getLabel(); ?>
            <?php endif; ?>
        </li>
        <?php endforeach; ?>
</ul>
	</div>
</nav>
<?php
}
?>