<?php
use Core\Functions;
use BlucartGrid\Option\Grid;

$grid = new Grid ( 'adminUserIndividualReportYear' );
// $grid->setHasDetail ( true );
$grid->addAdditionalParameter ( 'userId', $userId );
$grid->setGroupable ( false );

$obj = $this->blucartGrid ( $grid );
$grid->getPageable ()->setPageSize ( 5 );
?>

<?php
$searchForm = Functions::getServiceLocator ()->get ( 'Report\Form\AdminUserIndividualReportSearch' );
$searchForm->setAttribute ( 'class', 'filter_form well form-inline' );
$searchForm->setName ( 'adminUserIndividualReportYearForm' );
$searchForm->prepare ();
?>



<div class="row">
<?php
echo $this->form ( $searchForm, \TwbBundle\Form\View\Helper\TwbBundleForm::LAYOUT_INLINE);

?>
</div>
<div class="row">
	
		<div class="col-md-5">
<?php

echo $obj->render ();
?>

</div>
		<div class="col-md-7">
			<div id="adminUserIndividualReportYearChart"></div>
		</div>
	
</div>
<?php $this->inlineScript()->captureStart(); ?>


jQuery(function(){
<?php echo $grid->getName(); ?>.attachSearchForm("<?php echo $searchForm->getName(); ?>");
});
 function createAdminUserIndividualReportYearChart(allData) {
  var sharedDataSource = new kendo.data.DataSource({
                     data: allData
                });
     $("#adminUserIndividualReportYearChart").kendoChart({
         dataSource: sharedDataSource,
         legend: {
              position: "top"
         },
         series: [
         {
             type: "column",
             field: "amount",
              name: 'Revenue',
              axis: "amountAxis",
              tooltip: {
             visible: true,
             format: "{0:C}"
         }
         },
         {
             type: "line",
             field: "orders",
              name: 'Orders',
              axis: "ordersAxis",
              tooltip: {
             visible: true,
             format: "{0:N0}"
         }
         },
         {
             type: "line",
             field: "products",
              name: 'Products',
              axis: "productsAxis",
              tooltip: {
             visible: true,
             format: "{0:N0}"
         }
         },
         ],
         axisDefaults: {
             labels: {
                 font: "11px Tahoma, sans-serif"
             }
         },
         valueAxes: [
          {
                    name: "amountAxis",
                    title: { text: "Amount" },
                   
                    
                },
                 {
                    name: "ordersAxis",
                    title: { text: "Orders" },
                    color: "#4e4141"
                    
                },
            {
                    name: "productsAxis",
                    title: { text: "Products" },
                    color: "#4e4141"
                    
                },
            
               
         ],
         categoryAxis: {
             field: "orderDate",
              labels: {
                rotation: -45          
              }
         },
         tooltip: {
             visible: true
           
         }
        
     });
     sharedDataSource.read();
 }
 jQuery(document).ready(function() {
  var grid = $(".<?php echo $grid->getName();?>").data("kendoGrid");
	grid.bind("dataBound", grid_dataBound_year);
    
 });
 
 function grid_dataBound_year(e){
 allData = $(".<?php echo $grid->getName();?>").data("kendoGrid").dataSource.data();
   createAdminUserIndividualReportYearChart(allData);
 }
 
 
 <?php $this->inlineScript()->captureEnd(); ?>