<?php 
use DluTwBootstrap\Form\FormUtil;

use Core\Functions;

use Kendo\Lib\Grid\Option\Column\Command\CommandItem;

use Kendo\Lib\Core\JavascriptFunction;

use BlucartGrid\Option\Grid;

$grid = new Grid ( 'adminProduct' );
$grid->setHasDetail ( true );
$grid->setGroupable ( true );
$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();
$columnItem = $columns->getColumn ( 'product.id' );
$columnItem->setAggregates ( array (
		'count'
) );
$columnItem->setGroupFooterTemplate ( "Count: #=count#" );
$columnItem->setTemplate ( '<a href="'. $this->url('admin-product-view').'/#= id #" >#= id #</a>' );

$commandItem = new CommandItem ();
$commandItem->setName ( 'edit' );
$functionName = new JavascriptFunction ( 'editAction' );
$commandItem->setClick ( $functionName );
$columns->addCommand ( 'edit', $commandItem );

$columnItem = $columns->getColumn ( 'product.status' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#statusTemplate").html()), {column:"status"})' ) );

?>
<?php
$searchForm = Functions::getServiceLocator ()->get ( 'Product\Form\AdminProduct\ProductSearchForm' );
$searchForm->setAttribute ( 'class', 'filter_form well' );
$searchForm->prepare ();
?>

<h1 class="heading"><?php echo $this->translate('Products');?></h1>
<?php
echo $this->link ( 'adminProduct' )->render ();
?>

<?php 
echo $this->form ( $searchForm, \TwbBundle\Form\View\Helper\TwbBundleForm::LAYOUT_INLINE );
echo $obj->render ();

?>

<?php
$this->inlineScript ()->captureStart ();
?>
jQuery(function(){
<?php echo $grid->getName(); ?>.attachSearchForm("<?php echo $searchForm->getName(); ?>");
});
function editAction(e){
	var url = "<?php echo $this->url('admin-product-add'); ?>";
	var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
	$.zoombox.open(url+'/'+dataItem.id,{
	width : $(window).width()-100, 
				height : $(window).height()-100
	});
}

<?php
$this->inlineScript ()->captureEnd ();
?>
