<?php
use File\Api\FileApi;

use Product\Api\ProductApi;

use Config\Api\ConfigApi;

use User\Api\UserApi;
use Core\Functions;

$productId = Functions::fromRoute ( 'productId' );

$title = $this->translate ( 'View Product' );

if ($productId) {
	$product = ProductApi::getProductById ( $productId );
	if ($product) {
		$title = $this->translate ( 'Product' ) . ' - ' . $product->title;
	}
}
?>
<div class="row">
	<div class="col-md-12">
		<h1 class="heading">
			<?php echo $title;?>
		</h1>
		
		<?php
		echo $this->tab ( 'adminProductView' )->render ();
		echo $this->link ( 'adminProductView' )->render ();
		?>
		<div class="row">
			<div class="col-md-6">
				<h2 class="heading">
					<a class="external_link zoombox"
						href="<?php
						
						echo $this->url ( 'admin-product-add', array (
								'productId' => $productId,
								'action' => 'add' 
						) );
						?>"> Product Info</a>
				</h2>

				<?php
				$array = array (
						'Product ID' => $product->id,
						'Product Title' => $product->title,
						'SKU' => $product->sku,
						'Status' => $product->status ? 'Active' : 'In Active',
						'Cost Price' => $product->costPrice ? $this->currencyFormat ( $product->costPrice ) : '',
						'Sell Price' => $product->sellPrice ? $this->currencyFormat ( $product->sellPrice ) : '',
						'List Price' => $product->listPrice ? $this->currencyFormat ( $product->listPrice ) : '' 
				);
				
				/*
				 * @var $contentContainer
				 * \Common\Option\Content\ContentContainer
				 */
				$contentContainer = $this->content ( 'adminProductViewTop', array (
						'productId' => $productId 
				) )->getContentContainer ();
				
				$items = $contentContainer->getItems ();
				if (count ( $items )) {
					foreach ( $items as $key => $item ) {
						$array [$item->getTitle ()] = $item->getContent ();
					}
				}
				$i = 0;
				foreach ( $array as $key => $value ) {
					if ($i % 2 == 0) {
						?>
				<div class="col-md-12 inline-item clearfix">
				<?php
					}
					?>
				<div class="col-md-6">
						<span class="item-key"><?php echo $key; ?></span>
						<div class="item-value"><?php echo $value; ?></div>
					</div>
				<?php
					if ($i % 2 == 1) {
						?>
				</div>
				<?php
					}
					?>
				<?php
					$i ++;
				}
				
				if ($i % 2 == 1) {
					echo '</div>';
				}
				?>
								
						
		</div>

			<div class="col-md-6">
				<h2 class="heading">
					<a class="external_link zoombox"
						href="<?php
						
						echo $this->url ( 'admin-product-image', array (
								'productId' => $productId 
						) );
						?>"> Product Images</a>
				</h2>
				

				
					
                                   
				
<?php
$results = ProductApi::getProductImageByProductId ( $productId, null );
if ($results) {
	?>
	<div id="small_grid" class="wmk_grid">
					<ul>
<?php
	foreach ( $results as $result ) {
		$productImageId = $result ['productImageId'];
		$productImage = ProductApi::getProductImageById ( $productImageId );
		if ($productImage->file) {
			?>
		 <li class="thumbnail"><a
							title="<?php echo $productImage->file->title; ?>"
							href="<?php
			
			echo FileApi::formImage ( $productImage->file->path, 600, 600, array (), true );
			?>">
                                           <?php
			
			echo FileApi::formImage ( $productImage->file->path, 100, 100, array (
					'title' => $productImage->file->title,
					'alt' => $productImage->file->alt 
			) );
			?>
                                        </a>
							<p>
								<span><?php echo $productImage->file->title; ?></span>


							</p></li>

<?php
		}
		?>
		
		<?php
	}
	
	?>
</ul>
					<div class="clear"></div>
				</div>
<?php
} else {
	?>
<div class='no-results'><?php echo $this->translate('no images found!');?></div>

<?php
}
?>


				
				
				
				</div>
		</div>
	</div>
</div>

<?php
$this->inlineScript ()->captureStart ();
?>
jQuery(function(){
	jQuery(document).on("zoomboxClose", function(event) {
		
                NProgress.start();
                $('.main_content_content').mask('Loading..');
                window.location = "";

	    return false; // avoid to execute the actual submit of the form.
	});
	
	 $('#small_grid ul').imagesLoaded(function() {
                // Prepare layout options.
                var options = {
                  autoResize: true, // This will auto-update the layout when the browser window is resized.
                  container: $('#small_grid'), // Optional, used for some extra CSS styling
                  offset: 6, // Optional, the distance between grid items
                  itemWidth: 120, // Optional, the width of a grid item (li)
				  flexibleItemWidth: false
                };
                
                // Get a reference to your grid items.
                var handler = $('#small_grid ul li');
                
                // Call the layout function.
                handler.wookmark(options);
                
                $('#small_grid ul li > a').attr('rel', 'gallery').colorbox({
                    maxWidth	: '80%',
                    maxHeight	: '80%',
                    opacity		: '0.2', 
                    loop		: false,
                    fixed		: true
                });
            });
	
});
<?php
$this->inlineScript ()->captureEnd ();
?>
