<?php
use Core\Functions;
use File\Api\FileApi;
use Product\Api\ProductApi;
use Quote\Api\QuoteApi;
$sm = Functions::getServiceLocator();
/* @var $cart Checkout\Option\CartContainer */
$cart = $this->cartContainer;
if (! $cart) {
    return;
}
$quoteId = $this->quoteId;
$quote = QuoteApi::getQuoteById($quoteId);
if (! $quote) {
    return false;
}
$cart->prepare();
$cartItems = $cart->getCartItems();
?>
<a href="<?php echo $this->basePath('/'); ?>"> <img
	src="<?php echo $this->basePath('/assets/trade_shading/images/logo.png'); ?>">
</a>

<h1><?php echo $this->translate('View Quote - '.$quote->title );?></h1>
<?php echo $this->flashmessenger(); ?>


<table>
	<thead>
		<tr>
			<th>Image</th>
			<th>Product Name</th>
			<th>Model</th>
			<th>Quantity</th>
			<th>Unit Price</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>

	<?php
foreach ($cartItems as $cartItem) {
    $productId = $cartItem->getProductId();
    $product = ProductApi::getProductById($productId);
    ?>
	<tr>
			<td class="card_product_image"><a
				href="<?php echo $product?$this->url('product',array('productId' => $product->id)):'#'?>">
			<?php
    
    $image = $cartItem->getImage();
    if ($image) {
        echo FileApi::formImage($image, 100, 100);
    }
    ?>
			
			</a></td>
			<td class="card_product_name"><a
				href="<?php echo $product?$this->url('product',array('productId' => $product->id)):'#'?>"><?php echo $cartItem->getTitle(); ?></a>

				<ul class="inlineitems">
							<?php
    $inItems = $cartItem->getInItems();
    foreach ($inItems as $inItem) {
        ?>
							
								<li><span class="inlinekey"><?php echo $inItem->getTitle(); ?></span>
									<?php
        $value = $inItem->getValue();
        if (is_numeric($value)) {
            ?>
									<span class="inlinevalue"><?php echo $this->currencyFormat($value); ?></span>
									<?php
        } else {
            ?>
									<span class="inlinevalue"><?php echo $value; ?></span>
									<?php
        }
        ?>
									</li>
									<?php
    }
    ?>
							</ul>
				<ul class="outItems">
							<?php
    $outItems = $cartItem->getOutItems();
    foreach ($outItems as $outItem) {
        ?>
							
								<li><span class="outkey"><?php echo $outItem->getTitle(); ?></span>
									<?php
        $value = $outItem->getValue();
        if (is_numeric($value)) {
            ?>
									<span class="outvalue"><?php echo $this->currencyFormat($value); ?></span>
									<?php
        } else {
            ?>
									<span class="outvalue"><?php echo $value; ?></span>
									<?php
        }
        ?></li>
									<?php
    }
    ?>
							</ul></td>
			<td class="card_product_model">
					<?php echo $cartItem->getSku(); ?>
					
					</td>
			<td class="card_product_quantity">
                <?php echo $cartItem->getQuantity(); ?>
			</td>
			<td class="card_product_price"><?php echo $this->currencyFormat($cartItem->getUnitPrice()); ?></td>
			<td class="card_product_total"><?php echo $this->currencyFormat($cartItem->getTotalPrice()); ?></td>
		</tr>
	<?php
}
if (! $cartItems || ! count($cartItems)) {
    ?>
	<tr>
			<td colspan="6"><div class="center"><?php echo $this->translate('Currently! There are no products in the cart');?></div></td>
		</tr>
	<?php
}
?>

	</tbody>
</table>
<div class="row-fluid">
	<div class="span6">


		<!--end cart-accordain-->
	</div>
	<!--end span7-->
	<div class="span6">
		<div class="cart-receipt block">
			<table class="table receipt-table">
				<tbody>
					
					<?php
    $inItems = $cart->getInItems();
    if ($inItems) {
        foreach ($inItems as $inItem) {
            ?>
							
								<tr>
						<td class="text-right"><?php echo $inItem->getTitle(); ?></td>
							<?php
            $value = $inItem->getValue();
            if (is_numeric($value)) {
                ?>
							<td class="text-left"><?php echo $this->currencyFormat($value); ?></td>
									<?php
            } else {
                ?>
									<td class="text-left"><?php echo $value; ?></td>
									<?php
            }
            ?>
							
						</tr>
									<?php
        }
    }
    ?>
							
						<tr>
						<td class="text-right"><?php echo $this->translate('Subtotal'); ?></td>
						<td class="text-left"><?php echo $this->currencyFormat($cart->getSubTotalPrice()); ?></td>
					</tr>
						
						<?php
    if ($outItems) {
        $outItems = $cart->getOutItems();
        foreach ($outItems as $outItem) {
            ?>
							
								<tr>
						<td class="text-right"><?php echo $outItem->getTitle(); ?></td>
							<?php
            $value = $outItem->getValue();
            if (is_numeric($value)) {
                ?>
							<td class="text-left"><?php echo $this->currencyFormat($value); ?></td>
									<?php
            } else {
                ?>
									<td class="text-left"><?php echo $value; ?></td>
									<?php
            }
            ?>
						</tr>
									<?php
        }
    }
    ?>
						
						<tr>
						<td class="text-right">
							<h2><?php echo $this->translate('Total'); ?></h2>
						</td>
						<td class="text-left">
							<h2><?php echo $this->currencyFormat($cart->getTotalPrice()); ?></h2>
						</td>
					</tr>
					<tr>
						<td class="text-right"><a class="btn btn-primary"
							href="<?php echo $this->url('quote-load',array('quoteId' => $quote->id));?>"><i
								class="glyphicon glyphicon-ok"></i> Load Quote</a></td>
						<td class="text-left"><a class="btn btn-primary"
							href="<?php echo $this->url('quote-remove',array('quoteId' => $quote->id));?>"><i
								class="glyphicon glyphicon-trash"></i> Delete Quote</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
