/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Jan-2014, 13:09:33
    Author     : prashanth
*/

#nprogress .bar {
    background: #a90329;
    height: 3px;

}

/* Fancy blur effect */
#nprogress .peg {

    box-shadow: 0 0 10px #a90329, 0 0 5px #a90329;

}

#nprogress .spinner-icon {

    border-top-color: #a90329;
    border-left-color: #a90329;

}

.navbar-nav > li > a {
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
}

.nav > li > a:hover, .nav > li > a:focus  {
    background: none !important;
    border: 0px;
}

.kart-links a.btn{
    font-size: 14px;
    padding: 6px 12px;
}

.shop-items .item-price{
    width: 60px;
    margin: 7px 1px;
}

.shop-items .btn{
    padding: 5px;

}

.item-listprice{
    text-decoration: line-through;
}
.recent-posts .my_carousel{
    margin-top: 10px;
}
.recent-posts .my_carousel li {
    background: none !important;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    margin: 0px 5px;
    padding-bottom: 0px;
    padding-top: 0px;

}
.dropdown-menu a{

    color: #444444;

}

.dropdown-menu .product-image{
    width: 150px;
    text-align: center;
}
.dropdown-menu a.btn-info{
    background-color: #5BC0DE;
    color: #fff;
}

.sidey .nav > li.active > a{
    background:#0FA6BC;
}
.sidey .nav > li > a:hover{
    background:#0FA6BC !important;
}
#mobile-nav li  a.active, #mobile-nav li  a:hover{
    background:#0FA6BC !important;
}

.breadcrumb{
    background: none;
    font-weight: bold;
    border-bottom: 1px dashed #EEEEEE;
}

#productAddToCartForm input[name='quantity'][type="text"]{
    width: 100px;
}

.btn-default {
    background-color: #5BC0DE;
    border-color: #5BC0DE;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px #333333;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    background-color: #46b8da;
    border-color: #31b0d5;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px #333333;
}
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: #5BC0DE;
    border-color: #5BC0DE;
}

.btn-primary {
    background-color: #5BC0DE;
    border-color: #5BC0DE;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px #333333;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #46b8da;
    border-color: #31b0d5;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px #333333;
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #5BC0DE;
    border-color: #5BC0DE;
}

.positionupbutton {
    margin-right: 15px;
    margin-top: -45px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #0FA6BC;
    border-color: #0FA6BC;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #0FA6BC;

}
.kart-links a.btn{
    background-color: #46B8DA;
    border-color: #31B0D5;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #333333;
}

/* sidenav */
.sidebar {
    display: block;
    float: left;
    width: 250px;
    background: #333;
}
.content {
    display: block;
    overflow: hidden;
    width: auto;
}

.sidebar-nav{
    margin-bottom: 20px;
}

.short-description{
    height: 45px;
}

.navbar-toggle{
    border: 1px solid #fff;
}
.navbar-toggle .icon-bar{
    border: 1px solid #fff;
}

.sidebar-nav .navbar-toggle{
    border: 1px solid #46B8DA;
}
.sidebar-nav .navbar-toggle .icon-bar{
    border: 1px solid #46B8DA;
}
#productAddToCartForm [name="btnsubmit"]{
    margin-top: 16px;
}