<?php

use ProductFeatured\Api\ProductFeaturedApi;
use Product\Api\ProductApi;
use File\Api\FileApi;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$results = ProductFeaturedApi::getFeaturedProducts(0, 10);
foreach ($results as $result) {
    $product = \Product\Api\ProductApi::getProductById($result ['productId']);
    $url = $this->url('product', array('productId' => $product->id));
    ?>
    <div class="sitem row">
        <div class="col-sm-6">
            <!-- Image -->
            <a href="<?php echo $url; ?>"> <?php
                $image = ProductApi::getTopProductImageByProductId($product->id);
                if ($image && $image->file) {
                    echo FileApi::formImage($image->file->path, 150, 150, array(
                        'title' => $image->file->title,
                        'alt' => $image->file->alt,
                        'class' => 'img-responsive'
                    ),false,'ffffff');
                }
                ?></a>
        </div>
        <div class="col-sm-6">
            <!-- Title -->
            <a href="<?php echo $url; ?>"><?php echo $product->title; ?></a>
            <!-- Para -->
            <div class="clear">
            <!-- Price -->
            <?php
            if ($product->listPrice && ($product->sellPrice < $product->listPrice)) {
                ?>
                <!-- Price -->
                <div class="item-price item-listprice pull-left"><?php echo $this->currencyFormat($product->listPrice); ?></div>
                <?php
            }
            ?>
            <div class="item-price item-sellprice pull-left"> &nbsp;<?php echo $this->currencyFormat($product->sellPrice); ?></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <?php
}
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000);
