<?php

use PaypalPayment\Option\PaymentFormHelper;
use Config\Api\ConfigApi;
use OrderMain\Api\OrderApi;

$env = ConfigApi::getConfigByKey('PAYMENT_PAYPAL_ENVIRONMENT', 'LIVE');
$certificate = ConfigApi::getConfigByKey('PAYMENT_PAYPAL_CERTIFICATE');
$business = ConfigApi::getConfigByKey('PAYMENT_PAYPAL_BUSINESS');
$cancelUrl = ConfigApi::getConfigByKey('PAYMENT_PAYPAL_CANCEL_URL');
if (!$cancelUrl) {
    $cancelUrl = $this->url('cart', array(), array(
        'force_canonical' => true
    ));
}
$returnUrl = $this->url('paypalpayment-land', array(
    'orderId' => $this->orderId
        ), array(
    'force_canonical' => true
        ));
$notifyUrl = $this->url('paypalpayment-ipn', array(), array(
    'force_canonical' => true
        ));
$orderId = $this->orderId;
$order = OrderApi::getOrderById($orderId);
$host = 'https://www.sandbox.paypal.com/cgi-bin/webscr';
if ($env == 'LIVE') {
    $host = 'https://www.paypal.com/cgi-bin/webscr';
}
$itemName = 'Order ID: ' . $orderId;


$logo = ConfigApi::getConfigByKey('SITE_LOGO');

if ($logo) {
    $logo = $this->serverUrl(\File\Api\FileApi::formImage($logo, 150, 150, array(), true));
}
$address = OrderApi::getOrderBillingAddressByOrderId($order->id);
?>
<div class="text-center">
    <div class="text-center">
        <?php echo $this->translate('Posting The Data Securely To The Payment GATEWAY'); ?>
    </div>
    <form name="paypalForm" id="paypalForm" action="<?php echo $host; ?>" 
          method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="<?php echo $business; ?>">
        <input type="hidden" name="currency_code" value="<?php echo ConfigApi::getCurrencyCode(); ?>">
        <input type="hidden" name="item_name" value="<?php echo $itemName; ?>">
        <input type="hidden" name="amount" value="<?php echo round($order->amount, 2); ?>">
	<input type="hidden" name="custom" value="<?php echo $orderId; ?>">
        <input type="hidden" name="return" value="<?php echo $returnUrl; ?>">
        <input type="hidden" name="cancel_return"  value="<?php echo $cancelUrl; ?>" />
        <input type="hidden" name="notify_url" value="<?php echo $notifyUrl; ?>">
        <?php
        if ($logo) {
            ?>
            <input type="hidden" name="image_url" value="<?php echo $logo; ?>">
            <?php
        }
        ?>
        <input type="hidden" name="first_name" value="<?php echo  $address->firstName; ?>">
        <input type="hidden" name="last_name" value="<?php echo  $address->lastName; ?>">
        <input type="hidden" name="address1" value="<?php echo $address->addressLine1; ?>">
        <input type="hidden" name="address2" value="<?php echo $address->addressLine2; ?>">
        <input type="hidden" name="city" value="<?php echo $address->city; ?>">

        <input type="hidden" name="state" value="<?php echo ConfigApi::getStateCodeByStateName($address->state); ?>">
        <input type="hidden" name="zip" value="<?php echo $address->postcode; ?>">
        <input type="hidden" name="country" value="<?php echo ConfigApi::getCountryCodeByCountryName($address->country); ?>">
        <input type="hidden" name="lc" value="<?php echo ConfigApi::getCountryCodeByCountryName(); ?>">
        <input type="hidden" name="email" value="<?php echo  $order->email; ?>">
        <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" 
               border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    </form>
</div>
<script>
    function redirect() {
        var frm = document.getElementById("paypalForm");
        frm.submit();
    }
    redirect();
</script>
