<?php
use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();

$productId = $contentContainer->getParam ( 'productId' );
$grid = new Grid ( 'adminOrderProduct' );
$grid->setGroupable ( true );
$grid->addAdditionalParameter ( 'productId', $productId );
$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();

$columnItem = $columns->getColumn ( 'orderMain.id' );
$columnItem->setAggregates ( array (
		'count' 
) );
$columnItem->setGroupFooterTemplate ( "Count: #=count#" );
$columnItem->setTemplate ( '<a href="'.$this->url('admin-order-view').'/#= id #" >#= id #</a>');


$columnItem = $columns->getColumn ( 'user.id' );
$columnItem->setTemplate ( '<a href="'.$this->url('admin-order-view').'/#= userId #" >#= userId #</a>');

?>


<div class="row-fluid">
<h2 class="heading"><?php  echo $this->translate('Orders');?></h2>
<?php

echo $obj->render ();
?>
</div>


<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 600 );
?>