<?php
use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();

$userId = $contentContainer->getParam ( 'userId' );
$grid = new Grid ( 'adminOrderUser' );
$grid->setGroupable ( true );
$grid->addAdditionalParameter ( 'userId', $userId );
$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();

$columnItem = $columns->getColumn ( 'orderMain.id' );
$columnItem->setAggregates ( array (
		'count' 
) );
$columnItem->setGroupFooterTemplate ( "Count: #=count#" );
$columnItem->setTemplate ( '<a href="'.$this->url('admin-order-view').'/#= id #" >#= id #</a>' );
?>



<h2 class="heading"><?php  echo $this->translate('Orders');?></h2>
<?php

echo $obj->render ();
?>

<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 1000 );
