<?php
use OrderMain\Api\OrderApi;

use Kendo\Lib\Core\JavascriptFunction;

use BlucartGrid\Option\Grid;

/* @var $item BlucartGrid\Option\Helper\DetailItem */
$detailItem = $this->item;
$params = $this->params;
$orderId = $params ['id'];
$detailItem->setTitle ( 'Products' );
$order = OrderApi::getOrderById ( $orderId );
ob_start ();

?>
<br>
<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-bordered mediaTable">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Model</th>
					<th>Quantity</th>
					<th>Price</th>
					<th class="invoice_tar">Total</th>
				</tr>
			</thead>
			<tbody>
			<?php
			$products = OrderApi::getOrderProductsByOrderId ( $order->id );
			foreach ( $products as $p ) {
				
				?>
				<tr>
					<td>
					<?php
				if ($p->product) {
					echo '<a href="' . $this->url ( 'admin-product-view', array (
							'productId' => $p->product->id 
					) ) . '" class="external_link">' . $p->productTitle . '</a>';
				} else {
					echo $p->productTitle;
				}
				?>
					
					<ul>
						<?php
				$orderLineItems = OrderApi::getOrderProductLineItemsByOrderProductId ( $p->id );
				foreach ( $orderLineItems as $item ) {
					?>
						<li><?php echo $item->title; ?> <?php
					if ($item->amount) {
						echo ': <b>' . $this->currencyFormat ( $item->amount ) . '</b>';
					}
					?></li>
						<?php
				}
				?>
						</ul>
					</td>
					<td><?php
				if ($p->product) {
					echo $p->product->sku;
				}
				?></td>
					<td><?php echo $p->qty; ?></td>
					<td><?php echo $this->currencyFormat($p->sellPrice); ?></td>
					<td class="invoice_tar"><?php echo $this->currencyFormat($p->amount) ?></td>
				</tr>
				<?php
			}
			?>
				
				
			</tbody>
		</table>
	</div>
</div>



<?php
echo $this->inlineScript ();
$content = ob_get_clean ();
$detailItem->setContent ( $content );
$detailItem->setWeight (1000);
