<?php
use Kendo\Lib\Core\JavascriptFunction;

use BlucartGrid\Option\Grid;

/* @var $item BlucartGrid\Option\Helper\DetailItem */
$item = $this->item;
$params = $this->params;
$productId = $params ['id'];
$item->setTitle ( 'Orders' );
ob_start ();
$grid = new Grid ( 'adminOrderProduct' );
$grid->setGridName('adminOrderProduct_'.$productId);
$grid->setGroupable ( true );
$grid->addAdditionalParameter ( 'productId', $productId );
$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();
$grid->getPageable()->setPageSize(10);
$columnItem = $columns->getColumn ( 'orderMain.id' );
$columnItem->setAggregates ( array (
		'count'
) );
$columnItem->setGroupFooterTemplate ( "Count: #=count#" );
$columnItem->setTemplate ( '<a href="'.$this->url('admin-order-view').'/#= id #" >#= id #</a>' );


$columnItem = $columns->getColumn ( 'user.id' );
$columnItem->setTemplate ( '<a href="'.$this->url('admin-user-view').'/#= userId #" >#= userId #</a>' );


echo $obj->render ();
?>

<?php 
echo $this->inlineScript();
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight (  );
