<?php

use Payment\Api\PaymentApi;
use OrderMain\Api\OrderApi;
use OrderMain\Api\OrderReportApi;
use Admin\Api\AdminApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams();
ob_start();
$session = AdminApi::getDashboardSession();
$chartResults = null;
$chartType = AdminApi::getChartType();
if ($chartType == 'week') {
    $chartResults = OrderReportApi::getOrderSalesByWeek($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
} elseif ($chartType == 'month') {
    $chartResults = OrderReportApi::getOrderSalesByMonth($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
} elseif ($chartType == 'year') {
    $chartResults = OrderReportApi::getOrderSalesByYear($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
} else {
    $chartResults = OrderReportApi::getOrderSalesByDay($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
}

$temp = array();
foreach($chartResults as $result){
    $temp[] = $result;
}
$chartResults = $temp;
?>
<div class="row-fluid">
    <div class="span5">
        <h3 class="heading">Sales</h3>
        <div id="order_sale_chart"
             style="height: 200px; width: 80%; margin: 50px auto 0"></div>
    </div>
    <div class="span7">
        <div class="heading clearfix">
            <h3 class="pull-left">Recent Orders</h3>
            <span class="pull-right label label-info ttip_t"
                  title="Here is a sample info tooltip">Info</span>
        </div>

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#pending-orders">Pending</a></li>
                <li class=""><a data-toggle="tab" href="#sale-orders">Sale</a></li>
                <li class=""><a data-toggle="tab" href="#cancelled-orders">Cancelled</a></li>
            </ul>
            <div class="tab-content">
                <div id="pending-orders" class="tab-pane active">
                    <table class="table table-striped table-bordered mediaTable">
                        <thead>
                            <tr>
                                <th class="optional">Order ID</th>
                                <th class="essential persist">Customer</th>
                                <th class="optional">Status</th>
                                <th class="optional">Payment Status</th>
                                <th class="essential">Total</th>
                                <th class="essential">Date</th>
                            </tr>
                        </thead>

                        <tbody>
<?php
$results = OrderReportApi::getPendingOrders($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);

if ($results) {
    ?>
                                <?php
                                foreach ($results as $result) {
                                    $order = OrderApi::getOrderById($result ['orderMainId']);
                                    $payment = PaymentApi::getPaymentOrderByOrderId($order->id);
                                    ?>

                                    <tr>
                                        <td><a
                                                href="<?php
                                    echo $this->url('admin-order-view', array(
                                        'orderId' => $order->id
                                    ));
                                    ?>"><?php echo $order->id; ?></a></td>
                                        <td><?php echo $order->firstName . ' ' . $order->lastName; ?></td>
                                        <td><?php echo $order->orderStatus->name; ?></td>
                                        <td>
                                                <?php
                                                if ($payment) {
                                                    echo $payment->paymentStatus->name;
                                                }
                                                ?>
                                        </td>
                                        <td><?php echo $this->currencyFormat($order->amount); ?></td>
                                        <td>
                                            <?php echo $this->dateFormat($order->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>
                                        </td>
                                    </tr>
                                            <?php
                                        }
                                    } else {
                                        ?>
                                <tr>
                                    <td colspan="6"><?php echo $this->translate('Currently there are no orders.'); ?></td>
                                </tr>
                                <?php
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
                <div id="sale-orders" class="tab-pane">
                    <table class="table table-striped table-bordered mediaTable">
                        <thead>
                            <tr>
                                <th class="optional">Order ID</th>
                                <th class="essential persist">Customer</th>
                                <th class="optional">Status</th>
                                <th class="optional">Payment Status</th>
                                <th class="essential">Total</th>
                                <th class="essential">Date</th>
                            </tr>
                        </thead>

                        <tbody>
<?php
$results = OrderReportApi::getSaleOrders($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
if ($results) {
    ?>
    <?php
    foreach ($results as $result) {
        $order = OrderApi::getOrderById($result ['orderMainId']);
        $payment = PaymentApi::getPaymentOrderByOrderId($order->id);
        ?>

                                    <tr>
                                        <td><a
                                                href="<?php
                                    echo $this->url('admin-order-view', array(
                                        'orderId' => $order->id
                                    ));
                                    ?>"><?php echo $order->id; ?></a></td>
                                        <td><?php echo $order->firstName . ' ' . $order->lastName; ?></td>
                                        <td><?php echo $order->orderStatus->name; ?></td>
                                        <td>
                                                <?php
                                                if ($payment) {
                                                    echo $payment->paymentStatus->name;
                                                }
                                                ?>
                                        </td>
                                        <td><?php echo $this->currencyFormat($order->amount); ?></td>
                                        <td>
                                            <?php echo $this->dateFormat($order->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>
                                        </td>
                                    </tr>
                                            <?php
                                        }
                                    } else {
                                        ?>
                                <tr>
                                    <td colspan="6"><?php echo $this->translate('Currently there are no orders.'); ?></td>
                                </tr>
    <?php
}
?>
                        </tbody>
                    </table>
                </div>
                <div id="cancelled-orders" class="tab-pane">
                    <table class="table table-striped table-bordered mediaTable">
                        <thead>
                            <tr>
                                <th class="optional">Order ID</th>
                                <th class="essential persist">Customer</th>
                                <th class="optional">Status</th>
                                <th class="optional">Payment Status</th>
                                <th class="essential">Total</th>
                                <th class="essential">Date</th>
                            </tr>
                        </thead>

                        <tbody>
<?php
$results = OrderReportApi::getCancelledOrders($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
if ($results) {
    ?>
    <?php
    foreach ($results as $result) {
        $order = OrderApi::getOrderById($result ['orderMainId']);
        $payment = PaymentApi::getPaymentOrderByOrderId($order->id);
        ?>

                                    <tr>
                                        <td><a
                                                href="<?php
                                    echo $this->url('admin-order-view', array(
                                        'orderId' => $order->id
                                    ));
                                    ?>"><?php echo $order->id; ?></a></td>
                                        <td><?php echo $order->firstName . ' ' . $order->lastName; ?></td>
                                        <td><?php echo $order->orderStatus->name; ?></td>
                                        <td>
        <?php
        if ($payment) {
            echo $payment->paymentStatus->name;
        }
        ?>
                                        </td>
                                        <td><?php echo $this->currencyFormat($order->amount); ?></td>
                                        <td>
        <?php echo $this->dateFormat($order->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>
                                        </td>
                                    </tr>
                                            <?php
                                        }
                                    } else {
                                        ?>
                                <tr>
                                    <td colspan="6"><?php echo $this->translate('Currently there are no orders.'); ?></td>
                                </tr>
                                        <?php
                                    }
                                    ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>
</div>
                            <?php
                            $content = ob_get_clean();
                            $item->setContent($content);
                            $item->setWeight(1000);
                            ?>

<?php $this->inlineScript()->captureStart(); ?>

 function createChart(allData) {
  var sharedDataSource = new kendo.data.DataSource({
                     data: allData
                });
     $("#order_sale_chart").kendoChart({
         dataSource: sharedDataSource,
         autoBind: false,
         legend: {
             visible: false
         },
         series: [{
             type: "column",
             field: "sumAmount",
         }],
         axisDefaults: {
             labels: {
                 font: "11px Tahoma, sans-serif"
             }
         },
         valueAxis: {
             labels: {
                 format: "{0:C}"
             }
         },
         categoryAxis: {
             field: "orderDate",
              labels: {
                rotation: -45          
              }
             
         },
         tooltip: {
             visible: true,
             format: "{0:C}"
         }
     });
     sharedDataSource.read();
 }
 jQuery(function(){
 
 var data = <?php echo json_encode($chartResults, JSON_NUMERIC_CHECK); ?>;
 createChart(data);
 
 });


<?php $this->inlineScript()->captureEnd(); ?>
  

