<?php

use OrderMain\Api\OrderReportApi;

use Admin\Api\AdminApi;


/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();

ob_start ();
$item->setTitle ( 'Total Sales' );
$session = AdminApi::getDashboardSession ();
$total = OrderReportApi::getTotalSales ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ) );
$chartType = AdminApi::getChartType ();

$results = null;
if ($chartType == 'week') {
	$results = OrderReportApi::getOrderSalesByWeek ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} elseif ($chartType == 'month') {
	$results = OrderReportApi::getOrderSalesByMonth ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} 

elseif ($chartType == 'year') {
	$results = OrderReportApi::getOrderSalesByYear ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} else {
	$results = OrderReportApi::getOrderSalesByDay ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
}
$temp = array ();
foreach ( $results as $result ) {
	$temp [] = ( float ) $result ['sumAmount'];
}

?>
<div class="p_bar_up p_canvas"><?php echo implode(',', $temp); ?></div>
<div class="ov_text">
	<strong><?php echo $this->currencyFormat($total);?></strong>Sale
</div>

<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 1000 );
?>

