<?php
use OrderMain\Api\OrderApi;
?>
<div class="row-fluid">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Model</th>
					<th>Quantity</th>
					<th>Price</th>
					<th class="invoice_tar">Total</th>
				</tr>
			</thead>
			<tbody>
			<?php
			$products = OrderApi::getOrderProductsByOrderId ( $order->id );
			foreach ( $products as $p ) {
				
				?>
				<tr>
					<td><?php echo $p->productTitle; ?>
					<ul>
						<?php
				$orderLineItems = OrderApi::getOrderProductLineItemsByOrderProductId ( $p->id );
				foreach ( $orderLineItems as $item ) {
					?>
						<li><?php echo $item->title; ?> <?php
					if ($item->value) {
						if (is_numeric ( $item->value )) {
							echo ': <b>' . $this->currencyFormat ( $item->value ) . '</b>';
						} else {
							echo ': <b>' . $item->value . '</b>';
						}
					}
					?></li>
						<?php
				}
				?>
						</ul></td>
					<td><?php
				if ($p->product) {
					echo $p->product->sku;
				}
				?></td>
					<td><?php echo $p->qty; ?></td>
					<td><?php echo $this->currencyFormat($p->sellPrice); ?></td>
					<td class="invoice_tar"><?php echo $this->currencyFormat($p->amount) ?></td>
				</tr>
				<?php
			}
			?>
				
				<tr>
					<td colspan="4">&nbsp;</td>
					<td class="invoice_tar">
					<?php
					$lineItems = OrderApi::getOrderLineItemByOrderId ( $order->id );
					?>
					<?php foreach($lineItems as $item){ ?>
						<p class="sepH_a">
							<span class="muted sepV_b"><?php echo $item->title; ?></span>
							 <?php
						if ($item->value) {
							if (is_numeric ( $item->value )) {
								echo  $this->currencyFormat ( $item->value );
							} else {
								echo   $item->value ;
							}
						}
						?>
						</p>
						<?php
					}
					?>
						<p class="sepH_a text-success">
							<strong><span class="sepV_b">Total</span><?php echo $this->currencyFormat($order->amount);?></strong>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
