<?php
use Core\Functions;
use Config\Api\ConfigApi;

$sm = Functions::getServiceLocator ();
$tokenContainer = $sm->get ( 'TokenContainer' );
$tokenContainer->addParam ( 'orderId', $this->orderId );
$tokenContainer->setSubject ( ConfigApi::getConfigByKey ( 'ORDER_INVOICE_SUBJECT' ) );
$tokenContainer->setBodyHtml ( ConfigApi::getConfigByKey ( 'ORDER_INVOICE' ) );
$tokenContainer->setBodyText ( 'Order ID: ' . $this->orderId );
$tokenContainer->prepare ( 'adminOrderMail' );
?>
<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
</head>
<body>
<?php 
echo $tokenContainer->getBodyHtml ();
?>
</body>
</html>