
<h1 class="heading"><?php echo $this->translate('Search Results'); ?></h1>
<?php
$results = $this->results;
foreach ( $results as $result ) {
	echo $this->render ( 'common/product-item-teaser', array (
			'productId' => $result ['productId'],
			'type' => 'grid' 
	) );
}
if (!count($results)) {
    ?>
    <div class="container row">
        <p class="no-results-found"><?php echo $this->translate('Sorry! No Results found. Please try with different keyword'); ?></p>

    </div>

    <?php
}
?>
<div class="clearfix"></div>
<div class="pagination">
		<?php echo $this->pagination(count($results));?>
</div>
