<?php

use ProductRecommended\Api\ProductRecommendedApi;
use Product\Api\ProductApi;
use Core\Functions;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();

$productId = Functions::fromRoute('productId', 0);
$product = ProductApi::getProductById($productId);
if (!$product) {
    return;
}
ob_start();

if (Functions::hasModule('ProductRecommended')) {
    $results = ProductRecommendedApi::getRecommendedProducts($product->id);

    if (count($results)) {
        ?>

        <div class="my_carousel">
            <div class="carousel_nav pull-right">
                <!-- Carousel navigation -->
                <a class="prev" id="car_prev" href="#"><i class="icon-chevron-left"></i></a>
                <a class="next" id="car_next" href="#"><i class="icon-chevron-right"></i></a>
            </div>

            <ul id="carousel_container">
                <?php
                foreach ($results as $result) {
                    ?>


                    <li>
                        <?php
                        echo $this->render('common/product-item-teaser', array(
                            'productId' => $result ['productRecommendRecommendedProductId'],
                            'gridClass' => ' '
                        ));
                        ?>

                    </li>



                    <?php
                }
                ?>
            </ul>
        </div>

        <?php
    }
}
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight();
