<?php

use Core\Functions;
use Category\Api\CategoryApi;
use File\Api\FileApi;



/* @var $item \BlockManager\Option\Block\BlockItem */

$item = $this->item;

/* @var $blockContainer \Common\Option\Block\BlockContainer */

$blockContainer = $this->blockContainer;

$params = $blockContainer->getParams();

ob_start();

$categoryId = Functions::fromRoute('categoryId', null);

$children = CategoryApi::getChildrenCategories($categoryId, true);


?>
<div class="row">
<div class="home-catgrs mrgntp">

  
      <?php

            foreach ($children as $res) {

                $catId = $res['categoryId'];



                $category = CategoryApi::getCategoryById($catId);

               $categoryImage = CategoryApi::getTopCategoryImageByCategoryId($catId);
 if($categoryImage !=false){
                ?>
                <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="<?php echo $this->url('category', array('categoryId' => $category->id)); ?>" >
      <?php

//$i=1;
//foreach ($results as $result) {
	//if($i==1){

    //$categoryImage = CategoryApi::getCategoryImageById($result['categoryImageId']);

    if ($categoryImage->file && $categoryImage->file->path) {
        ?>
      <p class="category-image"> <?php echo FileApi::formImage($categoryImage->file->path, 250,250); ?> </p>
      <?php
    }
	
	//}
	//$i++;
//}
?>
      <div class="caption">
        <h4> <?php echo $category->title; ?></h4>
        <p><?php echo $this->trim($category->shortDescription, 80); ?></p>
        <span class="btn button btn-default">Shop <?php echo $category->title; ?></span> 
        </div>
      </a>
       </div>
  </div>
      <?php }

                }

                ?>
   
</div>
</div>
<?php

$block = ob_get_clean();

$item->setBlock($block);

$item->setWeight(1000);


