<?php

use Core\Functions;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$form = Functions::getServiceLocator()->get('Newsletter\Form\NewsletterForm\NewsletterFactory');
$form->setName('newsletterFormBlock');

$form->setAttribute('action', $this->url('newsletter'));
$form->setAttribute('class', ('navbar-form navbar-left col-md-9 col-sm-12 col-xs-12'));

$this->sbForm($form);
?>
<h4 class="col-md-3 col-sm-12 col-xs-12">Newsletter</h4>

         

            <?php
           $email = $form->get('email');
            $email->setAttribute('placeholder', 'Enter your email address....');
            //$email->setAttribute('class', 'navbar-form navbar-left col-md-9 col-sm-12 col-xs-12');
//            $submit = $form->get('submit');
//            $submit->setAttribute('class', 'btn btn-info btn-lg');
            ?>
             



                       
     

                          <?php echo $this->form()->openTag($form);
            ?>
                        <div class="form-group">
                            
                              
                         <?php echo $this->formElement($email); ?>
                                                                          
                          
                        </div>
            <button type="submit" class="btn btn-default">SUBSCRIBE</button>
   <?php echo $this->form()->closeTag();
            ?>
                        
                        
                        
                        
                        
                        
                        
                        

                       

<?php
$block = ob_get_clean();
$item->setBlock($block);
?>