<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$title = $this->pageTitle();
if ($title) {
    ?>
    <h2><?php //echo $this->pageTitle(); ?></h2>
    <hr>
    <?php
}
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight();