<?php
use ProductFeatured\Api\ProductFeaturedApi;
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$results = ProductFeaturedApi::getFeaturedProducts();
?>
<div class="col-md-12 col-sm-12 col-xs-12 reltedpr">
                            <span> Featured Products</span>
                        </div>
<?php 
foreach ($results as $result) {
    echo $this->render('common/product-item-teaser', array(
        'productId' => $result ['productId']
    ));
    
}
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000);