<?php

use ProductFeatured\Api\ProductFeaturedApi;
use Product\Api\ProductApi;
use File\Api\FileApi;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$results = ProductFeaturedApi::getFeaturedProducts(0, 5);
?>

                              


     <div class="col-md-12 col-sm-12 column">
         <h4 class="heading">SPECIAL </h4>
<?php
foreach ($results as $result) {
    $product = \Product\Api\ProductApi::getProductById($result ['productId']);
    $url = $this->url('product', array('productId' => $product->id));
    ?>
    
        <div class="media">
            <!-- Image -->
            <a href="<?php echo $url; ?>" class="pull-left"> <?php
                $image = ProductApi::getTopProductImageByProductId($product->id);
                if ($image && $image->file) {
                    echo FileApi::formImage($image->file->path, 50, 50, array(
                        'title' => $image->file->title,
                        'alt' => $image->file->alt,
                        'class' => 'img-responsive'
                    ));
                }
                ?></a>
        <div class="media-body">
            <!-- Title -->
            <h5><a href="<?php echo $url; ?>"><?php echo $product->title; ?></a></h5>
            <!-- Para -->
            <!-- Price -->
           <p> 
                <span class="sidenwprc"> &nbsp;<?php echo $this->currencyFormat($product->sellPrice); ?></span></p>
        </div>
        </div>
        <div class="clearfix"></div>
  
    <?php
}
?>
     </div>
        

<?php
$block = ob_get_clean(); 
$item->setBlock($block);
$item->setWeight(1000);
