<?php



/* @var $item \BlockManager\Option\Block\BlockItem */

$item = $this->item;

/* @var $blockContainer \Common\Option\Block\BlockContainer */

$blockContainer = $this->blockContainer;

$params = $blockContainer->getParams();

ob_start();

?>



                               

     <div class="col-md-12 col-sm-12 column">

           <h2> SPECIAL & LATEST</h2>

<?php

$results = \Product\Api\ProductApi::getProducts(1, 10, array('product.id' => array(

                'name' => 'productId',

                'order' => 'desc'

            ),

            'product.weight' => array(

                'name' => 'productWeight',

                'order' => 'desc'

            )

        ));

foreach ($results as $result) {

    echo $this->render('common/product-item-teaser-new-products', array(

        'productId' => $result ['productId']

    ));

}

?></div>

         <?php

$block = ob_get_clean();

$item->setBlock($block);

$item->setWeight();

