<?php 
use Core\Functions;

use DluTwBootstrap\Form\FormUtil; 
/* @var $item \BlockManager\Option\Block\BlockItem */

$item = $this->item; 
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$sm = Functions::getServiceLocator();
$form = $sm->get('Search\Form\SearchForm\SearchFactory');
$query = Functions::fromQuery('query', '');
$form->get('query')->setValue($query);
$this->sbForm($form);
$form->setAttribute('action', $this->url('search'));
$form->setAttribute('class', ' srchform');
?>
    <?php echo $this->form()->openTag($form); ?> 
<div class="input-group add-on">   
 <?php 
 $element = $form->get('query');
echo $this->formElement($element); 
?>   
    <div class="input-group-btn inner-bt">        
        <button type="submit" class="btn btn-search">Search</button>      
    </div></div><?php echo $this->form()->closeTag(); ?><?php $block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000); ?>  