<?php
use File\Api\FileApi;

use Core\Functions;

use Testimonial\Api\TestimonialApi;
?>
<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams ();
ob_start ();
?>

<?php

$testimonials = TestimonialApi::getTestimonials ();
if ($testimonials && count ( $testimonials )) {
	?>
    


	<h4>
			<?php echo $this->translate('WHAT OUR COUSTMERS SAY'); ?>
		</h4>
		<?php
	foreach ( $testimonials as $testimonialId ) {
		$testimonial = TestimonialApi::getTestimonialById ( $testimonialId ['testimonialId'] );
		?>
		<blockquote>
				<p><?php echo $testimonial->testimonial; ?></p>
                <small><?php echo $testimonial->name; ?></small>
			</blockquote>
			
					
			
	
	
<?php
	}
	?>


<?php
}
?>

<?php
$block = ob_get_clean ();
$item->setBlock ( $block );
$item->setWeight ( 1000 );
?>