<?php







//use StaticPage\Api\StaticPageApi;



//use Core\Functions;















//$staticPageId = Functions::fromRoute(3);



//$staticPage = StaticPageApi::getStaticPageById($staticPageId);



//if (!$staticPage) {



//    return;



//}



//$this->pageTitle($staticPage->title);



//?>
<?php







use User\Api\UserApi;



use Core\Functions;



use File\Api\FileApi;







/* @var $item \BlockManager\Option\Block\BlockItem */



$item = $this->item;



/* @var $blockContainer \Common\Option\Block\BlockContainer */



$blockContainer = $this->blockContainer;



$params = $blockContainer->getParams();



ob_start();



?>
<?php



// echo $this->navigation ( 'front_account' )->menu ()->setUlClass('account-menu-list')->render ();



    $user = UserApi::getLoggedInUser();



    ?>
<!--    <div class="pull-right">
    <span><a href="<?php //echo $this->url('contact');?>" class="" >contact</a></span> <span class="userdr">|</span>-->

<?php



   /* if (!$user) {



        ?>

<!--<span class="calltxt"> Need any help call us:</span><span class="cntno">020 8883 2000</span>-->

<span><a href="<?php echo $this->url('user-login-modal');?>" class="ajax-modal-medium no-ajaxy" >Register</a></span><span class="userdr">|</span>
<?php



    } else { ?>
<span><a href="<?php echo $this->url('account');?>" class="" >My Account</a></span> <span class="userdr">|</span>
<?php }*/ ?>
<?php 



        



      if (!$user){



        ?>
<a href="<?php echo $this->url('user-login-modal');?>" class="btn btn-primary ajax-modal-medium no-ajaxy" >Login</a>
<a href="<?php echo $this->url('user-register-modal');?>" class=" btn btn-default ajax-modal-medium no-ajaxy" >Register</a>
<!--<span class="userdr"></span>-->

<?php } else { ?>
<a href="<?php echo $this->url('account');?>" class="btn btn-primary user-btn" >My Account</a>
<i class="icon-lock lck"></i><a class="btn btn-default user-btn" href="<?php echo $this->url('user-logout'); ?>"><?php echo $this->translate('Logout'); ?></a>
<?php



    }



    ?>
    <!--</div>-->
<?php



$block = ob_get_clean();



$item->setBlock($block);



$item->setWeight(1000);



?>
