<?php
use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

$grid = new Grid ( 'adminOrderPaymentStatus' );

$grid->setGroupable ( true );
$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();
$columnItem = $columns->getColumn ( 'orderPaymentStatus.id' );
$columnItem->setAggregates ( array (
		'count' 
) );
$columnItem->setGroupFooterTemplate ( "Count: #=count#" );

$columnItem = $columns->getColumn ( 'orderPaymentStatus.isSale' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#isSaleTemplate").html()), {column:"isSale"})' ) );

$columnItem = $columns->getColumn ( 'orderPaymentStatus.isPending' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#isPendingTemplate").html()), {column:"isPending"})' ) );

$columnItem = $columns->getColumn ( 'orderPaymentStatus.isCancelled' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#isCancelledTemplate").html()), {column:"isCancelled"})' ) );
?>



<h1 class="heading"><?php  echo $this->translate('Order Payment Status');?></h1>
<?php
echo $this->tab ( 'adminOrderPaymentStatus' )->render ();
echo $this->link ( 'adminOrderPaymentStatus' )->render ();
echo $obj->render ();
?>

<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/kendo-tmpl', array (
		'id' => 'isSaleTemplate',
		'noescape' => true 
) );
?>
# if (isSale) { #
<span class="isSale"><i class="glyphicon glyphicon-ok"></i></span>
# } else if(isSale == false){#
<span class="isSale"><i class="glyphicon glyphicon-remove"></i></span>
#}# 
<?php
$this->inlineScript ()->captureEnd ();

?>

<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/kendo-tmpl', array (
		'id' => 'isPendingTemplate',
		'noescape' => true 
) );
?>
# if (isPending) { #
<span class="isPending"><i class="glyphicon glyphicon-ok"></i></span>
# } else if(isPending == false){#
<span class="isPending"><i class="glyphicon glyphicon-remove"></i></span>
#}# 
<?php
$this->inlineScript ()->captureEnd ();

?>

<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/kendo-tmpl', array (
		'id' => 'isCancelledTemplate',
		'noescape' => true 
) );
?>
# if (isCancelled) { #
<span class="isCancelled"><i class="glyphicon glyphicon-ok"></i></span>
# } else if(isCancelled == false){#
<span class="isCancelled"><i class="glyphicon glyphicon-remove"></i></span>
#}# 
<?php
$this->inlineScript ()->captureEnd ();

?>