<?php

use BlucartGrid\Option\Grid;
use Core\Functions;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();

$productId = Functions::fromRoute('productId');

$productId = Functions::fromRoute('productId');
if(!$productId){
    return;
}
$grid = new Grid('adminAttributeOptionProduct');
$grid->setGroupable(false);
$grid->addAdditionalParameter('product', $productId);
$obj = $this->blucartGrid($grid);
$columns = $grid->getColumns();
$columns->getColumn('attributeOptionProduct.id')->setHidden(true);
$grid->setToolbar(null);
$grid->setEditable(false);
$grid->getPageable()->setPageSize(5);
?>

<div class="row">


    <div class="col-sm-12 clearfix">
        <div class="pull-right">
            <p><a class="zoombox"
               href="<?php
               echo $this->url('admin-product-attribute-option', array(
                   'productId' => $productId
               ));
               ?>"> <i class="glyphicon glyphicon-pencil"></i> <?php echo $this->translate('Manage Attributes'); ?></a><br></p>
        </div>
    </div>
    <div class="col-sm-12 clearfix">

        <?php
        echo $obj->render();
        ?>
    </div>
</div>
<?php
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight();
