<?php

use ProductCategory\Api\ProductCategoryApi;
use File\Api\FileApi;
use Category\Api\CategoryApi;
use Core\Functions;

$categoryId = Functions::fromRoute('categoryId');

$category = CategoryApi::getCategoryById($categoryId);

if (!$category) {

    return;
}

?>
<div class="row">
<div class="col-md-8">
<h2 class="headng"><?php echo $this->pageTitle($category->title); ?> </h2>

  <p><?php echo $this->trim($category->shortDescription, 200); ?></p>
  </div>
<div class="col-md-4">
<?php
$categoryImage = CategoryApi::getTopCategoryImageByCategoryId($category->id);



//foreach ($results as $result) {

   // $categoryImage = CategoryApi::getCategoryImageById($result['categoryImageId']);

    if ($categoryImage->file && $categoryImage->file->path) {
        ?>

       <p class="category-image pull-right"><a href="">

        <?php echo FileApi::formImage($categoryImage->file->path, 250,250); ?>

            </a></p>

        <?php
    }
//}
?>
</div>
</div>





<div class="col-md-12  col-sm-12 col-xs-12">
<div class="row sortcatalign">
    <div class="col-md-5  col-md-push-4 col-sm-6 col-xs-12">



        <?php
        echo $this->render('common/category-sort-product');
        ?>

    </div>

    <div class="col-md-3 pull-right  col-sm-6 col-xs-12">

<?php
echo $this->render('common/category-additional-product');
?>

    </div>

</div>

</div>

<div class="product-list">

  

        <div class="row shop-items clearfix prdlist mrgntp">

        <?php
        if (Functions::hasModule('ProductCategory')) {



            $results = ProductCategoryApi::getProductsByCategoryId($category->id, Functions::fromRoute('page'), Functions::fromRoute('perPage'));



            if ($results) {
                ?>



        <?php
        foreach ($results as $result) {
            ?>



            <?php
            echo $this->render('common/product-item-teaser', array('productId' => $result['productId'],
                'gridClass' => 'col-lg-3 col-md-3 col-sm-4 col-xs-12'
            ));
            ?>





                        <?php
                    }
                    ?>



                    <?php
                } else {
                    ?>

                    <div class="no-results-found"><?php echo $this->translate('Currently there are no products'); ?></div>

                    <?php
                }
            }
            ?>





        </div>


        <div class="pagination clearfix">

<?php echo $this->pagination(count($results)); ?>

        </div>
        <p><?php echo $category->description; ?> </p>
    

</div>













