<?php
use BlucartGrid\Option\Grid;

$grid = new Grid ( 'adminOrderProfitReport' );
// $grid->setHasDetail ( true );

$grid->setGroupable ( false );
$grid->setPageable ( array (
		'pageSize' => 10,
		'previousNext' => true,
		'numeric' => true,
		'buttonCount' => 10,
		'input' => true,
		'pageSizes' => array(10,20,50,100,500),
		'refresh' => true,
		'info' => true 
) );

$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();
$columnItem = $columns->getColumn ( 'orderMain.id' );
$url = $this->url('admin-order-view');
$columnItem->setTemplate('<a href="'.$url.'/#= id#">#= id#</a>');

$columnItem = $columns->getColumn ( 'user.id' );
$url = $this->url('admin-user-view');
$columnItem->setTemplate('# if(userId) { # <a href="'.$url.'/#= userId#">#= userId#</a> #}#');


?>

<h2 class="heading"><?php  echo $this->translate('Order Profit Report');?></h2>





<?php
echo $this->tab ( 'adminProductReport' )->render ();
echo $this->link ( 'adminProductReport' )->render ();
?>
<div id="chart"></div>
<br>

<?php 
echo $obj->render ();
?>
<?php
include 'js.phtml';
?>