<h1 class="heading"><?php echo $this->translate('Themes/Designs/Templates'); ?></h1>
<div id="large_grid" class="wmk_grid">
    <ul>
        <?php
        foreach ($this->dir as $d) {
            $image = $d['image'];

            $largeImage = $d['largeImage'] ? $d['largeImage'] : $image;
            $sm = \Core\Functions::getServiceLocator();
            $config = $sm->get('config');
            $currentTheme = $config['BLUCART_CURRENT_THEME'] ? $config['BLUCART_CURRENT_THEME'] : 'Prashanth';
            ?>

            <li class="thumbnail box <?php echo ($currentTheme == $d['name']) ? 'active' : '' ?>">
                <?php
                if ($image) {
                    ?>
                    <a href="<?php
                    echo $this->url('admin-theme-preview', array(), array(
                        'query' => array(
                            'image' => $largeImage
                        )
                    ));
                    ?>" title="<?php echo $d['name']; ?>" rel="gallery">
                        <img src="<?php
                        echo $this->url('admin-theme-preview', array(), array(
                            'query' => array(
                                'image' => $image
                            )
                        ));
                        ?>" alt="<?php echo $d['name']; ?>" class="image-responsive">

                    </a>
                    <?php
                }
                ?>
                <p>
                    <?php
                    if (($currentTheme !== $d['name'])) {
                        ?>

                        <a href="<?php
                        echo $this->url('admin-theme', array('theme' => $d['name']));
                        ?>" title="" ><i class="glyphicon glyphicon-ok"></i> Apply</a>

                        <?php
                    }
                    ?>

                    <span class="theme-name"><?php echo $d['name']; ?></span>



                </p>
            </li>


            <?php
        }
        ?>


    </ul>
</div>
<?php
$this->inlineScript()->captureStart();
?>
$(function(){
$('#large_grid > ul').imagesLoaded(function() {
// Prepare layout options.
var options = {
autoResize: true, // This will auto-update the layout when the browser window is resized.
container: $('#large_grid'), // Optional, used for some extra CSS styling
offset: 6, // Optional, the distance between grid items
itemWidth: 220, // Optional, the width of a grid item (li)
flexibleItemWidth: false
};

// Get a reference to your grid items.
var handler = $('#large_grid > ul > li');

// Call the layout function.
handler.wookmark(options);


$('#large_grid > ul > li').on('mouseenter',function(){
$(this).addClass('act_tools');	
}).on('mouseleave',function(){
$(this).removeClass('act_tools');
});

$('#large_grid ul li > a').attr('rel', 'gallery').colorbox({
maxWidth	: '80%',
maxHeight	: '80%',
opacity		: '0.1', 
loop		: true,
slideshow   : true,
fixed		: true
});
});
});

<?php
$this->inlineScript()->captureEnd();
?>