<?php
// $listArray = array('id' => array('title'=>'', 'children => array())
?>


		<?php
		
		print makeListUl ( $this->listArray );
		function makeListUl($array, $level = 0) {
			if (! is_array ( $array )) {
				return;
			}
			if ($level == 0) {
				$result = '<ol  class="sortable" >';
			} else {
				$result = '<ol>';
			}
			foreach ( $array as $key => $value ) {
				$result .= '<li id="list_' . $key . '" ><div><span class="disclose"><span></span></span>' . $value ['name'] . '</div>';
				if (isset ( $value ['children'] ) && count ( $value ['children'] )) {
					$result .= makeListUl ( $value ['children'], ($level + 1) );
				}
				$result .= '</li>';
			}
			if ($level == 0) {
				$result .= '</ol >';
			} else {
				$result .= '</ol>';
			}
			return $result;
		}
		?>


<div class="form-actions">
	<input type="submit" value="Submit" class="btn toser" name="submit">
</div>

<?php
$this->inlineScript ()->captureStart ();

?>

jQuery(function(){

	$('ol.sortable').nestedSortable({
	forcePlaceholderSize: true,
	handle: 'div',
	helper: 'clone',
	items: 'li',
	opacity: .6,
	placeholder: 'placeholder',
	revert: 250,
	tabSize: 25,
	tolerance: 'pointer',
	toleranceElement: '> div',
	maxLevels: <?php echo $this->maxLevels!==null?$this->maxLevels: 1; ?>,
	isTree: true,
	expandOnHover: 700,
			startCollapsed: true
	});
	$('.disclose').on('click', function() {
	$(this).closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');
	});
	

	$('.toser').live('click',function(){
		
		serialized = $('ol.sortable').nestedSortable('serialize');
		$.ajax({
			type : "POST",
			url : "<?php echo $this->url('nested-sorting',array('action'=>'save', 'eventname' => $this->eventName));?>",
			data: serialized,
			dataType : 'html'
		}).done(function(data) {
		
		$('body').append(data);
		$.event.trigger({
      type: "completedNestedSorting",
     
    });
		
		});
	
	}) ;
	
});
<?php
$this->inlineScript ()->captureEnd ();
?>


