<section>
	<div class="block-header">
		<h2><?php echo $this->translate('Add Blocks'); ?></h2>
	</div>
	<div class="content">
	<?php
	echo $this->flashMessenger ();
	?>
<?php

	echo $this->link ( 'blockAdd' )->render ();
	?>

<?php
echo $this->tab ( 'blockAdd' )->render ();
$form = $this->form;
$form = $this->sbForm ( $form );
echo $this->form ( $form );
?>
	</div>


</section>
