<?php
use Core\Functions;
?>
<section>
	<div class="block-header">
<?php 
$regionName = Functions::fromRoute('region');
$blockName = Functions::fromRoute('block');

?>
	<h2><?php echo $this->translate('Configure Block'); ?> - <?php echo $blockName; ?> - <?php echo $regionName; ?></h2>
	</div>
	<div class="content">
	<?php
	echo $this->flashMessenger ();
	?>
	<?php
	
	echo $this->tab ( 'blockManagerBlockRegion' )->render ();
	?>
<?php

	echo $this->link ( 'blockManagerBlockRegion' )->render ();
	?>

<?php
echo $this->tab ( 'blockManagerBlockRegion' )->render ();
$form = $this->form;
$form = $this->sbForm ( $form );
echo $this->form ( $form );
?>
	</div>


</section>
