<?php
use Kendo\Lib\Core\JavascriptFunction;

use BlucartGrid\Option\Grid;

/* @var $item BlucartGrid\Option\Helper\DetailItem */
$item = $this->item;
$params = $this->params;
$productId = $params ['id'];
$item->setTitle ( 'Addons' );
ob_start ();
$grid = new Grid ( 'adminAddonOptionProduct' );
$grid->setGridName ( 'adminAddonOptionProduct_' . $productId );
$grid->setGroupable ( true );
$grid->addAdditionalParameter ( 'productId', $productId );

$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();
$grid->getPageable ()->setPageSize ( 5 );
$grid->setToolbar ( null );
$grid->setEditable ( false );
?>

<div class="top-links row">
	<div class="pull-right">
		<a class="btn bn-primary zoombox"
			href="<?php
			
			echo $this->url ( 'admin-product-addon-option', array (
					'productId' => $productId 
			) );
			?>"><?php echo $this->translate('Manage Addons'); ?></a>
	</div>
</div>
<br>
<?php
echo $obj->render ();
echo $this->inlineScript ();
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight (  );
