<?php


use Category\Api\CategoryApi;

use ProductCategory\Api\ProductCategoryApi;

use Product\Api\ProductApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();
$productId = $contentContainer->getParam ( 'productId' );
$title = $this->translate ( 'Categories' );
$url = $this->url ( 'admin-product-category', array (
		'productId' => $productId 
) );
$item->setTitle ( '<a href="' . $url . '" class="zoombox external_link">'.$title.'</a>' );
$results = ProductCategoryApi::getCategoryByProductId($productId);
$temp = array ();
if ($results) {
	foreach ( $results as $result ) {
		
		$resultId = $result ['categoryId'];
		$entity = CategoryApi::getCategoryById ( $resultId );
		
		$temp [] = '<a href="' . $this->url ( 'admin-category-view', array (
				'categoryId' => $entity->id 
		) ) . '" class="external_link">' . $entity->title . '</a>';
		
		?>
<?php
	}
	echo implode ( ', ', $temp );
} else {
	echo $this->translate ( 'N/A' );
}
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight (1000);
?>