<?php
/*
 * @var $shippingContainer \Shipping\Option\ShippingContainer
 */
$shippingContainer = $this->shippingContainer;
$items = $shippingContainer->getItems();
$this->pageTitle('Delivery Quotes');
?>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($items as $item) {
            $value = $item->getValue();
            ?>
            <tr>
                <td><?php echo $item->getTitle(); ?></td>
                <td><?php echo $value ? $this->currencyFormat($value) : ''; ?></td>
            </tr>
            <?php
        }
        if (!count($items)) {
            ?><tr>
                <td colspan="2"><?php echo $this->translate('No Quote Available'); ?></td>

            </tr>
            <?php
        }
        ?>
    </tbody>

</table>

