@font-face {

	font-family: 'FutuMd';

	src: url('../fonts/FutuMd.eot');

	src: url('../fonts/FutuMd.woff') format('woff'),  url('../fonts/FutuMd.ttf') format('truetype'),url('../fonts/FutuMd.svg') format('svg');;

	

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'FutuBd';

	src: url('../fonts/FutuBd.eot');

	src: url('../fonts/FutuBd.woff') format('woff'),  url('../fonts/FutuBd.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;

}
@font-face {

	font-family: 'nunito';

	src: url('../fonts/Nunito-Regular.ttf');

	font-weight: normal;

	font-style: normal;

}
@font-face {

	font-family: 'raleway';

	src: url('../fonts/Raleway-Regular.ttf');

	font-weight: normal;

	font-style: normal;

}
@font-face {

	font-family: 'raleway-semib';

	src: url('../fonts/Raleway-SemiBold.ttf');

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'FuturaLightBT';

	src: url('../fonts/FuturaLightBT.eot');

	src: url('../fonts/FuturaLightBT.woff') format('woff'),  url('../fonts/FuturaLightBT.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;

}

body {

	//font-family: 'FutuMd', Helvetica, Arial, sans-serif;
        font-family: 'raleway-semib';

	font-size: 1.4em;

}

h1, h2, h3, h4, h5, h6 {

/*	font-family: 'FutuMd', Helvetica, Arial, sans-serif;*/

	color:#00AEE7;

}

.hometext p{

	text-align:center;

}



.maincontwrap .menucontent {

	background-color: #33012c;

}

.menucontent .navbar-nav>li>a {

	//font-family: 'FutuMd', Helvetica, Arial, sans-serif;

	font-size: 15px;

	text-transform: uppercase;

}

.cmplgo a img {

	margin-top: 45px;

}

.mrgntp {

	margin-top: 20px;

}
.mrgntp1 {

	margin-top: 10px;

}

.usrtpmnu ul.navbar-nav > li > a {

	background: none repeat scroll 0 center rgba(0, 0, 0, 0);

	border-left: 1px solid #666666;

	line-height: 13px;

	padding-bottom: 0;

	padding-top: 0;

	color: #666666;

}

.usrtpmnu ul.navbar-nav > li:first-child > a {

	border-left: 0px;

}

.userdr span a {

	color: #666666;

}

.usrtpmnu span.userdr {

	padding: 4px;

}

.usrtpmnu .navbar-inverse {

	background-color: #00add6;

	border-color: #00add6

}

.usrtpmnu span a, .usrtpmnu span.userdr {

	color: #00aee7;

	font-size: 13px;

	/*font-weight:bold;*/

	text-transform: uppercase;

}

.usrtpmnu .navbar-inverse .navbar-brand {

	color: #fff

}

.usrtpmnu .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {

	color: #fff;

	background-color: #FFA500;

}

.usrtpmnu .navbar-inverse .navbar-text {

	color: #fff;

}

.navbar-inverse .navbar-nav>li>a {

	color: #fff;

	/*margin-right:1px;

	margin-left:1px;*/

	/*padding: 15px 14px;*/

	padding:15px 12px 15px 10px;

}

.usrtpmnu .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {

	color: #fff;

	background-color: #FFA500

}

.usrtpmnu .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {

	color: #fff;

	background-color: #FFA500

}

.navbar-nav > li{

	border-right:1px solid #fff;

}

.navbar-nav > li:last-child{

	border-right:none;

}



.tpcrt a.cartbkg {

	font-size: 18px;

}

.tpcrt .cpscrt {

	color: #00AEE7;

	font-size: 18px;

}

.srchform .form-control{

	height:35px;

}

.spcl h4, .sidenav h4, .shpb h4, .tstmnls h4 {

	color: #00aee7;

	text-transform: uppercase;

	padding-bottom: 10px;

}

.sidenav ul li a {

	text-transform: uppercase;

	color: #5B5B5B;

	/*font-weight: bold;*/

	/*border: none;*/

}

.sidebar-nav ul li.active ul.in li a {

	color: #6A6A6B !important;

}

.pageTitle h2 {

	color: #C71585;

	text-transform: uppercase;

}

.tstmnls {

	border: 1px solid #0D75AC;

	border-radius: 25px;

}

.tstmnls blockquote {

	padding: 10px 0px;

	margin: 0px 5px 0px 5px;

	border-left: 0px;

}

.tstmnls blockquote p {

	color: #5B5B5B;

	font-style: italic;

	/*font-weight: bold;*/

	font-size: 14px;

	line-height: 1.8;

}

.tstmnls blockquote .small, .tstmnls blockquote small {

	color: #00AEE7;

	font-size: 13px;

	text-align: right;

}

.footrbkg {

	background: none repeat scroll 0 0 #333333;/*border-radius: 0 0 5px 5px;*/

}

.footercontbottomwrapper .footrbkg {

	border-radius: 0 0 5px 5px;

}

.sclmedia {

	color: red

}

.cstsrvc h4, .twfds h4, .prtys h4 {

	color: #F87D28;

}

.cstsrvc ul > li a, .twfds p {

	color: #999999;

	padding: 2% 0;

}

.cstsrvc ul > li a:hover {

	background: none;

	color: #fff;

}

.copyryt {

	border-top: 1px solid #444444;

}

.copyryt p, .copyryt p a {

	color: #777;

}

.media-body h5 a, .media-body h5 {

	color: #555555;/*font-weight: bold;*/

}

.media-body p {

	font-size: 12px;
        line-height: 12px;
        margin: 0 0 0 3px;
/*        font-family: 'raleway';*/

}
.media-body p a {
    color: #000;
}

.media-body h5 a:hover, .media-body h5:hover, .media-body .sidenwprc {

	color: #00AEE7;

	text-decoration: none;

}

.sortcatalign {

	background: #f5f5f5;

	padding: 5px 0px;

}

.sortcatalign .sort span, .sortcatalign .limit span {

	padding: 7px 5px;

	font-weight: bold;

	float: left;

}

.prd {

	border: none;

}

.shop-items .prd .btn-default {

	color: #5555;

	background-color: #eeeee;

	border-color: #eeeee;

}

.prd:hover {

	box-shadow: 3px 3px 3px 3px #999;

}

.prd:hover .btn-default {

	color: #fff;

	background-color: #00AEE7;

	border-color: #00AEE7;

}

.wasprc {

	color: #00ADD6;

	margin-right: 2%;

}

.strke {

	text-decoration: line-through;

}

.newprc {

	color: #0D75AC;

	font-weight: bold;

}

.home-catgrs .caption h4 {

	color: #555555;

	padding: 0px;

	margin:0px;

	border: none;

	text-transform: uppercase;

}

.home-catgrs a{

	text-decoration:none;

}



.caption h4:hover, .caption h4 a:hover,.caption p:hover,.home-catgrs .thumbnail:hover .caption,.home-catgrs .thumbnail:hover .caption h4 {

	color: #00aee7;

	text-decoration: none;

}

.scslmdins img {

	margin-right: 3%;

}

.scslmdins, .mrgnbtm {

	margin-bottom: 10px;

}

.prtys span, .prtys span a, .prtys p, .prtys p a {

	color: #fff;

}

.prtys p, .prtys p a {

	margin-bottom: 0px;

}

.prtys span, .prtys span a {

/*	font-weight: bold;*/
        font-family: "Futumd";

}

.prdlst .prd a.btn-default {

	background: #EEEEEE;

	color: #555555;

	font-weight: bold;

	border-color: #EEEEEE;

}

.headng ,.relheading{

	color: #00AEE7;

	text-transform: uppercase;

}

.prdsidedesc h3,.relheading {

	text-transform: uppercase;

	border-bottom: 1px dashed #EEEEEE;

	color:#00AEE7;

}

.fulprdprc .wasprcprd {

	color: red;

	font-weight: bold;

}

.fulprdprc .newprcprd {

	color: #fff;

	font-weight: bold;

	background:#E75621;

	padding: 6px 15px;

	border-radius:5px;

}



.sidebar-nav .navbar-collapse {

}

.checkavail {

/*	font-weight: bold;*/

}

#productAddToCartForm .btn-default ,.btn-info ,.btn-primary, .btn-primary:hover,.home-catgrs .thumbnail:hover span.btn,span.btn:hover{

	background-color: #E75621;

	border-color: #E75621;

	color: #FFFFFF;

}

.menucontent .navbar-inverse {

	background-color: #e75621;

	border: none;

}

.menucontent ul li.dropdown:hover .dropdown-menu {

	display: block;

}

.usrtpmnu, .usrtpmnu a, .usrtpmnu span a {

	color: #5555 !important;

}

.menucontent .navbar-inverse .navbar-nav>li>a:hover, .menucontent .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:active {

	color: #fff;

	background-color: #FBAF40;

	border: none;

}

.menucontent .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {

	background-color: #e75621;
        border: medium none;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        color: #fff;

}

.dropdown-menu {

	z-index: 9999;

}

.menucontent .dropdown-menu {

	background: #FBAF40;

	color: #fff;

	border:none;

}

.menucontent .dropdown-menu>li>a, .menucontent .dropdown-menu>li>a:hover, .menucontent .dropdown-menu>li>a:focus {

	color: #fff;

	text-transform: uppercase;

	background: #FBAF40;

	border:none;

}

.sidebar-nav ul.nav > li > a:hover, .sidebar-nav .nav-pills > li.active > a, .sidebar-nav .nav-pills > li.active > a:hover, .sidebar-nav .nav-pills > li.active > a:focus {

background: none repeat scroll 0 0 #FFFFFF !important;

    color: #00ADD6 !important;

}



.thumbnail {

	display: block;

	padding:2px;

	/*	margin-bottom: 20px;*/



	line-height: 1.42857143;

	background-color: #fff;

	border: none;

	/*	border-radius: 4px;*/



	-webkit-transition: all .2s ease-in-out;

	transition: all .2s ease-in-out

}

.home-catgrs .thumbnail{

	margin-bottom:20px;

}

/*.prdlist .thumbnail,.prd{

	padding:15px;

	margin-bottom:5px;
	
	
}
*/
.prdlist .thumbnail,.prd{
	padding:15px;
	margin-bottom:1em;
	margin-top:2em;
}
/*.thumbnail,.prd .prdimg{

	height:200px;
	
}*/

.prdlist .prdtitle {
    height: 60px;
	margin-top:10px;   
}

.thumbnail>img, .thumbnail a>img {

	margin-left: auto;

	margin-right: auto

}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {

	border-color: #428bca

}

.thumbnail .caption {

	padding: 0px;

	color: #333;

	/*background: #FDB427;*/

	text-align: center;

}

/*** plus*******/

.glyphicon.plus:before {

	content: "+";

	font-size: 10px;

}

.active > a > .glyphicon.plus:before {

	content: "-";

	font-size: 18px;

	font-weight: bold;

}

.fa.plus:before {

	content: "+";

	font-size: 10px;

}

.active > a > .fa.plus:before {

	content: "-";

	font-weight: bold;

}

.sidenav .glyphicon {

	top: -4px !important;

}

/*** plus*******/

.label-info {

	background-color: #00add6;

}

.nav-stacked > li {

	float: left;

	width: 100%;

}

.navbar-inverse .navbar-nav > .dropdown > a .caret {

	display: none;

}

ul li.active .glyphicon {

	top: 0px;

	bottom: 10px;

	font-size: 9px;

	font-weight: bolder;

}

.sidebar-nav ul {

	border: none;

}

.sidebar-nav ul li a {

	text-decoration: none;

	border-radius:0px;

	border-bottom:1px solid #ddf1f7;

}

a:focus {

	text-decoration: none;

}

.badge {

	border-radius: 18px;

	padding: 10px;

}

.badgeclr0 {

	background: #ef4035;

}

.badgeclr1 {

	background: #0d75bc;

}

.quantity-controlRow, .quantity-controlRow label {

	width: 100%;

}

.quantity-controlRow input {

	width: 50%;

}



.sortcatalign .form-control,.sortcatalign .sort span, .sortcatalign .limit span{

font-size:13px;

}

.brdrRght{

border-right:1px solid #ddf1f7;

}
.brdrRght h2 {
    margin-top: 0px;
}

.new-bg {
    background-color: #fde88a;
    padding: 2px;
}
.padd-new-t {
    padding-top: 25px;
}
.new-lr {
    float: left;
    width: 20%;
}
.new-btn .btn {
    padding: 3px 21px;
}
.inner-bt button {
    background-color: #662d90;
    color: #ffffff;
    border: 2px solid #662d90;
}


/*

.shape{    

	border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;

	-ms-transform:rotate(360deg); /* IE 9 */

	/*-o-transform: rotate(360deg);  /* Opera 10.5 */

/*	-webkit-transform:rotate(360deg);*/ /* Safari and Chrome */

	/*transform:rotate(360deg);

	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);

}







.shape-text{

	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;

	-ms-transform:rotate(30deg); /* IE 9 */

	/*-o-transform: rotate(360deg);*/  /* Opera 10.5 */

	/*-webkit-transform:rotate(30deg);*/ /* Safari and Chrome */

	/*transform:rotate(30deg);*/

/*}	

@media (min-width: 487px) {

  .container {

    max-width: 750px;

  }

  .col-sm-6 {

    width: 50%;

  }

}

@media (min-width: 900px) {

  .container {

    max-width: 970px;

  }

  .col-md-4 {

    width: 33.33333333333333%;

  }

}



@media (min-width: 1200px) {

  .container {

    max-width: 1170px;

  }

  .col-lg-3 {

    width: 25%;

  }

  }

}*/

.new-bg {
    background-color: #fde88a;
    padding: 2px;
}
.padd-new-t {
    padding-top: 25px;
}
.padd-t {
    padding-top: 25px;
}
.padd-b {
    padding-bottom: 25px;
}

.inner-bt button {
    background-color: #662d90;
    color: #ffffff;
}
.menu {
    background-color: #0D75AC;
    margin-bottom: 0px;
}
.menu .navbar-nav li a {
    color: #ffffff !important;
    text-transform: uppercase;
/*    border-left: 1px solid #ffffff;*/
}
.menu .navbar-nav li:first-child a {
    border-left: none;
}
.acodian-menu .fa { margin-right:10px; }
.acodian-menu .panel-body { padding:0px; }
.acodian-menu .panel-body table tr td { padding-left: 15px }
.acodian-menu .panel-body .table {margin-bottom: 0px; }
.product-new .thumbnail {
    border: none;
}
.product-new h4 {
    color: #555555;
    text-transform: uppercase;
}
.product-new a {
    color: #333;
}
.product-new a:hover, .product-new a:hover h4 {
    text-decoration: none;
    color: #00aee7;
}
.product-new a:hover .button {
    background-color: #00add6;
    color: #ffffff;
}
.speacel-off h5 a {
    color: #555555;
}
.speacel-off h5 a:hover {
    color: #00add6;
    text-decoration: none;
}
.speacel-off p {
    color: #00add6;
}
.footer-bg {
    background-color: #333333;
}
.footer-bg .nav li a {
    padding: 2% 0px;
}
.footer-bg h4 {
    color: #f87d28;
}
.footer-bg .nav > li > a:focus, .footer-bg .nav > li > a:hover {
    background-color: inherit;
}
.footer-bg .nav li a {
    color: #999999;
}
.foot-ul ul {
    margin-bottom: 0px;
}
.contact-help ul {
    margin-top: 5px;
}
.foot-ul ul li, .contact-help ul li {
    padding-right: 0px;
}
.contact-help h5 {
    color: #ffffff;
    font-weight: bold;
    margin: 0px;
}
.contact-help p {
    color: #ffffff;
    margin-bottom: 0px;
}
.contact-help p a {
    color: #ffffff;
}
.contact-help h5:hover {
    text-decoration: underline;
}
.line-last {
    border-top: 1px solid #444444;
}
.line-last p {
    color: #777;
}
@media (max-width: 767px) {
    .new-lr {
        padding-top: 20px;
        float: left;
        width: 30%;
    }
    .xs-align {
        padding-top: 15px;
    }
    .sortcatalign .form-control {
        width: inherit;
    }
}
@media (min-width: 768px) {
    .new-lr {
        
        float: left;
        width: 20%;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .menu .navbar-nav li a {
        padding: 15px 5px;
        font-size: 12px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .new-btn .btn {
        padding: 3px 12px;
    }
    .menu .navbar-nav li a {
/*        padding: 15px 13px;*/
        font-size: 14px;
    }
    .logo img {
        margin-top: 20px;
    }
}
@media (min-width: 1200px) {
    .new-btn .btn {
        padding: 3px 15px;
    }
    .menu .navbar-nav li a {
        padding: 15px 10px;
        font-size: 16px;
    }
}
.side-menu-ac .accordion-toggle:hover {
      text-decoration: none;
}
.side-menu-ac .glyphicon {
    font-size: 12px;
}
.side-menu-ac .panel-title {
    font-size: 14px;
}
.side-menu-ac .panel {
    box-shadow: none;
    border: none;
}
.side-menu-ac .panel-default > .panel-heading {
    background-color: inherit;
}
.side-menu-ac {
    border-right: 1px solid #ddf1f7;
}
.side-menu-ac .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid #ddf1f7;
}

      .baner .thumbnail{
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
    }
    .baner:hover .thumbnail{
          -webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1);
    }
/*

.shape{    

	border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;

	-ms-transform:rotate(360deg); /* IE 9 */

	/*-o-transform: rotate(360deg);  /* Opera 10.5 */

/*	-webkit-transform:rotate(360deg);*/ /* Safari and Chrome */

	/*transform:rotate(360deg);

	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);

}







.shape-text{

	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;

	-ms-transform:rotate(30deg); /* IE 9 */

	/*-o-transform: rotate(360deg);*/  /* Opera 10.5 */

	/*-webkit-transform:rotate(30deg);*/ /* Safari and Chrome */

	/*transform:rotate(30deg);*/

/*}	

@media (min-width: 487px) {

  .container {

    max-width: 750px;

  }

  .col-sm-6 {

    width: 50%;

  }

}

@media (min-width: 900px) {

  .container {

    max-width: 970px;

  }

  .col-md-4 {

    width: 33.33333333333333%;

  }

}



@media (min-width: 1200px) {

  .container {

    max-width: 1170px;

  }

  .col-lg-3 {

    width: 25%;

  }

  }

}*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navgat.dropdown-menu {
   background-color: #00ADD6;
}
.navgat.dropdown-menu li a {
    color: #ffffff;
    padding: 5px 12px;
    font-size: 14px;
}
.navgat.dropdown-menu > li > a:focus, .navgat.dropdown-menu > li > a:hover {
    background-color: inherit;
}
.menu .nav li a:hover {
    color: #ffffff;
}
.menu .nav li:hover, .menmu .navbar-nav > li > a:focus, .menu .navbar-default .navbar-nav > li > a:hover, .menu .open > a, .menu .open > a:focus, .menu .open > a:hover {
    background-color: #FBAF40 !important;
}
.navgat-sub {
    background-color: #00ADD6;
}
.menu .navbar-nav > .open > a, .menu .navbar-nav > .open > a:focus, .menu .navbar-nav > .open > a:hover {
    color: #ffffff;
}
.btn-log {
    background-color: #2BC8E7;
    border:1px solid #2BC8E7;
}
.foot-ul li:first-child {
    padding-left: 0px;
}
.contact-help {
    padding-top : 5px;
}
.category-image img {
    width: 100%;
/*    height: 250px;*/
}
.new-media .media > .pull-left {
    margin-right: 3px;
}
.user-btn {
    padding: 3px 21px;
    font-weight: normal;
}
.shopping-cart-title-md:hover {
    text-decoration: none;
}
.shopping-cart-title-md {
    color: #e75621;
}
.cart-count {
    color: #fff;
    left: 34px;
    position: absolute;
    top: 48%;
}
.right-cart {
    position: absolute;
    top: 20px;
}
.sidebar-nav ul.nav > li > a, .sidebar-nav ul.nav > li > a:focus, .sidebar-nav ul.nav > li > a:hover, .sidebar-nav ul.nav > li.active > a, .sidebar-nav ul.nav > li.active > a:hover, .sidebar-nav ul.nav > li.active > a:visited {
 background: #fff  !important;
 color: #000 !important;
}
.btn-default {
    font-weight: normal;
}
.padd-smal-t {
    margin-top: 15px;
}
.navbar-nav > li:last-child .dropdown-menu {
    right: 0;
    left: inherit;
}
.menu .navbar-nav {
    margin: inherit;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    pointer-events: initial;
}
.search-icon {
    position: absolute;
    right: 16px;
    top: 7px;
}
.add-on .form-control{
    position: initial !important;
    border-radius: 4px !important;
}
.add-on {
    display: inherit !important;
}
.search-icon .btn {
    padding: 0 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}
.search-icon .btn:hover {
    background-color: #fffff;
    color: #000;
    border-color: #ffffff !important;
}
.search-icon .fa {
    color: #E75621;
}
.adj-wid {
    min-width: 329px;
}
.new-padd-lo {
    padding-top: 10px;
}
.cat_0 h4, .cat_0 p {
    color: #00ADEE !important;
}
.cat_1 h4, .cat_1 p {
    color: #EB008B !important;
}
.cat_2 h4, .cat_2 p {
    color: #FBAF40 !important;
}
/*.cat_3 h4, .cat_3 p {
    color: #EB008B !important;
}*/
.cat_3 h4, .cat_3 p {
    color: #8DC63F !important;
}
.cat_4 h4, .cat_4 p {
    color: #0E75BB !important;
}
.cat_5 h4, .cat_5 p {
    color: #662D91 !important;
}
.cat_6 h4, .cat_6 p {
    color: #EE4036 !important;
}
.cat_0 .thumbnail {
    border-bottom: 5px solid #00ADEE;
    padding-bottom: 20px;
}
.cat_1 .thumbnail {
    border-bottom: 5px solid #EB008B;
    padding-bottom: 20px;
}
.cat_2 .thumbnail {
    border-bottom: 5px solid #FBAF40;
    padding-bottom: 20px;
}
/*.cat_3 .thumbnail {
    border-bottom: 5px solid #EB008B;
    padding-bottom: 20px;
}*/
.cat_3 .thumbnail {
    border-bottom: 5px solid #8DC63F;
    padding-bottom: 20px;
}
.cat_4 .thumbnail {
    border-bottom: 5px solid #0E75BB;
    padding-bottom: 20px;
}
.cat_5 .thumbnail {
    border-bottom: 5px solid #662D91;
    padding-bottom: 20px;
}
.cat_6 .thumbnail {
    border-bottom: 5px solid #EE4036;
    padding-bottom: 20px;
}
.baner .thumbnail:hover {
    border-bottom: 5px solid #E75621;
     transition: all 0.5s linear;
     
}
.baner .thumbnail:hover h4, .baner .thumbnail:hover p {
    color: #E75621 !important;
}
.baner h4 {
    font-weight: 600;
    padding-top: 10px !important;
}
.party-col {
    background-color: #e75621;
    color: #ffffff;
    padding-top: 15px;
}
.bg-par {
    background-image: url('../img/wow.png');
    padding-bottom: 12px;
    background-repeat: no-repeat;
}
.open .right-cart {
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.content {
    font-family: 'nunito';
}
.bg-logo {
/*    background: url(/files/350X145/cheap-party-shop-logo.png) no-repeat;*/
/*    background-position: center;
    background-size: 100% 100%;*/
}
.padding {
    padding-top: 15px;
    padding-bottom: 20px;
}
.foot-nav {
    line-height: 1.8em;
}
.foot-nav li a {
    color: #fff !important;
}
.fullprdctaddtc label {
    font-weight: normal;
}