<?php
$count = count($this->pages);
if(!$count){
    return;
}
?>
<ol class="breadcrumb">
    <?php
    

    foreach ($this->pages as $page) {

        $html = '';
        // render li tag and page
        $isActive = $page->isActive(true);
        $id = $page->getId();
        $liClasses = array();
        $aClasses = array();

        if ($page->get('linkClass')) {
            $aClasses [] = $page->get('linkClass');
        }
        // Is page active?
        if ($isActive) {
            $liClasses [] = 'active';
            $aClasses [] = 'active';
        }
        // Add CSS class from page to <li>
        if ($addClassToListItem && $page->getClass()) {
            $liClasses [] = $page->getClass();
        }

        $liClass = empty($liClasses) ? '' : ' class="' . implode(' ', $liClasses) . '"';

        $html .= '<li ' . $liClass . '>' . PHP_EOL;

        $href = $page->getHref();

        $aClass = empty($aClasses) ? '' : ' class="' . implode(' ', $aClasses) . '"';

        if ($page->getTarget()) {
            $aClass .= ' target="' . $page->getTarget() . '" ';
        }

        if ($page->getId()) {
            $aClass .= ' id="' . $page->getId() . '" ';
        }
        if ($page->get('title')) {
            $aClass .= ' title="' . $page->get('title') . '" ';
        }
        $lastLink = \Config\Api\ConfigApi::getConfigByKey('BREADCRUMB_LAST_LINK');

        if (!($count-1)) {

            if ($lastLink) {
                $html .= '<a ' . $aClass . ' href="' . $href . '">';
            }
        } else {
            $html .= '<a ' . $aClass . ' href="' . $href . '">';
        }
        if ($page->get('iconClass')) {
           $html .= ' <span class="  ' . $page->get('iconClass') . '"></span> ';
        }
        $html .= $page->getLabel();
        if (!($count-1)) {
            if ($lastLink) {
                $html .= '</a> ';
            }
        } else {
            $html .= '</a>';
        }
        $html .= '</li>' . PHP_EOL;
        echo $html;
        $count--;
    }
    ?>
</ol>

