@CHARSET "UTF-8";

.nav-tabs>li>a.active,.nav-tabs>li>a.active:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.tabbable ul li a {
    text-transform: uppercase;
}

.tabbable ul li a.active {
    color: #0088CC;
}

.control-label span .pop_over {
    margin-right: 3px;
}

.ui-resizable-se {
    bottom: 18px;
    right: 5px;
}

.filter_form .chzn-container {

}
.filter_form .chzn-single{
    height: 34px;
    line-height:34px;
    top: 2px;

}

.inline-item {
    border-bottom: 1px dashed #DCDCDC;
    padding: 10px;
}

.inline-item .item-key {
    float: left;
    color: #888888;
}

.inline-item .item-value {
    float: left;
    margin-left: 10px;
}

body.iframe-layout #nprogress .bar {
    top: 0px;
}

body.iframe-layout #nprogress .spinner {
    top: 15px;
}

body.iframe-layout .top-right,body.iframe-layout .top-left,body.iframe-layout .top-center
{
    top: 0px;
}
body .navbar .nav .dropdown-toggle .caret{
    margin-top: 0px;
}

.sample-empty-block-wrapper {
    margin: 10px 10px;

    background: white;
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    float: left;
    text-align:center;
    padding:10px;

}

.sample-empty-block-wrapper .block-content{
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    height: 70px;
    font-weight: bold;
}

.sample-empty-block-wrapper p {
    vertical-align: middle;
    text-align: center;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    text-decoration: bold;
    margin: 10px 20px;
    text-decoration: bold;
}

.ui-state-highlight {
    margin: 10px 10px;
    width: 200px;
    height: 70px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    float: left;
    border: 1px dashed #333;
}

.row.demo-block{
    -moz-box-sizing: border-box;
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1) inset;
    margin: 15px 0;
    padding: 15px 14px 0;
    position: relative;
    min-height: 50px;
}
.dashboard_main_chart{
    height: 340px;
    margin: 5px 0;
    width: 95%;
}
.dashboard_main_content{
    height: 400px;
    overflow: auto;
}
.AdminDashboardUserGraph{
    
}

.dashboard_simple_chart .chart_content{
    background: -moz-linear-gradient(center top , #F9F9F9 0%, #EDEDED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    display: inline-block;
    line-height: 18px;
   margin-top:20px;
    padding: 0 10px;
    width:100%;
}

.dashboard_simple_chart .p_canvas {
    border-right: 1px solid #DCDCDC;
    box-shadow: 1px 0 0 0 #FFFFFF;
    float: left;
    margin-right: 12px;
    padding: 10px 14px 6px 4px;
}
.dashboard_simple_chart .ov_text {
    float: left;
    font-size: 12px;
    padding: 9px 10px 7px 0;
    text-align: left;
    min-width: 110px;
    
}
.dashboard_simple_chart .p_canvas{
    width: 150px;
}
.dashboard_simple_chart .ov_text strong {
    display: block;
    font-size: 16px;
}

span.error{
    color: red;
}


div.tabbable{
    margin-bottom: 20px;
}

.form-group{
    position: static;
}

.wmk_grid .thumbnail.active{
   border-color: #0088CC;
   border-width: 5px;
}