<?php

use Product\Api\ProductReportApi;

use Admin\Api\AdminApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();

ob_start ();
$item->setTitle ( 'Total Products' );
$session = AdminApi::getDashboardSession ();
$total = ProductReportApi::getAllProductsCount ( null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ) );
$chartType = AdminApi::getChartType ();

$results = null;
if ($chartType == 'week') {
	$results = ProductReportApi::getAllProductCountByWeek(null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} elseif ($chartType == 'month') {
	$results = ProductReportApi::getAllProductCountByMonth(null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} 

elseif ($chartType == 'year') {
	$results = ProductReportApi::getAllProductCountByYear(null, $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} else {
	$results = ProductReportApi::getAllProductCountByDay(null,$session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
}
$temp = array ();
foreach ( $results as $result ) {
	$temp [] = ( float ) $result ['countProductId'];
}

?>
<div class="p_bar_up p_canvas"><?php echo implode(',', $temp); ?></div>
<div class="ov_text">
	<strong><?php echo $this->numberFormat($total, \NumberFormatter::DECIMAL);?></strong>Products
</div>

<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 970 );
?>
