<?php
use File\Api\FileApi;

use Product\Api\ProductApi;

/* @var $item BlucartGrid\Option\Helper\DetailItem */
$item = $this->item;
$params = $this->params;
$productId = $params ['id'];
$item->setTitle ( 'Images' );
ob_start ();
$results = ProductApi::getProductImageByProductId ( $productId, null );
?>
<div class="top-links row">
	<div class="pull-right">
		<a class="btn bn-primary zoombox"
			href="<?php
			
			echo $this->url ( 'admin-product-image', array (
					'productId' => $productId 
			) );
			?>"><?php echo $this->translate('Manage Images'); ?></a>
	</div>
</div>
<?php
if ($results) {
	?>
<div class="images">
<?php
	foreach ( $results as $result ) {
		$productImageId = $result ['productImageId'];
		$productImage = ProductApi::getProductImageById ( $productImageId );
		if ($productImage->file) {
			?>
		<span>
		<?php echo FileApi::formImage($productImage->file->path,100,100); ?>
	</span>

<?php
		}
	}
	
	?>

<div class="clear"></div>
</div>
<?php
} else {
	?>
<div class='no-results'><?php echo $this->translate('no results found!');?></div>

<?php
}
?>

<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 1000 );
?>