<?php
use Inventory\Api\InventoryApi;

use Inventory\Entity\Stock;

use Product\Api\ProductApi;

use Core\Functions;

use User\Api\UserApi;

use User\Api\UserReportApi;

use Payment\Api\PaymentApi;

use OrderMain\Api\OrderApi;

use OrderMain\Api\OrderReportApi;

use Admin\Api\AdminApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();
$session = AdminApi::getDashboardSession ();
$chartResults = null;
$chartType = AdminApi::getChartType ();
$chartResults = OrderReportApi::getBestProducts ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 10 );


$temp = array();
foreach($chartResults as $result){
    $temp[] = $result;
}
$chartResults = $temp;
?>
<div class="row-fluid">

	<div class="span5">
		<h3 class="heading">Top Products</h3>
		<div id="product_chart"
			style="height: 250px; width: 80%; margin: 50px auto 0"></div>
	</div>
	<div class="span7">
		<div class="heading clearfix">
			<h3 class="pull-left">Products</h3>
			<span class="pull-right label label-info ttip_t"
				title="Here is a sample info tooltip">Info</span>
		</div>

		<div class="tabbable">
			<ul class="nav nav-tabs">
			
				<?php
				if (Functions::hasModule ( 'OrderMain' )) {
					?>
				<li class="active"><a data-toggle="tab" href="#best-products">Best</a></li>
				<?php
				}
				?>
				<?php
				if (Functions::hasModule ( 'Inventory' )) {
					?>
				<li class=""><a data-toggle="tab" href="#stock-products">Product
						Stock</a></li>
				<?php
				}
				?>
				<?php
				if (Functions::hasModule ( 'Attribute' ) && Functions::hasModule ( 'Inventory' )) {
					?>
				<li class=""><a data-toggle="tab" href="#stock-attribute-products">Product
						Attribute Stock</a></li>
				<?php
				}
				?>

			</ul>
			<div class="tab-content">
				<div id="best-products" class="tab-pane active">
					<table class="table table-striped table-bordered mediaTable">
						<thead>
							<tr>
								<th class="optional">Product ID</th>
								<th class="essential persist">Product Title</th>
								<th class="essential persist">Revenue</th>
								<th class="optional">Profit</th>
								<th class="optional">Sell Price</th>
								<th class="optional">Units Sold</th>
								<th class="optional">Stock</th>
							</tr>
						</thead>

						<tbody>
				<?php
				$results = OrderReportApi::getBestProducts ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
				
				if ($results) {
					?>
				<?php
					
					foreach ( $results as $result ) {
						$product = ProductApi::getProductById ( $result ['productId'] );
						
						?>
				
				<tr>
								<td><a href="<?php
						
echo $this->url ( 'admin-product-view', array (
								'productId' => $product->id 
						) );
						?>" ><?php echo $product->id; ?></a></td>
								<td><?php echo $product->title; ?></td>
								<td><?php echo $this->currencyFormat($result['sumAmount']); ?></td>
								<td><?php echo $this->currencyFormat($result['profit']); ?></td>
								<td><?php echo $this->currencyFormat($product->sellPrice); ?></td>
								<td><?php echo $result['unitsSold']; ?></td>
								<td>
					<?php
						if ($stock = InventoryApi::getStockByProductId ( $product->id )) {
							
							echo $stock->status ? $stock->qty : 'N/A';
						}
						?>
					</td>
							</tr>
				<?php
					}
				} else {
					?>
				
							
							
							<tr>
								<td colspan="6"><?php echo $this->translate('Currently there are no orders.'); ?></td>
							</tr>
				<?php
				}
				?>
			</tbody>
					</table>
				</div>

<?php
if (Functions::hasModule ( 'Inventory' )) {
	?>
				
					<div id="stock-products" class="tab-pane">
					<table class="table table-striped table-bordered mediaTable">
						<thead>
							<tr>
								<th class="optional">Product ID</th>
								<th class="essential persist">Product Title</th>
								<th class="essential persist">Current Stock</th>

							</tr>
						</thead>

						<tbody>
				<?php
	$results = InventoryApi::getStockReport ( 0, 5 );
	
	if ($results) {
		?>
				<?php
		
		foreach ( $results as $result ) {
			$stock = InventoryApi::getStockById ( $result ['stockId'] );
			
			?>
				
				<tr>
								<td><a href="<?php
						
echo $this->url ( 'admin-product-view', array (
								'productId' => $stock->product->id 
						) );
						?>" ><?php echo $stock->product->id; ?></a></td>
								<td><?php echo  $stock->product->title; ?></td>
								<td><?php echo $stock->qty; ?></td>

							</tr>
				<?php
		}
	} else {
		?>
				<tr>
								<td colspan="6"><?php echo $this->translate('Currently there are no products.'); ?></td>
							</tr>
				<?php
	}
	?>
			</tbody>
					</table>
				</div>



			
				<?php
}
?>
		

			<?php
			if (Functions::hasModule ( 'Inventory' ) && Functions::hasModule ( 'Attribute' )) {
				?>
			
				<div id="stock-attribute-products" class="tab-pane">
					<table class="table table-striped table-bordered mediaTable">
						<thead>
							<tr>
								<th class="optional">Product ID</th>
								<th class="essential persist">Product Title</th>
								<th class="essential persist">Attribute Title</th>
								<th class="essential persist">Stock</th>

							</tr>
						</thead>

						<tbody>
				<?php
				$results = InventoryApi::getStockAttributeReport ( 0, 5 );
				
				if ($results) {
					?>
				<?php
					
					foreach ( $results as $result ) {
						
						$stockAttribute = InventoryApi::getStockAttributeById ( $result ['stockAttributeId'] );
						
						?>
				
				<tr>
								<td><a href="<?php
						
echo $this->url ( 'admin-product-view', array (
								'productId' => $stockAttribute->attributeOptionProduct->product->id
						) );
						?>" ><?php echo $stockAttribute->attributeOptionProduct->product->id; ?></a></td>
								<td><?php echo  $stockAttribute->attributeOptionProduct->product->title; ?></td>
								<td><?php echo $stockAttribute->attributeOptionProduct->name; ?></td>
								<td><?php echo $stockAttribute->status?$stockAttribute->qty: 'N/A'; ?></td>

							</tr>
				<?php
					}
				} else {
					?>
				<tr>
								<td colspan="6"><?php echo $this->translate('Currently there are no products.'); ?></td>
							</tr>
				<?php
				}
				?>
			</tbody>
					</table>




				</div>
				<?php
			}
			?>
			</div>


		</div>

	</div>



</div>
<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 800 );
?>
<?php $this->inlineScript()->captureStart(); ?>

 function createChartProduct(allData) {
  var sharedDataSource = new kendo.data.DataSource({
                     data: allData
                });
     $("#product_chart").kendoChart({
         dataSource: sharedDataSource,
         autoBind: false,
         legend: {
             visible: true,
             position: 'bottom'
         },
         series: [{
             type: "column",
             name: 'Revenue',
             field: "sumAmount",
           
             tooltip: {
             visible: true,
             format: "{0:C}"
         }
            
         },
         {
             type: "column",
             field: "profit",
             name: 'Profit',
            
             tooltip: {
             visible: true,
             format: "{0:C}"
         }
            
         },
         {
             type: "column",
             name: 'Units Sold',
             field: "unitsSold",
            
         }
         
         ],
         axisDefaults: {
             labels: {
                 font: "11px Tahoma, sans-serif"
             }
         },
         valueAxis: {
            
         },
         categoryAxis: {
             field: "productTitle",
              labels: {
                rotation: -45          
              }
         },
         tooltip: {
             visible: true,
             
         }
     });
     sharedDataSource.read();
 }
 jQuery(function(){
 
 var data = <?php echo json_encode($chartResults, JSON_NUMERIC_CHECK); ?>;
 createChartProduct(data);
 
 });
 
 <?php $this->inlineScript()->captureEnd(); ?>