<?php

use OrderMain\Api\OrderReportApi;
use Admin\Api\AdminApi;
use OrderMain\Api\OrderApi;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$item->setTitle('Total Orders');
$session = AdminApi::getDashboardSession();
$total = OrderReportApi::getTotalAllOrders($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'));
$chartType = AdminApi::getChartType();

$results = null;
if ($chartType == 'week') {
    $results = OrderReportApi::getAllOrderSalesByWeek($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
} elseif ($chartType == 'month') {
    $results = OrderReportApi::getAllOrderSalesByMonth($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
} elseif ($chartType == 'year') {
    $results = OrderReportApi::getAllOrderSalesByYear($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
} else {
    $results = OrderReportApi::getAllOrderSalesByDay($session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
}
$temp = array();
foreach ($results as $result) {
    $temp [] = (float) $result ['countOrders'];
}
?>
<div class="chart_content">
    <div class="p_line_up p_canvas"><?php echo implode(',', $temp); ?></div>
    <div class="ov_text">
        <strong><?php echo $this->numberFormat($total, \NumberFormatter::DECIMAL); ?></strong><?php echo $this->translate('Orders'); ?></div>
</div>
<?php
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000);
