<?php
use OrderMain\Api\OrderApi;
use OrderMain\Api\OrderReportApi;
use Payment\Api\PaymentApi;
use Admin\Api\AdminApi;
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams ();
ob_start ();
$session = AdminApi::getDashboardSession();
?>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#pending-orders">Pending</a></li>
		<li class=""><a data-toggle="tab" href="#sale-orders">Sale</a></li>
		<li class=""><a data-toggle="tab" href="#cancelled-orders">Cancelled</a></li>
	</ul>
	<div class="tab-content">
		<div id="pending-orders" class="tab-pane active">
			<table class="table table-striped table-bordered mediaTable">
				<thead>
					<tr>
						<th class="optional">Order ID</th>
						<th class="essential persist">Customer</th>
						<th class="optional">Status</th>
						<th class="optional">Payment Status</th>
						<th class="essential">Total</th>
						<th class="essential">Date</th>
					</tr>
				</thead>

				<tbody>
<?php
$results = OrderReportApi::getPendingOrders ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );

if ($results) {
	?>
                                <?php
	foreach ( $results as $result ) {
		$order = OrderApi::getOrderById ( $result ['orderMainId'] );
		$payment = PaymentApi::getPaymentOrderByOrderId ( $order->id );
		?>

                                    <tr>
						<td><a
							href="<?php
		echo $this->url ( 'admin-order-view', array (
				'orderId' => $order->id 
		) );
		?>"><?php echo $order->id; ?></a></td>
						<td><?php echo $order->firstName . ' ' . $order->lastName; ?></td>
						<td><?php echo $order->orderStatus->name; ?></td>
						<td>
                                                <?php
		if ($payment) {
			echo $payment->paymentStatus->name;
		}
		?>
                                        </td>
						<td><?php echo $this->currencyFormat($order->amount); ?></td>
						<td>
                                            <?php echo $this->dateFormat($order->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>
                                        </td>
					</tr>
                                            <?php
	}
} else {
	?>
                                <tr>
						<td colspan="6"><?php echo $this->translate('Currently there are no orders.'); ?></td>
					</tr>
                                <?php
}
?>
                        </tbody>
			</table>
		</div>
		<div id="sale-orders" class="tab-pane">
			<table class="table table-striped table-bordered mediaTable">
				<thead>
					<tr>
						<th class="optional">Order ID</th>
						<th class="essential persist">Customer</th>
						<th class="optional">Status</th>
						<th class="optional">Payment Status</th>
						<th class="essential">Total</th>
						<th class="essential">Date</th>
					</tr>
				</thead>

				<tbody>
<?php
$results = OrderReportApi::getSaleOrders ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
if ($results) {
	?>
    <?php
	foreach ( $results as $result ) {
		$order = OrderApi::getOrderById ( $result ['orderMainId'] );
		$payment = PaymentApi::getPaymentOrderByOrderId ( $order->id );
		?>

                                    <tr>
						<td><a
							href="<?php
		echo $this->url ( 'admin-order-view', array (
				'orderId' => $order->id 
		) );
		?>"><?php echo $order->id; ?></a></td>
						<td><?php echo $order->firstName . ' ' . $order->lastName; ?></td>
						<td><?php echo $order->orderStatus->name; ?></td>
						<td>
                                                <?php
		if ($payment) {
			echo $payment->paymentStatus->name;
		}
		?>
                                        </td>
						<td><?php echo $this->currencyFormat($order->amount); ?></td>
						<td>
                                            <?php echo $this->dateFormat($order->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>
                                        </td>
					</tr>
                                            <?php
	}
} else {
	?>
                                <tr>
						<td colspan="6"><?php echo $this->translate('Currently there are no orders.'); ?></td>
					</tr>
    <?php
}
?>
                        </tbody>
			</table>
		</div>
		<div id="cancelled-orders" class="tab-pane">
			<table class="table table-striped table-bordered mediaTable">
				<thead>
					<tr>
						<th class="optional">Order ID</th>
						<th class="essential persist">Customer</th>
						<th class="optional">Status</th>
						<th class="optional">Payment Status</th>
						<th class="essential">Total</th>
						<th class="essential">Date</th>
					</tr>
				</thead>

				<tbody>
<?php
$results = OrderReportApi::getCancelledOrders ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
if ($results) {
	?>
    <?php
	foreach ( $results as $result ) {
		$order = OrderApi::getOrderById ( $result ['orderMainId'] );
		$payment = PaymentApi::getPaymentOrderByOrderId ( $order->id );
		?>

                                    <tr>
						<td><a
							href="<?php
		echo $this->url ( 'admin-order-view', array (
				'orderId' => $order->id 
		) );
		?>"><?php echo $order->id; ?></a></td>
						<td><?php echo $order->firstName . ' ' . $order->lastName; ?></td>
						<td><?php echo $order->orderStatus->name; ?></td>
						<td>
        <?php
		if ($payment) {
			echo $payment->paymentStatus->name;
		}
		?>
                                        </td>
						<td><?php echo $this->currencyFormat($order->amount); ?></td>
						<td>
        <?php echo $this->dateFormat($order->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>
                                        </td>
					</tr>
                                            <?php
	}
} else {
	?>
                                <tr>
						<td colspan="6"><?php echo $this->translate('Currently there are no orders.'); ?></td>
					</tr>
                                        <?php
}
?>
                        </tbody>
			</table>
		</div>
	</div>
</div>
<?php
$block = ob_get_clean ();
$item->setBlock ( $block );
$item->setWeight ();
?>