<?php 
use OrderMain\Api\OrderReportApi;
use Admin\Api\AdminApi;
use OrderMain\Api\OrderApi;
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start ();

$item->setTitle ( 'Total Sales' );
$session = AdminApi::getDashboardSession ();
$total = OrderReportApi::getTotalSales ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ) );
$chartType = AdminApi::getChartType ();

$results = null;
if ($chartType == 'week') {
	$results = OrderReportApi::getOrderSalesByWeek ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} elseif ($chartType == 'month') {
	$results = OrderReportApi::getOrderSalesByMonth ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} 

elseif ($chartType == 'year') {
	$results = OrderReportApi::getOrderSalesByYear ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
} else {
	$results = OrderReportApi::getOrderSalesByDay ( $session->startDate->format ( 'Y-m-d' ), $session->endDate->format ( 'Y-m-d' ), 0, 5 );
}
$temp = array ();
foreach ( $results as $result ) {
	$temp [] = ( float ) $result ['sumAmount'];
}

?>
<div class="chart_content">
<div class="p_bar_up p_canvas"><?php echo implode(',', $temp); ?></div>
<div class="ov_text">
	<strong><?php echo $this->currencyFormat($total);?></strong><?php echo $this->translate('Sale'); ?>
</div>
</div>
<?php 
$block = ob_get_clean ();
$item->setBlock ( $block );
$item->setWeight (  );
?>