<?php
/* @var $importContainer \Import\Option\ImportContainer */
$importContainer = $this->importContainer;
?>
<h1 class="heading"><?php echo $this->translate($importContainer->getTitle()); ?> - Step 2</h1>

<?php
$count = 0;
if (is_array($this->data)) {
    $d = $this->data[0];

    if (is_array($d)) {
        $count = count($d);
    }
}
?>
<div class="import-wrapper" >

    <div class="clearfix">
        <div class="text-right">
            <button class="btn btn-import-save">
                <i class="glyphicon glyphicon-ok"></i> Save
            </button>
        </div>

    </div>
    <p>&nbsp;</p>
    <div style="height:300px;overflow-x: scroll; overflow-y: scroll;">
        <table class="table table-striped table-bordered import-table">

            <thead>
                <tr>
                    <th><?php echo $this->translate('Sno.'); ?></th>
                    <?php
                    for ($i = 0; $i < $count; $i ++) {
                        ?>
                        <th class="column_name"><?php echo $this->formselect($importContainer->getSelectObject('import_' . $i, (count($this->data)?$this->data[0][$i]: array()))); ?></th>

                        <?php
                    }
                    ?>
                    <th width="300" class="row_status"><?php echo $this->translate('Status'); ?></th>
                </tr>
            </thead>
            <tbody>

                <?php
                $i = 1;
                $dataArray = $this->data;
                foreach ($dataArray as $d) {
                    if ($i == 1) {
                        $i++;
                        continue;
                    }
                    ?>
                    <tr id="row-<?php echo $i; ?>" class="row_value">
                        <td><?php echo $i++; ?></td>
                        <?php
                        foreach ($d as $s) {
                            ?>
                            <td class="column_value"><input
                                    value="<?php echo htmlentities($s); ?>"></td>
                                <?php
                            }
                            ?>
                        <td class="status_message"></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
    </div>
</div>

<?php $this->headscript()->captureStart(); ?>


$(function(){

$('.btn-import-save').click(function(){
//$('.import-wrapper').mask('Loading..');

ColumnValues = [];

var i = 0;


$.each($('.import-table tr th.column_name'), function(){
ColumnValues[i] = $(this).find('select').val();
i++;
});

execTask($('.import-table tr.row_value:first'));

});


});

function execTask(tr) {
if(!tr.length) {
//$('.import-wrapper').unmask();
return;
}//no more left, abort out
i = 0;
var RowValues = [];
row_columns = tr.find('td.column_value');
$.each(row_columns, function(){
RowValues[i] = $(this).find('input').val();
i++;
});

var jsonObject = {};

for(var j=0;j < ColumnValues.length; j++){

if(ColumnValues[j]){
jsonObject[ColumnValues[j]] = RowValues[j];
}

}
tr.find('td.status_message').html('');
//tr.find('td.status_message').mask('Loading..');
$.ajax({
type: "POST",
url: "<?php echo $this->url('admin-import-save', array('eventName' => $importContainer->getEventName())); ?>",
data: jsonObject, 
success: function(data)
{
tr.find('td.status_message').html(data);
//tr.find('td.status_message').unmask();
execTask(tr.next()); 
}
});

}


<?php $this->headscript()->captureEnd(); ?>

