<?php
use ProductRecommended\Api\ProductRecommendedApi;

use ProductRecommended\Entity\ProductRecommended;

use Product\Api\ProductApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();
$productId = $contentContainer->getParam ( 'productId' );
$title = $this->translate ( 'Recommended' );
$url = $this->url ( 'admin-product-recommended', array (
		'productId' => $productId 
) );
$item->setTitle ( '<a href="' . $url . '" class="zoombox external_link">Recommended</a>' );
$results = ProductRecommendedApi::getRecommendedProducts ( $productId );
$temp = array ();
if ($results) {
	foreach ( $results as $result ) {
		
		$resultId = $result ['productRecommendId'];
		$entity = ProductRecommendedApi::getProductRecommendedById ( $resultId );
		
		$temp [] = '<a href="' . $this->url ( 'admin-product-view', array (
				'productId' => $entity->recommendedProduct->id 
		) ) . '" class="external_link">' . $entity->recommendedProduct->title . '</a>';
		
		?>
<?php
	}
	echo implode ( ',', $temp );
} else {
	echo $this->translate ( 'N/A' );
}
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ();
?>