<?php
use Core\Functions;

$title = $this->translate ( 'Order Comment' );
?>
<div class="block">
	<div class="block-header">
		<h1 class="heading"><?php echo $title ;?>: #<?php echo Functions::fromRoute('orderId'); ?></h1>
	</div>
</div>
<?php
echo $this->flashMessenger ();
?>
<?php

echo $this->link ( 'userOrderCommentAdd' )->render ();
echo $this->tab ( 'userOrderCommentAdd' )->render ();
$form = $this->form;
$form = $this->sbForm ( $form );
echo $this->form ( $form );