<?php 
use User\Api\UserApi;
use Core\Functions;
use OrderMain\Api\OrderApi;
use Payment\Api\PaymentApi;
use Shipping\Api\ShippingApi;

$user = UserApi::getLoggedInUser();
$results = OrderApi::getOrdersByUserId ( $user->id);
$this->pageTitle($this->translate('My Orders'));
?>
<div class="block user-orders">
	<div class="block-header">

		<h3><?php echo $this->translate('Orders'); ?> <span
				class="pull-right label label-info ttip_t"><?php echo $this->translate('Total').': '.count($results);?></span>
		</h3>


	</div>

	<div class="block-content">
		<table class="table table-striped table-bordered mediaTable">
			<thead>
				<tr>
					<th><?php echo $this->translate('Order ID'); ?></th>
				<?php
				if (Functions::hasModule ( 'Shipping' )) :
					?>
				<th><?php echo $this->translate('Customer Name'); ?></th>
				
				
				<?php 
				endif;
				?>
				<th><?php echo $this->translate('Status'); ?></th>
					<th><?php echo $this->translate('Payment Status'); ?></th>
				<?php
				if (Functions::hasModule ( 'Shipping' )) :
					?>
				<th><?php echo $this->translate('Shipping Status'); ?></th>
				
				<?php 
				endif;
				?>
				<th><?php echo $this->translate('Total'); ?></th>
					<th><?php echo $this->translate('Date'); ?></th>
				</tr>
			</thead>

			<tbody>
				<?php
				
				if ($results) {
					?>
				<?php
					
					foreach ( $results as $result ) {
						$order = OrderApi::getOrderById ( $result ['orderMainId'] );
						$payment = PaymentApi::getPaymentOrderByOrderId ( $order->id );
						$shipping = null;
						$shippingAddress = null;
						if (Functions::hasModule ( 'Shipping' )) {
							$shipping = ShippingApi::getShippingOrderByOrderId ( $order->id );
							$shippingAddress = ShippingApi::getShippingAddressByOrderId ( $order->id );
						}
						?>
				
				<tr>
					<td><a
						href="<?php
						
								echo $this->url ( 'account-order-view', array (
								'orderId' => $order->id 
						)
						 );
						?>"><?php echo $order->id; ?></a></td>
				<?php
						if (Functions::hasModule ( 'Shipping' )) {
							?>
				<td>
				<?php
							if ($shippingAddress) {
								?>
				<?php echo $shippingAddress->firstName.' '.$shippingAddress->lastName; ?>
				<?php
							}
							?>
						</td>
						<?php
						}
						?>
				<td><?php echo $order->orderStatus->name; ?></td>
					<td>
					<?php
						if ($payment) {
							echo $payment->paymentStatus->name;
						}
						?>
					</td>
						<?php
						if (Functions::hasModule ( 'Shipping' )) {
							?>
				<td>
					<?php
							if ($shipping && $shipping->shippingStatus) {
								echo $shipping->shippingStatus->name;
							}
							?>
					</td>
				<?php
						}
						?>	
					
				<td><?php echo $this->currencyFormat($order->amount); ?></td>
					<td>
					<?php echo $this->dateFormat($order->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>
					</td>
				</tr>
				<?php
					}
				}
				if (! count ( $results )) {
					?>
				<tr>
					<td colspan="7"><?php echo $this->translate('Currently there are no orders.'); ?></td>
				</tr>
				<?php
				}
				?>
			</tbody>
		</table>
	</div>
</div>