<?php

use OrderMain\Api\OrderApi;
use Core\Functions;
use File\Api\FileApi;
use User\Api\UserApi;

$orderId = Functions::fromRoute('orderId');
$this->pageTitle($this->translate('OrderId') . ': #' . $orderId);

$order = OrderApi::getOrderById($orderId);
if (!$order) {
    return;
}
?>

<div class="print-invoice">
    <a
        href="<?php
        echo $this->url('account-order-print', array(
            'orderId' => $order->id
        ));
        ?>"
        target="_blank"><i class="glyphicon glyphicon-print"></i> <b><?php echo $this->translate('Print Invoice'); ?></b></a>
    <a
        href="<?php
        echo $this->url('account-order-download', array(
            'orderId' => $order->id
        ));
        ?>"
        target="_blank"><i class="glyphicon glyphicon-download"></i> <b><?php echo $this->translate('Download Invoice'); ?></b></a>
</div>


<div class="row text-right">

    <b><?php echo $this->translate('Order Date'); ?>:</b>	<?php
        echo $this->dateFormat($order->createdDate, \IntlDateFormatter::MEDIUM, \IntlDateFormatter::MEDIUM);
        ?> 

</div>



<div class="row">

    <div class="col-md-6">
        <div class="box">
            <?php
            $addressFields = array(
                'addressLine1',
                'addressLine2',
                'city',
                'state',
                'country',
                'postcode',
                'contactNumber'
            );

            $address = OrderApi::getOrderBillingAddressByOrderId($order->id);
            if ($address) {
                $addressFields = array(
                    implode(', ', array(
                        $address->addressLine1,
                        $address->addressLine2
                    )),
                    implode(', ', array(
                        $address->city,
                        $address->state
                    )),
                    $address->country . '.',
                    implode(', ', array(
                        $address->postcode,
                        $address->contactNumber
                    ))
                );
                ?>

                <?php
                $array = array();

                foreach ($addressFields as $value) {
                    if ($value) {
                        $array [] = $value;
                    }
                }
                ?>
                <p>
                    <b><?php echo $this->translate('Billing Address'); ?></b>
                </p>
                <p>
                    <strong><?php echo $address->firstName; ?> <?php echo $address->lastName; ?></strong>
                    <br>
                    <?php echo implode('<br>', $array); ?>
                </p>
                <?php
            }
            ?>
        </div>
    </div>
    <?php
    /* @var $contentContainer \Common\Option\Content\ContentContainer */
    $contentContainer = $this->content('userOrderContentTop', array(
                'order' => $order
            ))->getContentContainer();

    $items = $contentContainer->getItems();
    if (count($items)) {
     
        foreach ($items as $key => $item) {
            ?>
            <div class="col-md-6">
                <div class="box">
                    <p>
                        <b><?php echo $item->getTitle(); ?></b>
                    </p>
        <?php echo $item->getContent(); ?>
                </div>
            </div>
        <?php
       
    }
}
?>

</div>
<div class="box">

    <table class="table">
        <thead>
            <tr>
                <th><?php echo $this->translate('Product ID'); ?></th>
                <th><?php echo $this->translate('Product Name'); ?></th>
                <th><?php echo $this->translate('Model'); ?></th>
                <th><?php echo $this->translate('Quantity'); ?></th>
                <th><?php echo $this->translate('Price'); ?></th>
                <th><?php echo $this->translate('Total'); ?></th>
            </tr>
        </thead>
        <tbody>
<?php
$products = OrderApi::getOrderProductsByOrderId($order->id);
foreach ($products as $p) {
    ?>
                <tr>
                    <td>
                <?php if ($p->product) { ?>
                            <a
                                href="<?php echo $this->url('product', array('productId' => $p->product->id)); ?>"
                                class="external_link"><?php echo $p->product->id; ?></a>
        <?php
    }
    ?>
                    </td>
                    <td>
                            <?php if ($p->product) { ?>
                            <a
                                href="<?php echo $this->url('product', array('productId' => $p->product->id)); ?>"
                                class="external_link"><?php echo $p->productTitle; ?></a>
        <?php
    } else {
        echo $p->productTitle;
    }
    ?>
                        <ul>
                            <?php
                            $orderLineItems = OrderApi::getOrderProductLineItemsByOrderProductId($p->id);
                            foreach ($orderLineItems as $item) {
                                ?>
                                <li><?php echo $item->title; ?> <?php
                                if ($item->value) {

                                    if (is_numeric($item->value)) {
                                        echo ': <b>' . $this->currencyFormat($item->value) . '</b>';
                                    } else {
                                        echo ': <b>' . $item->value . '</b>';
                                    }
                                }
                                ?></li>
                                    <?php
                                }
                                ?>
                        </ul>
                    </td>
                    <td><?php
                            if ($p->product) {
                                echo $p->product->sku;
                            }
                                ?></td>
                    <td><?php echo $p->qty; ?></td>
                    <td><?php echo $this->currencyFormat($p->sellPrice); ?></td>
                    <td><?php echo $this->currencyFormat($p->amount) ?></td>
                </tr>
    <?php
}
?>





<?php
$lineItems = OrderApi::getOrderLineItemByOrderId($order->id);
?>
            <?php foreach ($lineItems as $item) { ?>



                <tr>
                    <td colspan="4">&nbsp;</td>
                    <td class="muted sepV_b"><?php echo $item->title; ?></td>
                    <td><?php
            if ($item->value) {
                if (is_numeric($item->value)) {
                    echo $this->currencyFormat($item->value);
                } else {
                    echo $item->value;
                }
            }
                ?>
                    </td>
                </tr>
                        <?php
                    }
                    ?>
            <tr>
                <td colspan="4">&nbsp;</td>
                <td class="sepH_a text-success"><b><span class="sepV_b">Total</span></b></td>
                <td><?php echo $this->currencyFormat($order->amount); ?></td>
            </tr>


        </tbody>
    </table>

</div>

<?php
echo $this->content('userOrderContentBottom', array(
    'order' => $order
))->render();
?>
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-header">
                <h3><?php echo $this->translate('Comments'); ?></h3>
            </div>
        </div>
        <div class="print-comment text-right">
            <a
                href="<?php
echo $this->url('account-order-comment', array(
    'orderId' => $order->id
));
?>"
                class="zoombox"><i class="glyphicon glyphicon-plus"></i> <b><?php echo $this->translate('Add Comment'); ?></b></a>
        </div>
                <?php
                $comments = OrderApi::getFrontOrderCommentsByOrderId($order->id);
                foreach ($comments as $comment) {
                    $loggedInUser = UserApi::getLoggedInUser();
                    $user = $comment->user;
                    ?>
            <div class="row">
                <div class="col-sm-2">

            <?php
            if ($user && $user->avatar) {
                echo FileApi::formImage($user->avatar->path, 200, 200, array(
                    'title' => $user->avatar->title,
                    'alt' => $user->avatar->alt,
                    'class' => 'thumbnail img-responsive'
                ));
            } else {
                ?>
                        <img alt="" src="http://www.placehold.it/200x200/EFEFEF/AAAAAA"
                             class="thumbnail img-responsive">
                        <?php
                    }
                    ?>
                </div>
                <div class="col-sm-10">
                         <?php
                         if ($user) {
                             ?>
                        <b><?php echo $user->firstName . ' ' . $user->lastName ?></b>
                        <?php
                    }
                    ?>( <?php echo $this->dateFormat($comment->createdDate, \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?>)
                    <?php ?>
                    <p><?php echo $comment->comment; ?></p>
                    <?php
                    if ($user && $loggedInUser && ($loggedInUser->id == $user->id)) {
                        ?>
                        <?php
                        $url = $this->url('account-order-comment', array(
                            'orderId' => $comment->orderMain->id,
                            'orderCommentId' => $comment->id
                                ));
                        ?>
                        <p>
                            <a href="<?php echo $url; ?>" class="edit-comment zoombox"><i
                                    class="glyphicon glyphicon-pencil"></i> <?php echo $this->translate('edit'); ?></a>
                        <?php
                        $url = $this->url('account-order-commentdelete', array(
                            'orderId' => $comment->orderMain->id,
                            'orderCommentId' => $comment->id
                                ));
                        ?>
                            <a href="<?php echo $url; ?>" class="delete-comment"><i
                                    class="glyphicon glyphicon-remove"></i> <?php echo $this->translate('delete'); ?></a>
                        </p>
                                <?php
                            }
                            ?>
                </div>

            </div>
            <hr />
                    <?php
                }
                ?>
                <?php
                if (!count($comments)) {
                    ?>
            <div class="empty-message"><?php echo $this->translate('Currently there are no comments'); ?></div>
            <?php
        }
        ?>
    </div>
</div>


