<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
/* @var $entity \StaticBlock\Entity\StaticBlock */
$entity = $this->entity;
$params = $blockContainer->getParams();
ob_start();
$viewHelper = \Core\Functions::getViewHelperManager();
$navigationHelper = $viewHelper->get('navigation');
$partial = array('common/bootstrap-menu-manager-helper', 'default');
if ($entity->isVerticalMenu) {
    $partial = array('common/bootstrap-vertical-menu-manager-helper', 'default');
}
if ($entity->isCollapasable) {
    ?>

    <div class="navbar-inner">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-<?php echo $entity->name; ?>">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="row">
                <div class="collapse navbar-collapse navbar-collapse-<?php echo $entity->name; ?>">
                    <?php
                    echo $navigationHelper($this->navigation)->menu()->setPartial($partial)->render();
                    ?>
                </div>
            </div>
        </div>
    </div>

    <?php
} else {
    echo $navigationHelper($this->navigation)->menu()->setPartial($partial)->render();
}

$this->inlineScript()->captureStart();
if ($entity->isVerticalMenu) {
    ?>
    $(function(){

    $('.<?php echo $entity->name; ?>').metisMenu();
    });
    <?php
}
$this->inlineScript()->captureEnd();
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000);
