<?php

use File\Api\FileApi;
use Product\Api\ProductApi;
?>
<?php $this->pageTitle('Added to Cart'); ?>


<?php echo $this->flashmessenger(); ?>
<?php
if ($this->cartItem) {
    ?>
    <table class="cart-table table">
        <thead>
            <tr>
                <th class="card_product_image">Image</th>
                <th class="card_product_name">Product Name</th>
                <th class="card_product_model">Model</th>
                <th class="card_product_quantity">Quantity</th>
                <th class="card_product_price">Unit Price</th>
                <th class="card_product_total">Total</th>
            </tr>
        </thead>
        <tbody>

    <?php
    $cartItem = $this->cartItem;
 $productId = $cartItem->getProductId();
    if ($productId) {
       
        $product = ProductApi::getProductById($productId);
        ?>
                <tr>
                    <td class="card_product_image"><a
                            href="<?php echo $product ? $this->url('product', array('productId' => $product->id)) : '#' ?>">
        <?php
        $image = $cartItem->getImage();
        if ($image) {
            echo FileApi::formImage($image, 100, 100);
        }
        ?>

                        </a></td>
                    <td class="card_product_name"><a
                            href="<?php echo $product ? $this->url('product', array('productId' => $product->id)) : '#' ?>"><?php echo $cartItem->getTitle(); ?></a>

                        <ul class="inlineitems">
        <?php
        $inItems = $cartItem->getInItems();
        foreach ($inItems as $inItem) {
            ?>

                                <li><span class="inlinekey"><?php echo $inItem->getTitle(); ?></span>
            <?php
            $value = $inItem->getValue();
            if (is_numeric($value)) {
                ?>
                                        <span class="inlinevalue"><?php echo $this->currencyFormat($value); ?></span>
                                        <?php
                                    } else {
                                        ?>
                                        <span class="inlinevalue"><?php echo $value; ?></span>
                                        <?php
                                    }
                                    ?>
                                </li>
                                    <?php
                                }
                                ?>
                        </ul>
                        <ul class="outItems">
        <?php
        $outItems = $cartItem->getOutItems();
        foreach ($outItems as $outItem) {
            ?>

                                <li><span class="outkey"><?php echo $outItem->getTitle(); ?></span>
            <?php
            $value = $outItem->getValue();
            if (is_numeric($value)) {
                ?>
                                        <span class="outvalue"><?php echo $this->currencyFormat($value); ?></span>
                                        <?php
                                    } else {
                                        ?>
                                        <span class="outvalue"><?php echo $value; ?></span>
                                        <?php
                                    }
                                    ?></li>
                                    <?php
                                }
                                ?>
                        </ul></td>
                    <td class="card_product_model">
        <?php echo $cartItem->getSku(); ?>

                    </td>
                    <td class="card_product_quantity">

        <?php echo $cartItem->getQuantity(); ?>
                    </td>
                    <td class="card_product_price"><?php echo $this->currencyFormat($cartItem->getUnitPrice()); ?></td>
                    <td class="card_product_total"><?php echo $this->currencyFormat($cartItem->getTotalPrice()); ?></td>
                </tr>


            </tbody>
        </table>
        <?php
    }
}
?>

<div class="modal-footer">
    <a class="btn pull-left" href="javascript:void(0);"
       data-dismiss="modal"><?php echo $this->translate('Continue Shopping'); ?></a>
    <a class="btn btn-info" href="<?php echo $this->url('cart'); ?>"><i
            class="glyphicon glyphicon-shopping-cart"></i>&nbsp;<?php echo $this->translate('View Cart'); ?></a>
    <a class="btn btn-info" href="<?php echo $this->url('checkout'); ?>"><i
            class="glyphicon glyphicon-gift"></i> <?php echo $this->translate('Checkout'); ?>&nbsp;</a>
</div>
<?php $this->inlineScript()->captureStart() ?>
$(document).ready(function(){
$.event.trigger('loadminicart'); 
});
<?php $this->inlineScript()->captureEnd() ?> 
