<div class="cart-preview">
    <?php
    $form = $this->form;
    /* @var $cartItem \Checkout\Option\CartItem */
    $cartItem = $this->cartItem;
//$this->sbForm($form);
//echo $this->formCollection($fieldset);
    $form->prepare();
    echo $this->form($form, null);
    $sellPrice = $cartItem->getTotalPrice();
    $listPrice = $cartItem->getListPrice() * $cartItem->getQuantity();
    ?>
    <span id="listPrice"><?php
        if ($listPrice && $listPrice > $sellPrice) {
            echo $this->currencyFormat($listPrice);
        }
        ?></span> <span id="sellPrice"><?php echo $this->currencyFormat($sellPrice); ?></span>
    <span id="image"><?php
        $image = $cartItem->getImage();

        if ($image) {
            $largeImage = \File\Api\FileApi::formImage($image, 1200, 1200, array(), true);
            echo \File\Api\FileApi::formImage($image, 500, 500, array(
                'id' => 'img_01',
                'data-zoom-image' => $largeImage,
                'class' => 'img-responsive img-thumbnail'
            ));
        }
        ?></span>
</div>
<?php
echo $this->inlinescript();
?>