<?php

use Newsletter\Api\NewsletterApi;
use User\Api\UserApi;
use Core\Functions;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();

$userId = Functions::fromRoute('userId');
if (!$userId) {
    return;
}
$user = UserApi::getUserById($userId);
$results = NewsletterApi::getNewsletterSubscriberByEmail($user->email);
?>
<div class="row">
    <div class="col-xs-12">
        <?php
        if ($results) {
            ?>
            <ul>
                <?php foreach ($results as $result) { ?>
                    <li><?php echo $result->newsletterCategory->name; ?></li>
                    <?php
                }
                ?>
            </ul>

            <?php
        } else {
            echo $this->translate('Currently No newsletters are subscribed.');
        }
        ?>
    </div>
</div>
<?php
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight();
