<?php

use Core\Functions;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$form = Functions::getServiceLocator()->get('Newsletter\Form\NewsletterForm\NewsletterFactory');
$form->setName('newsletterFormBlock');

$form->setAttribute('action', $this->url('newsletter'));
$form->setAttribute('class', 'form-inline');
$this->sbForm($form);
?>


<div class="row">
    <div class="col-md-5 col-sm-5">
        <h5><i class="icon-angle-right"></i> <?php echo $this->translate('Signup for your newsletter'); ?></h5>
    </div>
    <div class="col-md-7 col-sm-7">
        <div class="cta-buttons pull-right">
            <?php echo $this->form()->openTag($form);
            ?>

            <?php
             $firstName = $form->get('firstName');
            $firstName->setAttribute('placeholder', 'Enter FirstName');
            $lastName = $form->get('lastName');
            $lastName->setAttribute('placeholder', 'Enter LastName');
            $email = $form->get('email');
            $email->setAttribute('placeholder', 'Enter Email');
            $submit = $form->get('submit');
            $submit->setAttribute('class', 'btn btn-info btn-lg');
            ?>
             <div class="form-group">
                <?php echo $this->formElement($firstName); ?>
            </div>
            <div class="form-group">
                <?php echo $this->formElement($email); ?>
            </div>
            <div class="form-group">
                <?php echo $this->formElement($submit); ?>
            </div>
            <?php echo $this->form()->closeTag();
            ?>
           
        </div>
    </div>
</div>


<?php
$block = ob_get_clean();
$item->setBlock($block);
?>