<?php
use File\Api\FileApi;

use Category\Api\CategoryApi;

/* @var $item BlucartGrid\Option\Helper\DetailItem */
$item = $this->item;
$params = $this->params;
$categoryId = $params ['id'];
$item->setTitle ( 'Images' );
ob_start ();
$results = CategoryApi::getCategoryImageByCategoryId ( $categoryId, null );
if ($results) {
	?>
<div class="images">
<?php
	foreach ( $results as $result ) {
		$categoryImageId = $result ['categoryImageId'];
		$categoryImage = CategoryApi::getCategoryImageById ( $categoryImageId );
		if ($categoryImage->file) {
			?>
		<span>
		<?php echo FileApi::formImage($categoryImage->file->path,100,100); ?>
	</span>

<?php
		}
	}
	
	?>

<div class="clear"></div>
</div>
<?php
} else {
	?>
<div class='no-results'><?php echo $this->translate('no results found!');?></div>

<?php
}
?>
<div class="top-links row">
	<div class="pull-right">
		<a class="btn bn-primary zoombox"
			href="<?php
			
			echo $this->url ( 'admin-category-image', array (
					'categoryId' => $categoryId 
			) );
			?>"><?php echo $this->translate('Manage Images'); ?></a>
	</div>
</div>
<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 1000 );
?>