<?php
use DluTwBootstrap\Form\FormUtil;

use Core\Functions;

$sm = Functions::getServiceLocator ();
Functions::getRouteParams ();
$form = $sm->get ( 'ProductCategory\Form\CategoryAdditionalProduct\CategoryAdditionalProductFactory' );

$sm = Functions::getServiceLocator ();
$form->setAttribute ( 'action', $this->url ( Functions::getMatchedRouteName (), Functions::getRouteParams () ) );

?>

<div class="limit">
<span>Show:</span>

<?php

$this->sbForm ( $form );

echo $this->form( $form, \TwbBundle\Form\View\Helper\TwbBundleForm::LAYOUT_INLINE );

?>
</div>