<?php



use Core\Functions;

use File\Api\FileApi;



$sm = Functions::getServiceLocator();

/* @var $cart \Checkout\Option\CartContainer */

$cart = $sm->get('Cart');

$cart->prepare();

$cartItems = $cart->getCartItems();

?>

<a data-toggle="dropdown" class="hidden-xs shopping-cart-title shopping-cart-title-md" href="#">
    <!--<i class="fa fa-shopping-cart fa-lg fa-4x"></i>-->
    <div>
    <img src="/files/purse.png" class="pull-left" alt="bag" class="img-responsive">
    <span class="cart-count"><?php echo count($cartItems);?></span>
    </div>

    <span class="right-cart">&nbsp;ITEMS <?php echo $this->currencyFormat($cart->getSubTotalPrice()); ?>&nbsp;<i class="fa fa-caret-down"></i></span>



</a>

<!--<a data-toggle="dropdown" class="hidden-xs shopping-cart-title shopping-cart-title-md" href="#">

        MY CART: <span class="cart-items"><?php //echo count($cartItems) . ' ' . $this->translatePlural('ITEMS', 'ITEMS', count($cartItems)); ?>: </span> <span class="cart-price"><?php //echo $this->currencyFormat($cart->getSubTotalPrice()); ?></span>

    </a>-->



<div class="dropdown-menu shopping-cart-content  pull-right">



    <div class="shopping-cart-items">



        



        <?php



        foreach ($cartItems as $cartItem) {



            $productId = $cartItem->getProductId();



            ?>



            <div class="item clearfix">



                <div class="col-xs-4">



                    <?php



                    $image = FileApi::formImage($cartItem->getImage(), 250, 250, array(



                                'title' => $cartItem->getTitle(),



                                'class' => "img-responsive"



                    ));



                    echo  $image;



                    ?>



                </div>



                <div class="col-xs-8 shopping-cart-item-text text-left">



                    <p><?php



                        $title = $cartItem->getTitle();



                        echo $productId ? '<a href="' . $this->url('product', array(



                                    'productId' => $productId



                                )) . '">' . $title . '</a>' : $image;



                        ?></p>



                    <p>



                        <strong><?php echo $cartItem->getQuantity(); ?>x</strong>&nbsp;<?php



                        $price = $cartItem->getUnitPrice();



                        echo $price ? $this->currencyFormat($price) : '';



                        ?>



                    </p>



                </div>







            </div>



            <hr>







            <?php



        }



        if (!count($cartItems)) {



            ?>



            <div class=" col-xs-12 item clearfix">

                <div class="no-productmessage">

                    <p style="color:#F00;"><?php echo $this->translate('Currently There are no products in the bag'); ?></p>

                </div>

            </div>

            <?php



        }



        ?>



        <div class="clearfix">

            <div class="col-xs-12">

                <div class="row clearfix">

                    <div class="col-xs-4 text-right"><p><?php echo $this->translate('Sub-Total'); ?> </p></div>

                    <div class="col-xs-8">

                        <p><?php echo $this->currencyFormat($cart->getSubTotalPrice()); ?></p>

                    </div>

                </div>

            </div>

            <hr>

            <div class="col-xs-12">

               <div class="text-center">

                    <a class="btn btn-default" href="<?php echo $this->url('cart'); ?>"><span

                            class=""></span> <?php echo $this->translate('Checkout'); ?></a>

                </div>

            </div>

        </div>

    </div>

</div>





