<?php

use Product\Api\ProductApi;
use File\Api\FileApi;
use Core\Functions;
use TagProduct\Api\TagProductApi;

$gridClass = $this->gridClass ? $this->gridClass : 'col-md-3 col-sm-4 col-xs-6';
$imageWidth = $this->imageWidth ? $this->imageWidth : '150';
$imageHeight = $this->imageHeight ? $this->imageHeight : '150';

$productId = $this->productId;
$product = ProductApi::getProductById($productId);
if (!$product) {
    return;
}
$url = $this->url('product', array(
    'productId' => $product->id
        ));
$form = $this->productAddToCartForm($product->id);
$this->sbForm($form);
?>
<div class="<?php echo $gridClass; ?>">
    <div class="item productbord product-item product-<?= $product->id; ?>">
        <div class="item-icon">
            <?php
            if (Functions::hasModule('TagProduct')) {
                $tags = TagProductApi::getTagByProductId($product->id);
                foreach ($tags as $result) {
                    $tag = Tag\Api\TagApi::getTagById($result ['tagId']);
                    ?>
                    <span><?php echo $tag->title; ?></span>
                    <?php
                }
            }
            ?>
        </div>
        <div class="item-image">
            <a href="<?php echo $url; ?>">
                <?php
                $image = ProductApi::getTopProductImageByProductId($product->id);
                if ($image && $image->file) {
                    echo FileApi::formImage($image->file->path, $imageWidth, $imageHeight, array(
                        'title' => $image->file->title,
                        'alt' => $image->file->alt,
                        'class' => 'img-responsive'
                    ));
                }
                ?>
            </a>
        </div>

        <div class="item-details">
            <!-- Name -->
            <h5><?php echo $this->trim($product->title); ?></a></h5>
            <div class="clearfix"></div>
            <!-- Para. Note more than 2 lines. -->
            <p><?php echo $this->trim($product->shortDescription, 200); ?></p>
            <hr>
            <?php
            if ($product->listPrice && ($product->sellPrice < $product->listPrice)) {
                ?>
                <!-- Price -->
                <div class="item-price item-listprice pull-left"><?php echo $this->currencyFormat($product->listPrice); ?></div>
                <?php
            }
            ?>
            <div class="item-price item-sellprice pull-left"><?php echo $this->currencyFormat($product->sellPrice); ?></div>

            <!-- Add to cart -->
            <div class="pull-right">

                <?php
                if (!$form->hasFieldsets()) {
                    ?>

                    <a class="product-shopping-cart ajax-modal no-ajaxy btn btn-danger btn-sm"
                       href="<?php
                       echo $this->url('quickaddtocart', array(
                           'productId' => $product->id,
                           'isAjax' => 'true'
                               ), array(
                           'query' => array(
                               'productId' => $product->id,
                               'quantity' => 1
                           )
                       ));
                       ?>" title="Add to cart" alt="Add to cart">Add to CartS</a>
                       <?php
                   } else {
                       ?>
                    <a class="product-quickview ajax-modal  btn btn-danger btn-sm"
                       href="<?php
                       echo $this->url('product-quickview', array(
                           'productId' => $product->id
                       ));
                       ?>">Quick View</a>

                    <?php
                }
                ?>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>