<?php

use Inventory\Api\InventoryApi;

use Product\Api\ProductApi;

use File\Api\FileApi;

use Core\Functions;

use TagProduct\Api\TagProductApi;



$gridClass = $this->gridClass ? $this->gridClass : 'col-md-4 col-sm-6 col-xs-12';

$imageWidth = $this->imageWidth ? $this->imageWidth : '200'; //old width is 200

$imageHeight = $this->imageHeight ? $this->imageHeight : '200'; //old height is 200



$productId = $this->productId;

$product = ProductApi::getProductById($productId);

if (!$product) {

    return;

}

$url = $this->url('product', array(

    'productId' => $product->id

        ));

$form = $this->productAddToCartForm($product->id);

$this->sbForm($form);

?>

<div class="<?php echo $gridClass; ?>">

    <div class="thumbnail prd">



        <?php 

       /* if (Functions::hasModule('TagProduct')) {

            $tags = TagProductApi::getTagByProductId($product->id);
			$i=0;

            foreach ($tags as $result) {

                $tag = Tag\Api\TagApi::getTagById($result ['tagId']);

                ?>

              <span class="badge badgeclr<?php echo $i?>"><?php echo $tag->title; ?></span>
				

                <?php
				$i++;

            }

        }*/

        ?>
       <!-- <span class="badge badge-red">20</span>-->
<!--<div class="shape">
					<div class="shape-text">
						top							
					</div>
				</div>
-->       
<div class="prdimg">
            <a href="<?php echo $url; ?>">

                <?php

                $image = ProductApi::getTopProductImageByProductId($product->id);

                if ($image && $image->file) {

                    echo FileApi::formImage($image->file->path, $imageWidth, $imageHeight, array(

                        'title' => $image->file->title,

                        'alt' => $image->file->alt,

                        'class' => 'img-responsive'

                     ), false, 'ffffff');

                }

                ?>

            </a>
            </div>

        

        <!-- Name -->

        

       <div class="text-center"> 

        

        

        <p class="prdtitle"><?php echo $product->title; ?></p>





     

        <p> <?php

            if ($product->listPrice && ($product->sellPrice < $product->listPrice)) {

                ?>

                <!-- Price -->

                <span class="wasprc strke "><?php echo $this->currencyFormat($product->listPrice); ?></span>

                <?php

            }

            ?>

                <span class="newprc"><?php echo $this->currencyFormat($product->sellPrice); ?></span></p>


            <?php

            if (!$form->hasFieldsets()) {

                ?>



                <a class="product-shopping-cart ajax-modal btn btn-default btn-sm"

                   href="<?php

                   echo $this->url('quickaddtocart', array(

                       'productId' => $product->id,

                       'isAjax' => 'true'

                           ), array(

                       'query' => array(

                           'productId' => $product->id,

                           'quantity' => 1

                       )

                   ));

                   ?>" title="Add to cart" alt="Add to cart">Add to Cart</a>

                   <?php

               } else {

                   ?>

                <a class="product-quickview ajax-modal  btn btn-default btn-sm"

                   href="<?php

                   echo $this->url('product-quickview', array(

                       'productId' => $product->id

                   ));

                   ?>">Quick View</a>



                <?php

            }

            ?>

        </div>

     

    </div>

    </div>

