<?php

use Product\Api\ProductApi;
use File\Api\FileApi;
use Core\Functions;
use TagProduct\Api\TagProductApi;

$gridClass = $this->gridClass ? $this->gridClass : 'col-md-12 col-sm-12 column bstprbtm';
$imageWidth = $this->imageWidth ? $this->imageWidth : '50';
$imageHeight = $this->imageHeight ? $this->imageHeight : '50';

$productId = $this->productId;
$product = ProductApi::getProductById($productId);
if (!$product) {
    return;
}
$url = $this->url('product', array(
    'productId' => $product->id
        ));
?>

<?php
/*if (Functions::hasModule('TagProduct')) {
    $tags = TagProductApi::getTagByProductId($product->id);
    foreach ($tags as $result) {
        $tag = Tag\Api\TagApi::getTagById($result ['tagId']);
        ?>
        <span><?php echo $tag->title; ?></span>
        <?php
    }
}*/
?>










    <div class="media">
        <a href="<?php echo $url; ?>" class="pull-left">

            <?php
            $image = ProductApi::getTopProductImageByProductId($product->id);
            if ($image && $image->file) {
                echo FileApi::formImage($image->file->path, $imageWidth, $imageHeight, array(
                    'title' => $image->file->title,
                    'alt' => $image->file->alt,
                    'class' => 'img-responsive media-object'
                ));
            }
            ?>



        </a>
        <div class="media-body">
            <h5> <a href="<?php echo $url; ?>"><?php echo $this->trim($product->title); ?></a></h5>
            <p> <span class="sidenwprc"><?php echo $this->currencyFormat($product->sellPrice); ?></span></p>
        </div>
    </div>
