<?php
use DluTwBootstrap\Form\FormUtil;

use Core\Functions;
use User\Api\UserApi;
use File\Api\FileApi;

$this->title = 'Change Password';
?>
<div class="register">
	<div class="container">
		<div class="row">
			<div class="span2"></div>
			<div class="span8">
				<div class="block box">
					<div class="block-header">
						<h3><?php echo $this->translate('Change Avatar'); ?></h3>

					</div>
					<?php
					echo $this->flashMessenger ();
					?>
					
					
<?php

// Init Form

$form = $this->form;

$this->sbForm($form);
echo $this->formTwb($form);

?>

<?php echo $this->form()->openTag($form); ?>

<?php echo $this->formHidden($form->get('csrf')); ?>




				<div class="fileupload fileupload-new" data-provides="fileupload">
						<div class="fileupload-new thumbnail"
							style="width: 250px; height: 250px;">
						<?php
						$user = UserApi::getLoggedInUser ();
						
						if ($user->avatar) {
							echo FileApi::formImage ( $user->avatar->path, 150, 150, array (
									'title' => $user->avatar->title,
									'alt' => $user->avatar->alt,
									'class' => 'thumbnail' 
							) );
						} else {
							?>
											<img alt=""
								src="http://www.placehold.it/100x100/EFEFEF/AAAAAA"
								class="thumbnail">
												<?php
						}
						?>
					</div>
						<div class="fileupload-preview fileupload-exists thumbnail"
							style="max-width: 250px; max-height: 250px; line-height: 20px;"></div>
						<div>
							<span class="btn btn-file"><span class="fileupload-new">change
									image</span><span class="fileupload-exists">Change</span>
<?php $elem = $form->get('avatar'); ?>

<?php echo $this->formElementErrors($elem); ?>
								
<?php echo $this->formFile($elem); ?>

</span> <a href="#" class="btn fileupload-exists"
								data-dismiss="fileupload">Remove</a>
						</div>
					</div>



					<button class="btn btn-primary">Save</button>

 

<?php echo $this->form()->closeTag($form); ?>
					
					<!--end form-->
				</div>
				<!--end register-->
			</div>
			<div class="span2"></div>
		</div>


	</div>
</div>
