<?php
use DluTwBootstrap\Form\FormUtil;

use Core\Functions;

?>
<div class="changepassword">

	<div class="block-header">
		<h3><?php echo $this->translate('Change Password'); ?></h3>

	</div>
					<?php
					echo $this->flashMessenger ();
					?>
					<?php
					
					$array = array (
							'elements' => array (
									'password' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'confirmPassword' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									) 
							) 
					)
					;
					$form = $this->form;
					$form->setAttribute ( 'class', 'format_form' );
					
					$this->sbForm ( $form, $array );
					?>
    <div class="row">
    <?php
					echo $this->form ( $form, null);
					?>
    </div>
					<!--end form-->
</div>
