<?php

use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use User\Api\UserApi;
use File\Api\FileApi;
?>
<div class="changeavatar">

    <div class="block-header">
        <h3><?php echo $this->translate('Change Avatar'); ?></h3>

    </div>
<?php
echo $this->flashMessenger();
?>


<?php
// Init Form

$form = $this->form;

$this->sbForm($form);
?>
    <div class="row">
    <?php
    echo $this->form($form, null);
    ?>
    </div>


    <!--end form-->

    <!--end register-->
</div>


