<?php
use DluTwBootstrap\Form\FormUtil;

use Core\Functions;

$this->pageTitle('Edit Profile');
?>
<div class="editProfile">

	<div class="block">
		<div class="block-header">
			<h3><?php echo $this->translate('Edit Profile '); ?></h3>

		</div>
					<?php
					echo $this->flashMessenger ();
					?>
					<?php
					
					$array = array (
							'elements' => array (
									'firstName' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'lastName' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									) 
							) 
					);
					$form = $this->form;
					$form->setAttribute ( 'class', 'format_form' );
					
					$this->sbForm ( $form, $array );
					?>
            <div class="row">
            <?php
					echo $this->form ( $form, null );
					?>
            </div>
					<!--end form-->
	</div>
	<!--end register-->
</div>


