<?php

use DluTwBootstrap\Form\FormUtil;
use Core\Functions;

$this->pageTitle('Add Address');
?>
<div class="editProfile">

    <div class="block">
        <div class="block-header">
            <h3><?php echo $this->translate('Add Address'); ?></h3>

        </div>
        <?php
        echo $this->flashMessenger();
        ?>
        <?php
        $array = array(
            'elements' => array(
                'firstName' => array(
                    'attributes' => array(
                        'data-row-class' => 'col-sm-6'
                    )
                ),
                'lastName' => array(
                    'attributes' => array(
                        'data-row-class' => 'col-sm-6'
                    )
                ),
                'addressLine1' => array(
                    'attributes' => array(
                        'data-row-class' => 'col-sm-6'
                    )
                ),
                'addressLine2' => array(
                    'attributes' => array(
                        'data-row-class' => 'col-sm-6'
                    )
                ),
                'state' => array(
                    'attributes' => array(
                        'data-row-class' => 'col-sm-6'
                    )
                ),
                'country' => array(
                    'attributes' => array(
                        'data-row-class' => 'col-sm-6'
                    )
                )
            )
        );
        $form = $this->form;

        $this->sbForm($form, $array);
?>
        <div class="row">
        <?php
        echo $this->form($form, null);
        ?>
        </div>
        <!--end form-->
    </div>
    <!--end register-->
</div>


