<?php
use User\Api\UserApi;
use File\Api\FileApi;
$user = UserApi::getLoggedInUser ();
$this->pageTitle('Dashboard');
if (! $user) {
	return;
}
?>
<div class="row">
	<div class="media">
		<a class="pull-left" href="#">
			<?php
			if ($user->avatar) {
				echo FileApi::formImage ( $user->avatar->path, 150, 150, array (
						'title' => $user->avatar->title,
						'alt' => $user->avatar->alt,
						'class' => 'thumbnail' 
				) );
			} else {
				?>
					<img alt="" src="http://www.placehold.it/100x100/EFEFEF/AAAAAA"
			class="thumbnail">
						<?php
			}
			?>
			</a>
		<div class="media-body">
			<h3><?php echo $user->firstName. ' '.$user->lastName  ?></h3>
			<hr>
			<div>

				<span class="email"><i class="glyphicon glyphicon-envelope"></i> <?php echo $user->email; ?></span>
				 
				<?php
				if ($user->contactNumber) {
					?>
				<span class="contact-number"><i class="glyphicon glyphicon-headphones"></i> <?php echo $user->contactNumber; ?></span>
				<?php
				}
				?>
				</div>
		</div>
	</div>
</div>

<?php
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->content ( 'userDashboard', array (
		'userId' => $user->id 
) )->getContentContainer ();

$items = $contentContainer->getItems ();
if (count ( $items )) {
	foreach ( $items as $key => $item ) {
		?>
<?php echo $item->getContent();?>
<?php
	}
}