<?php
use File\Api\FileApi;

use Core\Functions;

use Testimonial\Api\TestimonialApi;
?>
<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams ();
ob_start ();
?>

<?php

$testimonials = TestimonialApi::getTestimonials ();
if ($testimonials && count ( $testimonials )) {
	?>
<div class="row-fluid testimonials">

	<h3 class="heading">
			<?php echo $this->translate('Testimonials'); ?>
		</h3>
		<?php
	foreach ( $testimonials as $testimonialId ) {
		$testimonial = TestimonialApi::getTestimonialById ( $testimonialId ['testimonialId'] );
		?>
		<div class="span4">
		<div class="de_testi">
			<blockquote>
				<p><?php echo $testimonial->testimonial; ?></p>
			</blockquote>
			<div class="de_testi_by">
				<div class="de_testi_pic">
									<?php
		if ($testimonial->file && $testimonial->file->path) {
			echo FileApi::formImage ( $testimonial->file->path, 50, 50, array (
					'title' => $testimonial->file->title,
					'alt' => $testimonial->file->alt,
					'class' => 'img-circle' 
			) );
		}
		?>
					</div>
				<div class="de_testi_company">
					<strong><?php echo $testimonial->name; ?></strong>
				</div>
			</div>
		</div>
	</div>
	
<?php
	}
	?>

</div>
<?php
}
?>

<?php
$block = ob_get_clean ();
$item->setBlock ( $block );
$item->setWeight ( 1000 );
?>