<?php
use Core\Functions;
use DluTwBootstrap\Form\FormUtil;
$sm = Functions::getServiceLocator ();
$form = $sm->get ( 'Search\Form\SearchForm\SearchFactory' );
$query = Functions::fromQuery ( 'query', '' );
$form->get ( 'query' )->setValue ( $query );
$this->sbForm ( $form );
$this->form ( $form );
$form->setAttribute ( 'action', $this->url ( 'search' ) );
?>
<?php

echo $this->form ()->openTag ( $form );

?>
<div class="input-append">
	<?php
	$element = $form->get ( 'query' );
	echo $this->formElement ( $element );
	?>
	<button type="submit" class="btn btn-default">
		<i class="glyphicon glyphicon-search"></i>
	</button>
</div>
<?php
echo $this->form ($form)->closeTag ( );
?>

<?php
$this->inlinescript ()->captureStart ();
?>
$(function(){
$('#<?php echo $form->getName(); ?> [name="<?php echo $form->get('query')->getName(); ?>"]').typeahead({
name: '<?php echo $form->get('query')->getName(); ?>',
remote: '<?php echo $this->url('search-query');?>?query=%QUERY',
valueKey: 'title' ,
template:  [
'<div class="item clearfix">',
'<div class="pull-left image-search-element"><a href="{{url}}"><img src="{{image}}" class="pull-left" ></a></div>',
'<div class="pull-left text-search-element text-left">',
'<p>',
'<a href="{{url}}">{{title}}</a>',
'</p>',
'</div>',
'</div>'
].join(''), 
engine: Hogan,
limit: 10,
items:8
	});
});
<?php
$this->inlinescript ()->captureEnd ();
?>
