<?php
use Feature\Api\FeatureApi;

use Kendo\Lib\Core\JavascriptFunction;

use BlucartGrid\Option\Grid;

/* @var $item BlucartGrid\Option\Helper\DetailItem */
$item = $this->item;
$params = $this->params;
$productId = $params ['id'];
$item->setTitle ( 'Features' );
ob_start ();

?>
<div class="top-links row">
	<div class="pull-right">
		<a class="btn bn-primary zoombox"
			href="<?php
			
			echo $this->url ( 'admin-product-feature-add', array (
					'productId' => $productId 
			) );
			?>"><?php echo $this->translate('Manage Features'); ?></a>
	</div>
</div>
<br>
<?php

$features = FeatureApi::getFeatureProductByProductId ( $productId );

$buildOptions = array ();

foreach ( $features as $featureProductIds ) {
	$featureProduct = FeatureApi::getFeatureProductById ( $featureProductIds ['featureProductId'] );
	$feature = $featureProduct->feature;
	$results = FeatureApi::getFeatureOptionProductByProductIdFeatureId ( $productId, $feature->id );
	$temp = array ();
	foreach ( $results as $result ) {
		$featureOptionProduct = FeatureApi::getFeatureOptionProductById ( $result ['featureOptionProductId'] );
		$temp [] = $featureOptionProduct->featureOption->title;
	}
	?>
<p>
	<?php echo $feature->title; ?>: <?php echo implode(', ', $temp);?>
	</p>
<?php
}
if (! $features) {
	echo $this->translate ( 'N/A' );
}
?>


<?php

echo $this->inlineScript ();
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight (  );
