<?php
use Feature\Api\FeatureApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();
$productId = $contentContainer->getParam ( 'productId' );
$title = $this->translate('Features');
$item->setTitle ( '<a href="' . $this->url ( 'admin-product-feature-add', array (
		'productId' => $productId 
) ) . '" class="zoombox external_link" >'.$title.'</a>' );
?>
<?php

$features = FeatureApi::getFeatureProductByProductId ( $productId );

$buildOptions = array ();

foreach ( $features as $featureProductIds ) {
	$featureProduct = FeatureApi::getFeatureProductById ( $featureProductIds ['featureProductId'] );
	$feature = $featureProduct->feature;
	$results = FeatureApi::getFeatureOptionProductByProductIdFeatureId ( $productId, $feature->id );
	$temp = array ();
	foreach ( $results as $result ) {
		$featureOptionProduct = FeatureApi::getFeatureOptionProductById ( $result ['featureOptionProductId'] );
		$temp [] = $featureOptionProduct->featureOption->title;
	}
	?>
<p>
	<?php echo $feature->title; ?>: <?php echo implode(', ', $temp);?>
	</p>
<?php
}
if (! $features) {
	echo $this->translate ( 'N/A' );
}
?>

<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ();
?>