<?php

use Feature\Api\FeatureApi;
use Core\Functions;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams();
ob_start();
$productId = $params ['productId'];
$item->setTitle('Features');
?>
<?php
$feautres = FeatureApi::getFeatureProductByProductId($productId);
$mainArray = array();
foreach ($feautres as $featureArray) {
    $featureId = $featureArray ['featureProductId'];
    $featureProduct = FeatureApi::getFeatureProductById($featureId);
    $title = $featureProduct->title ? $featureProduct->title : $featureProduct->feature->title;
    $mainArray [$title] = array();

    $results = FeatureApi::getFeatureOptionProductByProductIdFeatureId($productId, $featureProduct->feature->id);

    $array = array();
    foreach ($results as $resultArray) {
        $featureOptionProduct = FeatureApi::getFeatureOptionProductById($resultArray ['featureOptionProductId']);
        $array [] = $featureOptionProduct->featureOption->title;
    }

    $mainArray[$title] = $array;
}
?>
<?php
if (count($mainArray)) {
    ?>

    <div class="features">

        <table class="table table-striped">
            

            <tbody>
                <?php
                foreach ($mainArray as $key => $value) {
                    ?>
                    <tr>
                        <td><?php echo $key; ?></td>
                        <td><?php echo implode(', ', $value); ?></td>
                    </tr>
                    
                    <?php
                }
                ?>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
            </tbody>
        </table>
    </div>
    <?php
}
$content = ob_get_clean();
$item->setContent($content);
$item->setWeight(1000);
