<?php

use Core\Functions;
use DluTwBootstrap\Form\FormUtil;
use File\Api\FileApi;
use Checkout\Option\CartContainer;
use \Product\Api\ProductApi;

$sm = Functions::getServiceLocator();
/* @var $cart \Checkout\Option\CartContainer */
$cart = $sm->get('Cart');
$cart->prepare(CartContainer::CART_PREVIEW);
$cartItems = $cart->getCartItems();
?>

<div class="cartpg">
    <h2><?php echo $this->translate('Your Order'); ?></h2>

    <table class="table table-striped ">
        <thead>
            <tr>
                <th class="card_product_image hidden-xs"><?php echo $this->translate('Image'); ?></th>
                <th class="card_product_name "><?php echo $this->translate('Product Name'); ?></th>
                <th class="card_product_model hidden-xs"><?php echo $this->translate('Model'); ?></th>
                <th class="card_product_quantity"><?php echo $this->translate('Quantity'); ?></th>
                <th class="card_product_price hidden-xs"><?php echo $this->translate('Unit Price'); ?></th>
                <th class="card_product_total "><?php echo $this->translate('Total'); ?></th>
            </tr>
        </thead>
        <tbody>

            <?php
            foreach ($cartItems as $cartItem) {
                $productId = $cartItem->getProductId();
                $product = ProductApi::getProductById($productId);
                ?>
                <tr>
                    <td class="card_product_image hidden-xs">
                        <?php
                        $image = $cartItem->getImage();
                        if ($image) {
                            echo FileApi::formImage($image, 50, 50);
                        }
                        ?></td>
                    <td class="card_product_name"><a href="<?php echo $url; ?>"><?php echo $cartItem->getTitle(); ?></a>
                        <ul class="inlineitems">
                            <?php
                            $inItems = $cartItem->getInItems();
                            foreach ($inItems as $inItem) {
                                ?>

                                <li><span class="inlinekey"><?php echo $inItem->getTitle(); ?></span>
                                    <?php
                                    $value = $inItem->getValue();
                                    if (is_numeric($value)) {
                                        ?>
                                        <span class="inlinevalue"><?php echo $this->currencyFormat($value); ?></span>
                                        <?php
                                    } else {
                                        ?>
                                        <span class="inlinevalue"><?php echo $this->escapeHtml($value); ?></span>
                                        <?php
                                    }
                                    ?>
                                </li>
                                <?php
                            }
                            ?>
                        </ul>
                        <ul class="outItems">
                            <?php
                            $outItems = $cartItem->getOutItems();
                            foreach ($outItems as $outItem) {
                                ?>

                                <li><span class="outkey"><?php echo $outItem->getTitle(); ?></span>
                                    <?php
                                    $value = $outItem->getValue();
                                    if (is_numeric($value)) {
                                        ?>
                                        <span class="outvalue"><?php echo $this->currencyFormat($value); ?></span>
                                        <?php
                                    } else {
                                        ?>
                                        <span class="outvalue"><?php echo $this->escapeHtml($value); ?></span>
                                        <?php
                                    }
                                    ?></li>
                                <?php
                            }
                            ?>
                        </ul>
                    </td>
                    <td class="card_product_model  hidden-xs">
                        <?php echo $cartItem->getSku(); ?>

                    </td>
                    <td class="card_product_quantity">
                        <?php echo $cartItem->getQuantity(); ?>

                    </td>
                    <td class="card_product_price hidden-xs"><?php echo $this->currencyFormat($cartItem->getUnitPrice()); ?></td>
                    <td class="card_product_total"><?php echo $this->currencyFormat($cartItem->getTotalPrice()); ?></td>
                </tr>




                <?php
            }
            if (!$cartItems || !count($cartItems)) {
                ?>
                <tr>
                    <td colspan="6"><div class="center"><?php echo $this->translate('Currently! There are no products in the cart'); ?></div></td>
                </tr>
                <?php
            }
            ?>
            <?php
            $inItems = $cart->getInItems();
            foreach ($inItems as $inItem) {
                ?>
                <tr>
                    <td class="hidden-xs"></td>
                    <td class=""></td>
                    <td class="card_product_model hidden-xs"></td>
                    <td class="card_product_quantity"><?php echo $inItem->getTitle(); ?></td>
                    <td class="card_product_model hidden-xs"></td>
                    <td class="card_product_total">

                        <?php
                        $value = $inItem->displayValue();
                        if ($value) {
                            echo $value;
                        }
                        ?>
                    </td>
                </tr>


                <?php
            }
            ?>

            <tr>
                <td class="hidden-xs"></td>
                <td class=""></td>
                <td class="card_product_model hidden-xs"></td>
                <td class="card_product_quantity"><?php echo $this->translate('Sub Total'); ?></td>
                <td class="card_product_model hidden-xs"></td>
                <td class="card_product_total">
                    <?php
                    echo $this->currencyFormat($cart->getSubTotalPrice());
                    ?>
                </td>
            </tr>


            <?php
            $outItems = $cart->getOutItems();
            foreach ($outItems as $outItem) {
                ?>
                <tr>
                    <td class="hidden-xs"></td>
                    <td class=""></td>
                    <td class="card_product_model hidden-xs"></td>
                    <td class="card_product_quantity "><?php echo $outItem->getTitle(); ?></td>
                    <td class="card_product_model hidden-xs"></td>
                    <td class="card_product_total">
                        <?php
                        $value = $outItem->displayValue();
                        if ($value) {
                            echo $value;
                        }
                        ?>
                    </td>
                </tr>
                <?php
            }
            ?>

            <tr>



        </tbody>

        <tfoot>
            <tr>


                <td  class="hidden-xs" colspan="3">

                </td>
                <td class=""><?php echo $this->translate('Total'); ?></td>
                <td  class="hidden-sm hidden-md hidden-lg" >

                </td>
                <td class="hidden-xs"></td>
                <td><?php echo $this->currencyFormat($cart->getTotalPrice()); ?></td>
            </tr>



        </tfoot>

    </table>



</div>



