<?php

use Core\Functions;
use Checkout\Option\CartContainer;

$sm = Functions::getServiceLocator();
/* @var $cart \Checkout\Option\CartContainer */
$cart = $sm->get('Cart');
$cart->prepare(CartContainer::CART_PREVIEW);
$title = $this->translate('Checkout');
$this->pageTitle($title);
?>
<?php
$this->inlinescript()->appendFile($this->basepath('/assets/Checkout/checkout.js'));
?>
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="row">

                <div class="col-sm-6">

                    <div class="box">
                        <b><?php echo $this->translate('Shipping Address'); ?>: </b>

                        <p>
                            <?php
                            $array = $cart->getParam('shippingAddress');
                            ?>
                            <?php
                            echo $array ['firstName'] . ' ' . $array ['lastName'] . '<br>';
                            echo $array ['email'] . '<br>';
                            echo $array ['addressLine1'] . ' ' . $array ['addressLine2'] . ', ' . '<br>';
                            echo $array ['city'] . ', ' . $array ['state'] . ', ' . '<br>';
                            echo $array ['country'] . ', ' . $array ['postcode'];
                            ?>
                        <p class="text-right">
                            <a
                                href="<?php
                                echo $this->url('checkout-editaddress', array(
                                    'addressId' => (isset($array ['id']) && $array ['id']) ? $array ['id'] : null,
                                    'type' => 'shippingAddress'
                                ));
                                ?>"
                                class="btn btn-primary ajax-modal"><i class="glyphicon glyphicon-pencil"></i> <?php echo $this->translate('Edit Address'); ?></a>

                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box">

                        <b><?php echo $this->translate('Billing Address'); ?>: </b>

                        <div>
                            <?php
                            $array = $cart->getParam('billingAddress');
                            ?>
                            <?php
                            echo $array ['firstName'] . ' ' . $array ['lastName'] . '<br>';
                            echo $array ['email'] . '<br>';
                            echo $array ['addressLine1'] . ' ' . $array ['addressLine2'] . ', ' . '<br>';
                            echo $array ['city'] . ', ' . $array ['state'] . ', ' . '<br>';
                            echo $array ['country'] . ', ' . $array ['postcode'];
                            ?>
                            <p class="text-right">
                                <a
                                    href="<?php
                                    echo $this->url('checkout-editaddress', array(
                                        'addressId' => (isset($array ['id']) && $array ['id']) ? $array ['id'] : null,
                                        'type' => 'billingAddress'
                                    ));
                                    ?>"
                                    class="btn btn-primary ajax-modal"><i class="glyphicon glyphicon-pencil"></i> <?php echo $this->translate('Edit Address'); ?></a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="block-cart-checkout block">
                <?php include 'cart-preview.phtml'; ?>
            </div>
        </div>
        <div class="row checkout_form">
            <?php
            $form = $this->form;
            $form->get('btnsubmit')->setValue('Confirm & Paynow');
            $this->sbForm($form);
            echo $this->form($form, null);
            ?>
        </div>
    </div>

</div>