<?php

use Core\Functions;
?>
<?php
$title = $this->translate('Edit Address');
$this->pageTitle($title);
if ($this->isSave) {
    ?>
    <script>
        $(function() {
            $.event.trigger({
                type: 'ajaxpageload',
                url: "<?php echo $this->url('checkout'); ?>",
            });
            $('#ajax-modal').modal('hide');
        });
    </script>
    <?php
    return;
}
?>

<?php echo $this->flashMessenger(); ?>
<?php
$form = $this->form;
$form->setAttribute('action', Functions::getCurrentUrl());
$form->setAttribute('class', 'no-ajaxy');
$array = array(
    'elements' => array(
        'firstName' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'lastName' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'addressLine1' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'addressLine2' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'state' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'country' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        )
    )
);
$this->sbForm($form, $array);
?>
  <div class="row">  
<?php    
echo $this->form($form, null);
?>
</div>

<?php
$this->inlineScript()->captureStart();
?>
$(function(){


$('#<?php echo $form->getName(); ?>').submit(function(){

if(!$(this).valid()){
return false;
}
$modal.modal('loading');
$.ajax({
type: "POST",
url:  $(this).attr('action'),
beforeSend: function(xhr) {
xhr.setRequestHeader('X-BLUCART-MODAL', 'TRUE');
},
data: $(this).serialize(), // serializes the form's elements.
success: function(data)
{
$modal.modal('loading').find('.modal-body').html(data);
$modal.resize();

}
});

return false;
});

$('#<?php echo $form->getName(); ?> select[name="addressId"]').change(function(){
var url = $(this).closest('form').attr('action');
$modal.modal('loading');
$.ajax({
type: "GET",
url:  url,
beforeSend: function(xhr) {
xhr.setRequestHeader('X-BLUCART-MODAL', 'TRUE');
},
data: 'addressId='+$(this).val(), // serializes the form's elements.
success: function(data)
{
$modal.modal('loading').html(data);
$modal.resize();

}
});

return false;
});

});

<?php $this->inlinescript()->captureEnd(); ?>
<?php
if ($this->isSave) {
    ?>
    <?php $this->inlinescript()->captureStart(); ?>
    $(function(){
    $.event.trigger({
    type : 'ajaxpageload',
    url : "<?php echo $this->url('checkout'); ?>",

    });
    $modal.modal('hide');

    });
    <?php $this->inlinescript()->captureEnd(); ?>
    <?php
}
?>
<?php
echo $this->inlinescript();
?>
