<?php
$form = $this->form;
$form->setAttribute('action', $this->url('checkout-step2'));
$title = $this->translate('Guest Checkout');
$this->pageTitle($title);
?>
<?php
$array = array(
    'shippingAddress' => array(
        'firstName' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'lastName' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'addressLine1' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'addressLine2' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'state' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'country' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        )
    ),
    'billingAddress' => array(
        'firstName' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'lastName' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'addressLine1' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'addressLine2' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'state' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'country' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        )
    )
);

$this->sbForm($form, $array);
?>
<?php
echo $this->form()->openTag($form);
?>
<div class="row clearfix">

    <div class="col-sm-6 shippingAddressWrapper">
        <div class="col-sm-12">
            <h4 class="heading"><?php echo $this->translate('Shipping Address'); ?></h4>
        </div>
        <?php echo $this->formCollection($form->get('shippingAddress')); ?>
    </div>
    <div class="col-sm-6 billingAddressWrapper">
        <div class="col-sm-12">
            <h4 class="heading"><?php echo $this->translate('Billing Address'); ?></h4>
        </div>
        <?php echo $this->formCollection($form->get('billingAddress')); ?>
    </div>
    <div class="text-right">
        <?php echo $this->formRow($form->get('submit')); ?>
    </div>
</div>
<?php
echo $this->form()->closeTag($form);
?>
<script>
<?php
$this->inlineScript()->captureStart();
?>

    $(function() {
        $('input[name="shippingAddress[copyAddress]"]').trigger('change');
        $('input[name="shippingAddress[copyAddress]"]').change(function() {
            if (this.checked) {
                $('.billingAddressWrapper').css('display', 'none');
                $('.shippingAddressWrapper').animate({width: '100%'}, 500);
            }
            else {
                $('.shippingAddressWrapper').animate({width: '50%'}, 500);
                $('.billingAddressWrapper').css('display', 'block');
            }
        });
    });
<?php
$this->inlineScript()->captureEnd();
?>
</script>