<?php
use File\Api\FileApi;

use Core\Functions;

use Banner\Api\BannerApi;
?>
<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
?>

<?php

$banners = BannerApi::getBanners();
if ($banners) {
    ?>
<div class="carousel slide" id="<?php echo $item->getId(); ?>"
	data-ride="carousel">
	<ol class="carousel-indicators">
					
					<?php
    $i = 0;
    foreach ($banners as $bannerId) {
        $banner = BannerApi::getBannerById($bannerId['bannerId']);
        if (! $banner->file) {
            continue;
        }
        ?>
		<li data-slide-to="<?php echo $i; ?>"
			data-target="#<?php
        
echo $item->getId();
        ?>"
			class="<?php echo !$i?'active': '';?>"></li>
		<?php
        $i ++;
    }
    ?>
					
					
	</ol>
	<div class="carousel-inner">
	
	<?php
    $i = 0;
    foreach ($banners as $bannerId) {
        $banner = BannerApi::getBannerById($bannerId['bannerId']);
        if (! $banner->file) {
            continue;
        }
        ?>
		<div class="item text-center <?php echo !$i?'active': '';?>">
	<?php
        
        if ($banner->url) {
            ?>
				 <a href="<?php echo $banner->url?>">
				 <?php
            echo FileApi::formImage($banner->file->path, 1800, 600, array(
                'title' => $banner->file->title,
                'alt' => $banner->file->alt,
                'class' => 'img-responsive'
            ));
            ?>
				 </a>
				 <?php
        } else {
            
            echo FileApi::formImage($banner->file->path, 1800, 600, array(
                'title' => $banner->file->title,
                'alt' => $banner->file->alt,
                'class' => 'img-responsive'
            ));
        }
        ?>
		<?php
        if ($banner->file->title) {
            ?>
			<div class="carousel-caption">

				<h4><?php echo $banner->file->title; ?></h4>

			</div>
		<?php
        }
        ?>
		</div>
		<?php
        
        $i ++;
    }
    ?>
	</div>


	<!-- Controls -->
	<a class="left carousel-control" href="#<?php
        
echo $item->getId();
        ?>"
		data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span>
	</a> <a class="right carousel-control" href="#<?php
        
echo $item->getId();
        ?>"
		data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>

<?php
}
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000);
