<?php
$iterator = new \RecursiveIteratorIterator ( $this->container, \RecursiveIteratorIterator::SELF_FIRST );
$html = '';
// iterate container
$prevDepth = - 1;
foreach ( $iterator as $page ) {
	
	$depth = $iterator->getDepth ();
	$isActive = $page->isActive ( true );
	
	$indent = '';
	$ulClass = 'nav navbar-nav';
	$addClassToListItem = true;
	$escapeLabels = false;
	
	$myIndent = $indent . str_repeat ( '        ', $depth );
	
	if ($depth > $prevDepth) {
		// start new ul tag
		if ($ulClass && $depth == 0) {
			$ulClass = ' class="' . $ulClass . '" id="mobile-nav" ';
		} else {
			$ulClass = ' class="dropdown-menu" ';
		}
		$html .= $myIndent . '<ul' . $ulClass . '>' . PHP_EOL;
	} elseif ($prevDepth > $depth) {
		// close li/ul tags until we're at current depth
		for($i = $prevDepth; $i > $depth; $i --) {
			$ind = $indent . str_repeat ( '        ', $i );
			$html .= $ind . '    </li>' . PHP_EOL;
			$html .= $ind . '</ul>' . PHP_EOL;
		}
		// close previous li tag
		$html .= $myIndent . '    </li>' . PHP_EOL;
	} else {
		// close previous li tag
		$html .= $myIndent . '    </li>' . PHP_EOL;
	}
	
	// render li tag and page
	$liClasses = array ();
	$aClasses = array ();
	
	if ($page->get ( 'aClass' )) {
		$aClasses [] = $page->get ( 'aClass' );
	}
	// Is page active?
	if ($isActive) {
		$liClasses [] = 'active';
		$aClasses [] = 'active';
	}
	// Add CSS class from page to <li>
	if ($addClassToListItem && $page->getClass ()) {
		$liClasses [] = $page->getClass ();
	}
	
	if ($page->hasPages ()) {
		$liClasses [] = 'dropdown';
		$aClasses [] = 'dropdown-toggle';
	}
	
	if ($page->hasPages () && $depth >= 1) {
		$liClasses [] = 'sub-dropdown';
	}
	
	$liClass = empty ( $liClasses ) ? '' : ' class="' . implode ( ' ', $liClasses ) . '"';
	
	$html .= $myIndent . '    <li ' . $liClass . '>' . PHP_EOL . $myIndent . '        ' . PHP_EOL;
	
	$href = \Seo\Api\SeoApi::getAliasByUrl($page->getHref ());
        
	$aClass = empty ( $aClasses ) ? '' : ' class="' . implode ( ' ', $aClasses ) . '"';
	if ($page->hasPages ()) {
		$aClass .= ' data-toggle="dropdown" ';
	}
	
	if ($page->getTarget ()) {
		$aClass .= ' target="' . $page->getTarget () . '" ';
	}
	
	if ($page->getId ()) {
		$aClass .= ' id="' . $page->getId () . '" ';
	}
	if ($page->get ( 'title' )) {
		$aClass .= ' title="' . $page->get ( 'title' ) . '" ';
	}
	
	$html .= '<a ' . $aClass . ' href="' . $href . '">';
	
	if ($page->get ( 'iconClass' )) {
		$html .= ' <i class=" glyphicon ' . $page->get ( 'iconClass' ) . '"></i> ';
	}
	
	$html .= $page->getLabel ();
	
	if ($page->hasPages ()) {
		if ($depth >= 1) {
			$html .= ' <b class="caret-right"></b> ';
		} else {
			$html .= ' <b class="caret"></b> ';
		}
	}
	$html .= '</a>' . PHP_EOL;
	// store as previous depth for next iteration
	$prevDepth = $depth;
}

if ($html) {
	// done iterating container; close open ul/li tags
	for($i = $prevDepth + 1; $i > 0; $i --) {
		$myIndent = $indent . str_repeat ( '        ', $i - 1 );
		$html .= $myIndent . '    </li>' . PHP_EOL . $myIndent . '</ul>' . PHP_EOL;
	}
	$html = rtrim ( $html, PHP_EOL );
}
echo $html;
