<?php
$title = $this->translate('Account Login');
$this->pageTitle($title);
?>

<div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">


        <div class="cool-block">
            <div class="cool-block-bor">

                <h3 class="heading"><?php echo $title; ?></h3>
                <hr>
                <?php echo $this->flashMessenger(); ?>
                <?php
                $form = $this->form;
                $this->sbForm($form);
                ?>
                <div class="row">
                    <?php
                    echo $this->form($form, null);
                    ?>
                </div>

                <hr>
                <div class="row">
                    <div class="col-sm-7">
                        <h4><?php echo $this->translate('Forget your Password ?'); ?></h4>
                        <p><?php echo $this->translate('no worries, to reset your password'); ?> <a
                                href="<?php echo $this->url('user-forgotpassword-modal'); ?>"
                                class="no-ajaxy ajax-modal-medium"><?php echo $this->translate('click here'); ?></a>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <h4><?php echo $this->translate('Register'); ?></h4>
                        <p><?php echo $this->translate('Create Account?'); ?> <a
                                href="<?php echo $this->url('user-register-modal'); ?>" 
                                class=" no-ajaxy ajax-modal"><?php echo $this->translate('click here'); ?></a>
                        </p>
                    </div>
                </div>


            </div>   
        </div>

    </div>
</div>
