<?php

use Core\Functions;

$this->pageTitle('Account Login');
$sm = Functions::getServiceLocator();
$loginForm = $this->form;
$loginForm->setName('userLoginModal');
$loginForm->setAttribute('action', $this->url('user-login'));
$urlPlugin = Functions::getUrlPlugin();
$request = Functions::getServiceLocator()->get('Request');
$path = '';
$referer = $request->getHeader('Referer');
if ($referer && $referer->uri() && $referer->uri()->getPath()) {
    $path = $request->getHeader('Referer')->uri()->getPath();
}
$url = Functions::fromQuery('redirectUrl');
$url = $url ? $url : $path;
if ($url && (!fnmatch('user*', $url))) {
    $loginForm->get('redirectUrl')->setValue(rawurlencode($url));
}

$this->sbForm($loginForm);
?>
<div class="row">
    <?php
    echo $this->form($loginForm, null);
    ?>
</div>
<hr>
<div class="row">
    <div class="col-sm-7">
        <h4><?php echo $this->translate('Forget your Password ?'); ?></h4>
        <p><?php echo $this->translate('no worries, reset your password'); ?> <a
                href="<?php echo $this->url('user-forgotpassword'); ?>"
                class=""><?php echo $this->translate('click here'); ?></a>
        </p>
    </div>
    <div class="col-sm-5">
        <h4><?php echo $this->translate('Register'); ?></h4>
        <p><?php echo $this->translate('Create Account?'); ?> <a
                href="<?php echo $this->url('user-register'); ?>" 
                class=""><?php echo $this->translate('click here'); ?></a>
        </p>
    </div>
</div>