@CHARSET "UTF-8";

a.tool-item i[class^="icon-"],a.tool-item i[class*=" icon-"] {
    vertical-align: text-bottom;
}

.tool-container.tool-rounded {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

.settings-button {
    background-color: #343433;
    border: 1px solid #161615;
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26) inset, 0 1px 0 0
        rgba(255, 255, 255, 0.15);
    display: block;
    height: 28px;
    margin: 0 5px;
    opacity: 0.7;
    width: 36px;
    z-index: 2;
}

.settings-button:hover,.pressed {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}

.settings-button span {
    background: url("../img/icon-cog-small.png") no-repeat scroll left top
        rgba(0, 0, 0, 0);
    display: block;
    height: 18px;
    margin: 5px auto 0;
    width: 19px;
}

a.tool-item {
    width: 30px;
}

a.tool-item {
    text-decoration: none;
}

#panel {
    background: #754c24;
    height: 200px;
    display: none;
}

.btn-slide {
    background: url(images/white-arrow.gif) no-repeat right -50px;
    text-align: center;
    width: 144px;
    height: 31px;
    padding: 10px 10px 0 0;
    margin: 0 auto;
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}

.sample-empty-block-wrapper {
    margin: 10px 10px;

    background: white;
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    float: left;
    text-align:center;
    padding:10px;

}

.sample-empty-block-wrapper .block-content{
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    height: 70px;
    font-weight: bold;
}

.sample-empty-block-wrapper p {
    vertical-align: middle;
    text-align: center;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    text-decoration: bold;
    margin: 10px 20px;
    text-decoration: bold;
}

.ui-state-highlight {
    margin: 10px 10px;
    width: 200px;
    height: 70px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    float: left;
    border: 1px dashed #333;
}

ul.list-grid-container {
    margin: 0px;
}

.grid .gridview {
    display: block;
}

.grid .listview {
    display: none;
}

.list .listview {
    display: block;
}

.list .gridview {
    display: none;
}

.document-title {
    display: none;
}

.box {
    border: 1px solid #eeeeee;
    box-shadow: 0 0 3px #eeeeee;
    padding: 20px 20px;
    margin: 10px 0;
}

.form-vertical .form-actions {
    text-align: right;
}

body .modal-captcha {
    /* new custom width */
    width: 750px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -375px;
}

.fileupload {
    margin-bottom: 9px;
}

.fileupload .uneditable-input {
    cursor: text;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.fileupload .thumbnail>img {
    display: inline-block;
    max-height: 100%;
    vertical-align: middle;
}

.fileupload .btn {
    vertical-align: middle;
}

.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-inline .fileupload-controls {
    display: inline;
}

.fileupload-new .input-append .btn-file {
    border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    padding: 0;
}

.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #DDDDDD;
}

.control-group.warning .fileupload .uneditable-input {
    border-color: #A47E3C;
    color: #A47E3C;
}

.control-group.warning .fileupload .fileupload-preview {
    color: #A47E3C;
}

.control-group.warning .fileupload .thumbnail {
    border-color: #A47E3C;
}

.control-group.error .fileupload .uneditable-input {
    border-color: #B94A48;
    color: #B94A48;
}

.control-group.error .fileupload .fileupload-preview {
    color: #B94A48;
}

.control-group.error .fileupload .thumbnail {
    border-color: #B94A48;
}

.control-group.success .fileupload .uneditable-input {
    border-color: #468847;
    color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}

.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}

#controls-captcha img {
    display: block
}

div.cart-item-update {
    display: inline;
}

fieldset legend+.control-group {
    margin-top: 0px;
}

.row.demo-block{
    -moz-box-sizing: border-box;
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1) inset;
    margin: 15px 0;
    padding: 15px 14px 0;
    position: relative;
    min-height: 50px;
}
.cart-item-update input[name="quantity"]{
    width:50px;
    padding:5px;
}
.table.cart-table tbody > tr > td{
    vertical-align: middle;
}

form .form-group{
    position: static;
}

#checkoutAddress button[name="submit"]{
    float: right;
    margin-bottom: 10px;
}

body .form-group{
    position: static;
}

.pac-container {
    z-index: 1200 !important;
}

/*set a border on the images to prevent shifting*/

#gallery_01 img{
    margin-top: 20px;
}
/*Change the colour*/
.active img{
    border-color: #333 !important;}

@media (min-width: 1200px) {
    .modal.container {
        margin-left: -400px;
        width: 800px;
    }
}

.slider.slider-horizontal{
    width: 100%;
}
/* bootstrap navigation fix */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:"";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.arrow {
    float: right;
}

.glyphicon.arrow:before {
    content: "\e079";
}

.active > a > .glyphicon.arrow:before {
    content: "\e114";
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.plus-times {
    float: right;
}

.fa.plus-times:before {
    content: "\f067";
}

.active > a > .glyphicon.plus-times {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.plus-minus {
    float: right;
}

.fa.plus-minus:before {
    content: "\f067";
}

.active > a > .fa.plus-minus:before {
    content: "\f068";
} 
/* side menu */

.sidebar-nav ul {

    list-style: none;
}
.sidebar-nav ul ul {

    margin: 0;
    padding: 0;
}
.sidebar-nav ul ul ul {

    margin: 0;
    padding: 0;
}
.sidebar-nav ul ul ul ul {

    margin: 0;
    padding: 0;
}
.sidebar-nav ul li a span{
    line-height: 1.8em;
}
.sidebar-nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar-nav ul ul li a {
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar-nav ul ul ul li a {
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar-nav ul ul ul ul li a {
    padding-left: 40px;
    padding-right: 40px;
}
.sidebar-nav ul li,
.sidebar-nav ul a {
    display: block;
}
.sidebar-nav  ul {
    border: 1px solid #eee;

}
.sidebar-nav  ul  li a  {
    border-bottom: 1px solid #eee;
    padding:10px 10px;

}
.sidebar-nav  ul > li:last-child > a  {
    border-bottom: 0px solid #eee;

}
.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus,
.sidebar-nav ul a:active {
    text-decoration: none;
}
.sidebar-nav-item {
    padding-left: 5px;
}
.sidebar-nav-item-icon {
    padding-right: 5px;
}

.sidebar-nav  ul.nav > li > a,.sidebar-nav  ul.nav > li > a:focus, .sidebar-nav  ul.nav > li > a:hover,.sidebar-nav  ul.nav > li.active > a,.sidebar-nav  ul.nav > li.active > a:hover, .sidebar-nav  ul.nav > li.active > a:visited{
    background: #16CBE6 !important;
    color: #fff !important;
}

.ui-pnotify-icon, .ui-pnotify-icon span{
    margin-top: 3px;
}