<?php

use Blumix\Api\BlumixApi;
use BlockManager\Api\BlockApi;
use Core\Functions;

/* @var $item /BlockManager/Option/Block/BlockItem */
$item = $this->item;
/* @var $blockContainer /BlockManager/Option/Block/BlockContainer */
$blockContainer = $this->blockContainer;
$routeName = Functions::getMatchedRouteName();
if ($routeName == "admin-block") {
    ?>

    <div
        class="block-item-wrapper <?php echo $item->getId(); ?> sample-empty-block-wrapper"
        data-id="<?php echo $item->getId(); ?>"
        id="blocks-<?php echo $item->getId(); ?>">

        <div class="col-xs-12 clearfix">
            <div class="text-right">
                <span class="drag label label-warning"><a
                        href="<?php
                        echo $this->url('admin-save-block-region', array(
                            'block' => $item->getId(),
                            'region' => $blockContainer->getRegionName()
                        ));
                        ?>"
                        class="zoombox"><i
                            class="glyphicon glyphicon-wrench icon icon-wrench"></i></a></span>
                <span class="drag label label-danger"><a href="#"
                                                         class="remove_block_element"><i
                            class="glyphicon glyphicon-remove icon icon-remove"></i></a></span>
            </div>
        </div>
        <div class="block-content">
            <div class="content"><?php echo $item->getTitle(); ?></div>
        </div>
    </div>
    <?php
} else {
    $blockResult = BlockApi::getBlockByNameAndRegion($item->getId(), $blockContainer->getRegionName());
    $classes = array(
        'block-item-wrapper',
        $item->getId(),
        $blockContainer->getRegionName()
    );
    if ($blockResult) {
        $classes[] = $blockResult->classes;
    }
    $content = $item->getBlock();
    if ($content) {
        ?>

        <div class="<?php echo implode(' ', $classes); ?>">
            <?php
            if ($blockResult && $blockResult->displayTitle) {
                ?>
                <div class="section-title">
                    <h4 class="heading"><?php echo ($blockResult->title ? $blockResult->title : $item->getTitle()); ?> </h4>
                </div>
                <?php
            }
            echo $content;
            ?>
        </div>

        <?php
    }
}