<?php
use Core\Functions;

/* @var $blockContainer \BlockMananger\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$items = $blockContainer->getItems();
$routeName = Functions::getMatchedRouteName();
if ($routeName == "block" ) {
    ?>
<div data-region="<?php echo $blockContainer->getRegionName() ;?>"
	class="<?php echo $blockContainer->getRegionName() ;?> row demo-block"
	id="<?php echo $blockContainer->getRegionName() ;?>">
	<div class="col-xs-12 clearfix">
		<div class="pull-left">
			<span class="drag label label-success"><?php echo $blockContainer->getRegionName() ;?></span>
		</div>
		<div class="pull-right">
			<span class="drag label label-default"><a
				href="<?=$this->url('block-add', array('region' => $blockContainer->getRegionName()));?>"
				class="zoombox w900 h800" title="Add/Remove Blocks"><i
					class="glyphicon glyphicon-plus icon icon-plus"></i></a></span> <span
				class="drag label label-default"><a href="#"
				class="save_block_container" title="Save Blocks"><i
					class="glyphicon glyphicon-ok icon icon-ok"></i></a></span>
		</div>

	</div>
	<div class="col-xs-12 block-container">
	<?php
    foreach ($items as $item) {
        
        echo $this->render('block/block-item', array(
            'blockContainer' => $blockContainer,
            'item' => $item
        ));
    }
    ?>
	</div>
</div>
<?php
    $this->inlineScript()->captureStart();
    ?>
jQuery(function(){
<?php echo $blockContainer->getRegionName() ;?> = new BlockManager();
<?php echo $blockContainer->getRegionName() ;?>.regionId = '<?php echo $blockContainer->getRegionName() ;?>';
<?php echo $blockContainer->getRegionName() ;?>.uri = '<?php echo $blockContainer->getUri() ;?>';
<?php echo $blockContainer->getRegionName() ;?>.render();
});
<?php
    $this->inlineScript()->captureEnd();
    ?>

<?php
} else {

    foreach ($items as $item) {
        
        echo $this->render('block/block-item', array(
            'blockContainer' => $blockContainer,
            'item' => $item
        ));
    }
}
?>
