<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();

$productId = Core\Functions::fromRoute('productId');
if (!$productId) {
    return;
}
ob_start();
?>
<div class="row">
    <div class="col-sm-12">

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#day-product-report" data-toggle="tab">Day</a></li>
                <li class=""><a href="#week-product-report" data-toggle="tab">Week</a></li>
                <li class=""><a href="#month-product-report" data-toggle="tab">Month</a></li>
                <li class=""><a href="#year-product-report" data-toggle="tab">Year</a></li>
                <li class=""><a href="#customer-product-report" data-toggle="tab">Customer</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="day-product-report">
                    <?php include 'chart/product-chart-day.phtml'; ?>
                </div>
                <div class="tab-pane" id="week-product-report">
                    <?php include 'chart/product-chart-week.phtml'; ?>
                </div>
                <div class="tab-pane" id="month-product-report">
                    <?php include 'chart/product-chart-month.phtml'; ?></div>
                <div class="tab-pane" id="year-product-report">
                    <?php include 'chart/product-chart-year.phtml'; ?>
                </div>
                <div class="tab-pane" id="customer-product-report">
                    <?php include 'chart/product-chart-customer.phtml'; ?>
                </div>

            </div>

        </div>
    </div>
</div>
<?php
$this->inlineScript()->captureStart();
?>


function calcProfit () {
var data = $(".<?php echo $grid->getName(); ?>").data("kendoGrid").dataSource.data();
var total = 0;
for(var i = 0; i < data.length; i++) {
total += data[i].profit;
}
return kendo.toString(total, "c");
}

function calcQty () {
var data = $(".<?php echo $grid->getName(); ?>").data("kendoGrid").dataSource.data();
var total = 0;
for(var i = 0; i < data.length; i++) {
total += data[i].qty;
}
return total;
}

function calcAmount () {
var data = $(".<?php echo $grid->getName(); ?>").data("kendoGrid").dataSource.data();
var total = 0;
for(var i = 0; i < data.length; i++) {
total += data[i].amount;
}
return kendo.toString(total, "c");
}
function calcCostPrice () {
var data = $(".<?php echo $grid->getName(); ?>").data("kendoGrid").dataSource.data();
var total = 0;
for(var i = 0; i < data.length; i++) {
total += data[i].costPrice;
}
return kendo.toString(total, "c");
}
function calcOrders () {
var data = $(".<?php echo $grid->getName(); ?>").data("kendoGrid").dataSource.data();
var total = 0;
for(var i = 0; i < data.length; i++) {
total += data[i].orders;
}
return total;
}
<?php
$this->inlineScript()->captureEnd();
?>
<?php
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight();
