<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$userId = Core\Functions::fromRoute('userId');
if (!$userId) {
    return;
}
?>
<div class="row">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#day-user-report" data-toggle="tab">Day</a></li>
            <li class=""><a href="#week-user-report" data-toggle="tab">Week</a></li>
            <li class=""><a href="#month-user-report" data-toggle="tab">Month</a></li>
            <li class=""><a href="#year-user-report" data-toggle="tab">Year</a></li>
            <li class=""><a href="#product-user-report" data-toggle="tab">Products</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="day-user-report">
                <?php include 'user-chart/user-chart-day.phtml'; ?>
            </div>
            <div class="tab-pane" id="week-user-report">
                <?php include 'user-chart/user-chart-week.phtml'; ?>
            </div>
            <div class="tab-pane" id="month-user-report">
                <?php include 'user-chart/user-chart-month.phtml'; ?>
            </div>
            <div class="tab-pane" id="year-user-report">
                <?php include 'user-chart/user-chart-year.phtml'; ?>
            </div>

            <div class="tab-pane" id="product-user-report">
                <?php include 'user-chart/user-chart-products.phtml'; ?>
            </div>
        </div>
    </div>
</div>
<?php

$this->inlineScript ()->captureStart ();
?>

function calcQty () {
    var data = $(".<?php echo $grid->getName();?>").data("kendoGrid").dataSource.data();
    var total = 0;
    for(var i = 0; i < data.length; i++) {
            total += data[i].qty;
    }
    return total;
}

function calcCostPrice () {
    var data = $(".<?php echo $grid->getName();?>").data("kendoGrid").dataSource.data();
    var total = 0;
    for(var i = 0; i < data.length; i++) {
            total += data[i].costPrice;
    }
    return kendo.toString(total, "c");
}

function calcProfit () {
    var data = $(".<?php echo $grid->getName();?>").data("kendoGrid").dataSource.data();
    var total = 0;
    for(var i = 0; i < data.length; i++) {
            total += data[i].profit;
    }
    return kendo.toString(total, "c");
}

 function calcProducts () {
    var data = $(".<?php echo $grid->getName();?>").data("kendoGrid").dataSource.data();
    var total = 0;
    for(var i = 0; i < data.length; i++) {
            total += data[i].products;
    }
    return total;
}

function calcAmount () {
    var data = $(".<?php echo $grid->getName();?>").data("kendoGrid").dataSource.data();
    var total = 0;
    for(var i = 0; i < data.length; i++) {
            total += data[i].amount;
    }
    return kendo.toString(total, "c");
}

function calcOrders () {
    var data = $(".<?php echo $grid->getName();?>").data("kendoGrid").dataSource.data();
    var total = 0;
    for(var i = 0; i < data.length; i++) {
            total += data[i].orders;
    }
    return total;
}
<?php
$this->inlineScript ()->captureEnd ();
?>
<?php
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight();
