<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
$session = \Admin\Api\AdminApi::getDashboardSession();
ob_start();
?>
<div id="reportrange" class="pull-right well">
    <i class="glyphicon glyphicon-calendar icon-large"></i>
    <span><?php echo $session->startDate->format("F j, Y"); ?> - <?php echo $session->endDate->format("F j, Y"); ?></span> <b class="caret"></b>
    <form id="changeDashboardForm" action="<?php echo $this->url('admin'); ?>" method="post">
        <input  type="hidden" 
               name="startDate"
               value="<?php echo $session->startDate->format("Y-m-d"); ?>">

        <input  type="hidden" 
               name="endDate"
               value="<?php echo $session->endDate->format("Y-m-d"); ?>">

    </form>
</div>
<?php $this->inlineScript()->captureStart(); ?>
$('#reportrange').daterangepicker({
ranges: {
'Today': [moment(), moment()],
'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
'Last 7 Days': [moment().subtract('days', 6), moment()],
'Last 30 Days': [moment().subtract('days', 29), moment()],
'This Month': [moment().startOf('month'), moment().endOf('month')],
'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],

},
startDate:new Date("<?php echo $session->startDate->format("Y-m-d"); ?>"),
endDate: new Date("<?php echo $session->endDate->format("Y-m-d"); ?>"),
maxDate: moment(),
format: 'DD/MM/YYYY'
},
function(start, end) {
$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
$('input[name="startDate"]').val(start.format('YYYY-MM-DD'));
$('input[name="endDate"]').val(end.format('YYYY-MM-DD'));
$('#changeDashboardForm').submit();
});
<?php $this->inlineScript()->captureEnd(); ?>
<?php
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight();
