<?php

use Core\Functions;
use File\Api\FileApi;
use Product\Api\ProductApi;

$sm = Functions::getServiceLocator();
/* @var $cart Checkout\Option\CartContainer */
$cart = $sm->get('Cart');
$cart->prepare();
$cart->isValid();
$cartItems = $cart->getCartItems();
$title = $this->translate('Cart');
$this->pageTitle($title);
?>

<?php echo $this->flashmessenger(); ?>


<table class="table table-striped ">
    <thead>
        <tr>
            <th class="card_product_image hidden-xs"><?php echo $this->translate('Image'); ?></th>
            <th class="card_product_name "><?php echo $this->translate('Product Name'); ?></th>
            <th class="card_product_model hidden-xs"><?php echo $this->translate('Model'); ?></th>
            <th class="card_product_quantity"><?php echo $this->translate('Quantity'); ?></th>
            <th class="card_product_price hidden-xs"><?php echo $this->translate('Unit Price'); ?></th>
            <th class="card_product_total "><?php echo $this->translate('Total'); ?></th>
        </tr>
    </thead>
    <tbody>

        <?php
        foreach ($cartItems as $cartItem) {
            $productId = $cartItem->getProductId();
            $product = ProductApi::getProductById($productId);
            $url = $this->url('product', array('productId' => $productId));
            ?>
            <tr>
                <td class="card_product_image hidden-xs">
                    <?php
                    $image = $cartItem->getImage();
                    if ($image) {
                        echo FileApi::formImage($image, 50, 50);
                    }
                    ?></td>
                <td class="card_product_name"><a href="<?php echo $url; ?>"><?php echo $cartItem->getTitle(); ?></a>
                    <ul class="inlineitems">
                        <?php
                        $inItems = $cartItem->getInItems();
                        foreach ($inItems as $inItem) {
                            ?>

                            <li><span class="inlinekey"><?php echo $inItem->getTitle(); ?></span>
                                <?php
                                $value = $inItem->getValue();
                                if (is_numeric($value)) {
                                    ?>
                                    <span class="inlinevalue"><?php echo $this->currencyFormat($value); ?></span>
                                    <?php
                                } else {
                                    ?>
                                    <span class="inlinevalue"><?php echo $this->escapeHtml($value); ?></span>
                                    <?php
                                }
                                ?>
                            </li>
                            <?php
                        }
                        ?>
                    </ul>
                    <ul class="outItems">
                        <?php
                        $outItems = $cartItem->getOutItems();
                        foreach ($outItems as $outItem) {
                            ?>

                            <li><span class="outkey"><?php echo $outItem->getTitle(); ?></span>
                                <?php
                                $value = $outItem->getValue();
                                if (is_numeric($value)) {
                                    ?>
                                    <span class="outvalue"><?php echo $this->currencyFormat($value); ?></span>
                                    <?php
                                } else {
                                    ?>
                                    <span class="outvalue"><?php echo $this->escapeHtml($value); ?></span>
                                    <?php
                                }
                                ?></li>
                            <?php
                        }
                        ?>
                    </ul>
                </td>
                <td class="card_product_model  hidden-xs">
                    <?php echo $cartItem->getSku(); ?>

                </td>
                <td class="card_product_quantity">

                    <form class="cart-item-update"
                          action="<?php
                          echo $this->url('updatequantity', array(
                              'cartItemId' => $cartItem->getGeneratedKey()
                          ));
                          ?>"
                          method="get">
                        <div class="input-group clearfix text-center">
                            <input type="number" class="form-control pull-left" name="quantity"
                                   value="<?php echo $cartItem->getQuantity(); ?>" min="0">
                                   <?php
                                   $deleteUrl = $this->url('removecartitem', array(
                                       'cartItemId' => $cartItem->getGeneratedKey()
                                   ));
                                   ?>
                            <span class="input-group-btn pull-left hidden-xs">

                                <button type="submit" class="btn btn-default" title="Save"><i class="glyphicon glyphicon-ok"></i></button>
                                <a href="<?php echo $deleteUrl ?>" class="btn btn-danger" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
                                <a href="<?php echo $url; ?>?editCartItemId=<?php echo $cartItem->getGeneratedKey(); ?>" title="Edit" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                            </span>

                        </div>

                        <span class="hidden-lg hidden-md hidden-sm">

                            <button type="submit" class="btn btn-default" title="Save"><i class="glyphicon glyphicon-ok"></i></button>
                            <a href="<?php echo $deleteUrl ?>" class="btn btn-danger" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
                            <a href="<?php echo $url; ?>?editCartItemId=<?php echo $cartItem->getGeneratedKey(); ?>" title="Edit" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                        </span>

                    </form>


                </td>
                <td class="card_product_price hidden-xs"><?php echo $this->currencyFormat($cartItem->getUnitPrice()); ?></td>
                <td class="card_product_total"><?php echo $this->currencyFormat($cartItem->getTotalPrice()); ?></td>
            </tr>




            <?php
        }
        if (!$cartItems || !count($cartItems)) {
            ?>
            <tr>
                <td colspan="6"><div class="center"><?php echo $this->translate('Currently! There are no products in the cart'); ?></div></td>
            </tr>
            <?php
        }
        ?>
        <?php
        $inItems = $cart->getInItems();
        foreach ($inItems as $inItem) {
            ?>
            <tr>
                <td class="hidden-xs"></td>
                <td class=""></td>
                <td class="card_product_model hidden-xs"></td>
                <td class="card_product_quantity"><?php echo $inItem->getTitle(); ?></td>
                <td class="card_product_model hidden-xs"></td>
                <td class="card_product_total">

                    <?php
                    $value = $inItem->displayValue();
                    if ($value) {
                        echo $value;
                    }
                    ?>
                </td>
            </tr>


            <?php
        }
        ?>

        <tr>
            <td class="hidden-xs"></td>
            <td class=""></td>
            <td class="card_product_model hidden-xs"></td>
            <td class="card_product_quantity"><?php echo $this->translate('Sub Total'); ?></td>
            <td class="card_product_model hidden-xs"></td>
            <td class="card_product_total">
                <?php
                echo $this->currencyFormat($cart->getSubTotalPrice());
                ?>
            </td>
        </tr>


        <?php
        $outItems = $cart->getOutItems();
        foreach ($outItems as $outItem) {
            ?>
            <tr>
                <td class="hidden-xs"></td>
                <td class=""></td>
                <td class="card_product_model hidden-xs"></td>
                <td class="card_product_quantity "><?php echo $outItem->getTitle(); ?></td>
                <td class="card_product_model hidden-xs"></td>
                <td class="card_product_total">
                    <?php
                    $value = $outItem->displayValue();
                    if ($value) {
                        echo $value;
                    }
                    ?>
                </td>
            </tr>
            <?php
        }
        ?>

        <tr>


    </tbody>

    

</table>
<div class="row clearfix">
    <div class="col-sm-6">

        <div id="cart-acc" class="block  panel-group">

            <?php
            $contentContainer = $this->content('cartHelper')->getContentContainer();
            $items = $contentContainer->getItems();
            foreach ($items as $item) {
                ?>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#<?php
                            echo $item->getId();
                            ?>"
                               data-parent="#cart-acc" data-toggle="collapse"
                               class="accordion-toggle clearfix"><?php echo $item->getTitle(); ?> <span class="pull-right"><i
                                        class="icon-plus-sign"></i></span> </a>
                        </div>
                    </div>
                    <div class="panel-collapse collapse"
                         id="<?php echo $item->getId(); ?>">
                        <div class="panel-body">
                            <?php
                            echo $item->getContent();
                            ?>
                        </div>
                    </div>

                </div>
                <?php
            }
            ?>


            <!--end accordion-group-->
        </div>
        <!--end cart-accordain-->
    </div>
    <!--end span7-->
    <div class="col-sm-6">
        <div class="cart-receipt block">
            <table class="table receipt-table">
                <tbody>

                    <?php
                    $inItems = $cart->getInItems();
                    foreach ($inItems as $inItem) {
                        ?>

                        <tr>
                            <td class="text-right"><?php echo $inItem->getTitle(); ?></td>
                            <?php
                            $value = $inItem->displayValue();
                            if ($value) {
                                ?>
                                <td class="text-left"><?php echo $value; ?></td>
                                <?php
                            }
                            ?>

                        </tr>
                        <?php
                    }
                    ?>

                    <tr>
                        <td class="text-right"><?php echo $this->translate('Subtotal'); ?></td>
                        <td class="text-left"><?php echo $this->currencyFormat($cart->getSubTotalPrice()); ?></td>
                    </tr>

                    <?php
                    $outItems = $cart->getOutItems();
                    foreach ($outItems as $outItem) {
                        ?>

                        <tr>
                            <td class="text-right"><?php echo $outItem->getTitle(); ?></td>
                            <?php
                            $value = $outItem->displayValue();
                            if ($value) {
                                ?>
                                <td class="text-left"><?php echo $value; ?></td>
                                <?php
                            }
                            ?>
                        </tr>
                        <?php
                    }
                    ?>

                    <tr>
                        <td class="text-right">
                            <h2><?php echo $this->translate('Total'); ?></h2>
                        </td>
                        <td class="text-left">
                            <h2><?php echo $this->currencyFormat($cart->getTotalPrice()); ?></h2>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right"><a class="btn btn-default btn-large"
                                                  href="<?php echo $this->url('home'); ?>"><i
                                    class="glyphicon glyphicon-shopping-cart"></i> Contuine Shopping</a></td>
                        <td class="text-left"><a class="btn btn-default btn-large"
                                                 href="<?php echo $this->url('checkout'); ?>"> <i
                                    class="glyphicon glyphicon-gift"></i> Checkout
                            </a></td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>
