<?php
use Newsletter\Api\NewsletterApi;

use User\Api\UserApi;

/* @var $item BlucartGrid\Option\Helper\DetailItem */
$item = $this->item;
$params = $this->params;
$userId = $params ['id'];
$item->setTitle ( 'Subscribed Newsletters' );
ob_start ();
$user = UserApi::getUserById ( $userId );
$results = NewsletterApi::getNewsletterSubscriberByEmail ( $user->email );
?>
<?php
if ($results) {
	
	?>
<ul>
<?php foreach($results as $result){?>
<li><?php echo $result->newsletterCategory->name; ?></li>
<?php
	}
	?>
</ul>

<?php
} else {
	echo $this->translate ( 'Currently No newsletters are subscribed.' );
}
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 900 );
?>