<?php
use Newsletter\Api\NewsletterApi;

use User\Api\UserApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();
$userId = $contentContainer->getParam ( 'userId' );
$user = UserApi::getUserById ( $userId );
$results = NewsletterApi::getNewsletterSubscriberByEmail ( $user->email );
?>
<h2 class="heading">Subscribed Newsletters</h2>
<?php
if ($results) {
	
	?>
<ul>
<?php foreach($results as $result){?>
<li><?php echo $result->newsletterCategory->name; ?></li>
<?php
	}
	?>
</ul>

<?php
} else {
	echo $this->translate ( 'Currently No newsletters are subscribed.' );
}
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 800 );
?>