<?php
use Newsletter\Api\NewsletterApi;
use User\Api\UserApi;
/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams ();
ob_start ();
$user = UserApi::getUserById ( $params ['userId'] );
if (! $user) {
	return;
}
?>
<div class="block newsletter">
	<div class="block-header">
		<h3><i class="glyphicon glyphicon-envelope"></i> <?php echo $this->translate('Subscribed Newsletter'); ?></h3>
	</div>
	<?php
	$results = NewsletterApi::getNewsletterSubscriberByEmail ( $user->email );
	if ($results) {
		?>
	<ul>
	<?php
		
	foreach ( $results as $result ) {
			?>
	<li><?php echo $result->newsletterCategory->name;?></li>
	<?php
		}
		?>
	</ul>
	<?php
	} else {
	?>
	<div class="text-center"><?php echo $this->translate('no newsletters are subscribed'); ?></div>
	<?php 
	}
	?>

</div>
<?php
$content = ob_get_clean ();
$item->setContent ( $content );
$item->setWeight ( 500 );
?>