<?php
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;

use Kendo\Lib\Core\JavascriptFunction;

use BlucartGrid\Option\Grid;

$grid = new Grid ( 'adminUserRole' );
$grid->setGroupable ( false );

$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();
$columnItem = $columns->getColumn ( 'userRole.accessAdmin' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#accessAdminTemplate").html()), {column:"accessAdmin"})' ) );
$columnItem = $columns->getColumn ( 'userRole.displayAtRegistration' );
$columnItem->setTemplate ( new JavascriptFunction ( '$.proxy(kendo.template($("#displayAtRegistrationTemplate").html()), {column:"displayAtRegistration"})' ) );

?>
<h1 class="heading">User Roles</h1>
<?php
echo $obj->render ();
?>
<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/kendo-tmpl', array (
		'id' => 'accessAdminTemplate',
		'noescape' => true 
) );
?>
# if (accessAdmin) { #
<span class="accessAdmin"><i class="glyphicon glyphicon-ok"></i></span>
# } else {#
<span class="accessAdmin"><i class="glyphicon glyphicon-remove"></i></span>
#}# 
<?php
$this->inlineScript ()->captureEnd ();

?>

<?php
$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/kendo-tmpl', array (
		'id' => 'displayAtRegistrationTemplate',
		'noescape' => true 
) );
?>
# if (displayAtRegistration) { #
<span class="displayAtRegistration"><i class="glyphicon glyphicon-ok"></i></span>
# } else {#
<span class="displayAtRegistration"><i class="glyphicon glyphicon-remove"></i></span>
#}# 
<?php
$this->inlineScript ()->captureEnd ();

?>