<?php
use Zend\View\Helper\InlineScript;

use DluTwBootstrap\Form\FormUtil;

use ProductRecommended\Api\ProductRecommendedApi;

use Inventory\Api\InventoryApi;

use File\Api\FileApi;

use Product\Api\ProductApi;

use Core\Functions;

$this->headScript()->appendFile($this->basePath('/assets/Checkout/cart.js'));
$productId = Functions::fromRoute ( 'productId' );
$product = ProductApi::getProductById ( $productId );
if ($product) {
	$this->pageTitle ( $product->title );
	$form = $this->productAddToCartForm ( $productId );
	$this->sbForm ( $form );
	?>

<div class="block-product-detail block">



	<div class="row">
		<?php
	echo $this->form ()->openTag ( $form );
	?>
			<div class="span3">
			<div class="product-detail-slider">
				<ul class="bxslider">
					<?php
	$images = ProductApi::getProductImageByProductId ( $product->id );
	foreach ( $images as $result ) {
		$image = ProductApi::getProductImageById ( $result ['productImageId'] );
		?>
	<li>
						<div class="product-cell">
							<div class="product  product-list-view">
								<div class="sale-label sale-top-left"></div>

								<div class="product-image">
									<a
										href="<?php echo FileApi::formImage($image->file->path, 400, 450, array(), true); ?>"
										class="bubble-popup no-ajaxy"
										title="<?php echo $image->file->title; ?>">
										
										<?php
		
		echo FileApi::formImage ( $image->file->path, 270, 300, array (
				'title' => $image->file->title,
				'alt' => $image->file->alt 
		) );
		?>
										
									</a>
								</div>
							</div>
						</div>
					</li>
	<?php
	}
	?>
					
					
					
					
				</ul>
				<div class="bxpager row-fluid">
				<?php
	$i = 0;
	foreach ( $images as $result ) {
		$image = ProductApi::getProductImageById ( $result ['productImageId'] );
		?>
					<a data-slide-index="<?php echo $i; ?>" href="javascript:void(0);"
						class="span3 no-ajaxy">
					
					<?php
		
		echo FileApi::formImage ( $image->file->path, 62, 70, array (
				'title' => $image->file->title,
				'alt' => $image->file->alt 
		) );
		?>
					</a> 
						<?php
		$i ++;
	}
	?>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="product-cell">
				<div class="product-info  products-list-info">
					<div class="clearfix product-detail-row">
						<h4>
							<a href="#"><?php
	
	echo $this->fieldedit ( $product->title, array (
			'entity' => $product,
			'name' => 'title',
			'pk' => $product->id,
			'validation' => 'required',
			'type' => 'text' 
	) );
	?></a>
						</h4>
						<p class="product-price">
							<label class="pull-left"><?php echo $this->translate('Price'); ?>: </label>
								
								<?php
	if ($product->listPrice && ($product->listPrice > $product->sellPrice)) {
		?>
			
				<span class="strike-price"><?php
		
		echo $this->fieldEdit ( $this->currencyFormat ( $product->listPrice ), array (
				'entity' => $product,
				'type' => 'text',
				'name' => 'listPrice',
				'pk' => $product->id,
				'validate' => 'required float' 
		) );
		
		?></span>
			
			<?php
	}
	
	echo $this->fieldEdit ( $this->currencyFormat ( $product->sellPrice ), array (
			'entity' => $product,
			'type' => 'text',
			'name' => 'sellPrice',
			'pk' => $product->id,
			'validate' => 'required float' 
	) );
	?>
								
							</p>

					</div>
						<?php
	if (Functions::hasModule ( 'Inventory' )) {
		?>
						<div class="clearfix product-detail-row">
						<label class="pull-left">Availability: </label>
						<p><?php
		$stock = InventoryApi::checkOrGetStock ( $product->id );
		echo $stock ? $this->translate ( 'In Stock' ) : $this->translate ( 'Out of Stock' );
		?></p>
					</div>
						<?php
	}
	?>
	
	<?php
	if ($form->hasElements( 'attributes' )) {
		?>
		<hr>

					<div class="clearfix product-detail-row attributes">
						<div class="row-fluid">
							<div class="span12">
									<?php
		$attributes = $form->get ( 'attributes' );
		echo $this->formFieldset ( $attributes, FormUtil::FORM_TYPE_INLINE );
		?>
								</div>

						</div>

					</div>
						<?php
	}
	?>
	
	
	<?php
	if ($form->hasElements( 'addons' )) {
		?>
		<hr>

					<div class="clearfix product-detail-row addons">
						<div class="row-fluid">
							<div class="span12">
									<?php
		$addons = $form->get ( 'addons' );
		echo $this->formFieldset ( $addons, FormUtil::FORM_TYPE_INLINE );
		?>
								</div>

						</div>

					</div>
						<?php
	}
	?>
						
		<hr>
					<div class="clearfix product-detail-row">
						<div class="row-fluid">
							<div class="span4">
									<?php
	$quantity = $form->get ( 'quantity' );
	echo $this->formRow ( $quantity, FormUtil::FORM_TYPE_INLINE );
	?>
								</div>

						</div>

					</div>
					<div class="row-fluid  product-detail-row">
						<div class="span4">
							<?php
	$submit = $form->get ( 'btnsubmit' );
	
	// echo $this->formElement($submit);
	?>
							
								<a href="#" class="product-shopping-cart addtocartsubmit"><i
								class="glyphicon glyphicon-shopping-cart"></i><span>Add to Cart</span></a>
						</div>
						<div class="span4">
							<a href="#" class="product-add">+ Add to Wishlist</a>
						</div>
					</div>
					<div class="row-fluid  product-detail-row">
							<?php
	
	echo $this->fieldEdit ( $product->shortDescription, array (
			'entity' => $product,
			'type' => 'text',
			'name' => 'shortDescription',
			'pk' => $product->id,
			'validate' => 'required float' 
	) );
	?>
							</div>
				</div>
			</div>
		</div>
	<?php
	echo $this->form ($form)->closeTag ( );
	?>
		</div>
</div>
<div class="clear">&nbsp;</div>
<div class="tabbable block">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#productTab1" data-toggle="tab"><?php echo $this->translate('Description'); ?></a></li>
				
				<?php
	/*
	 * @var $conentContainer \Common\Option\Content\ContentContainer
	 */
	$contentContainer = $this->content ( 'productAdditionalInformation', array (
			'productId' => $product->id 
	) )->getContentContainer ();
	
	$items = $contentContainer->getItems ();
	
	$i = 2;
	foreach ( $items as $item ) {
		?>
				
				<li><a href="#productTab<?php echo $i; ?>" data-toggle="tab"><?php echo $item->getTitle(); ?></a></li>
<?php
		$i ++;
	}
	?>				
				
			</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="productTab1">

			<p><?php
	
	echo $this->fieldEdit ( $product->description, array (
			'entity' => $product,
			'type' => 'richtext',
			'name' => 'description',
			'pk' => $product->id,
			'validate' => 'required float' 
	) );
	?></p>

		</div>
				<?php
	$i = 2;
	foreach ( $items as $item ) {
		?>
		<div class="tab-pane " id="productTab<?php echo $i; ?>">
			<div class="product-detail row-fluid">
				<div class="span12 ">
					<p>&nbsp;</p>
							<?php echo $item->getContent(); ?>

						</div>

			</div>
		</div>

				
<?php
		$i ++;
	}
	?>			
				
				
				
			</div>
</div>
<!-- /.tabbable -->
<?php
	if (Functions::hasModule ( 'ProductRecommended' )) {
		$results = ProductRecommendedApi::getRecommendedProducts ( $product->id );
		
		if ($results) {
			?>

<div class="block block-products">

	<div class="block-header">
		<h2><?php echo $this->translate('Related Products');?></h2>
		<div class="block-toolbar">
			<a href="javascript:;" data-role="prev"><i class="glyphicon glyphicon-angle-left"></i></a>
			<a href="#"><i class="glyphicon glyphicon-th"></i></a> <a href="javascript:;"
				data-role="next"><i class="glyphicon glyphicon-angle-right"></i></a>
		</div>
	</div>
	<ul class="row" id="products-related">
				<?php
			foreach ( $results as $result ) {
				
				?>
				
				<li class="span3">
					<?php
				echo $this->render ( 'common/product-item-teaser', array (
						'productId' => $result ['productRecommendRecommendedProductId'] 
				) );
				?>
					
				</li>
				<?php
			}
			?>

			</ul>

</div>
<?php
		}
	}
	?>
						

		
		


<?php
}
?>

<?php $this->inlineScript()->captureStart(); ?>
$(function(){
	$('.product-shopping-cart').click(function(e){
	$(this).closest('form').submit();
	e.preventDefault();
	e.stopPropagation();
	return false;
	});
});
<?php $this->inlineScript()->captureEnd(); ?>