<?php

use Inventory\Api\InventoryApi;
use File\Api\FileApi;
use Product\Api\ProductApi;
use Core\Functions;

$this->inlineScript()->appendFile($this->basePath('/assets/Checkout/cart.js'));
$productId = Functions::fromRoute('productId');
$product = ProductApi::getProductById($productId);
if (!$product) {
    return;
}
$this->pageTitle($product->title);
$form = $this->productAddToCartForm($productId);
$form->setAttribute('class', 'no-ajaxy ajax-modal');
$action = $form->getAttribute('action');
$action .= '/isAjax/true';
$form->setAttribute('action', $action);
$submit = $form->get('btnsubmit');
$submit->setAttribute('class', 'btn btn-default btn-lg');
$array = array(
    'elements' => array(
        'quantity' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6 col-md-3'
            )
        ),
        'btnsubmit' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6 col-md-9',
            )
        ),
    )
);
$this->sbForm($form, $array);
?>

<div class="single-item block-product-detail">
    <div class="row">
        <div class="col-md-5 col-sm-6">


            <div class="row product-images">

                <div class="product-top-image text-center col-md-12">  
                    <?php
                    $image = ProductApi::getTopProductImageByProductId($product->id);
                    if ($image && $image->file) {
                        $largeImage = FileApi::formImage($image->file->path, 1200, 900, array(), true);
                        echo FileApi::formImage($image->file->path, 400, 300, array(
                            'id' => 'img_01',
                            'data-zoom-image' => $largeImage,
                            'class' => 'img-responsive img-thumbnail'
                        ));
                    }
                    ?>

                </div>

                <div class="row clearfix">   
                    <div id="gallery_01" class="col-md-12">  


                        <?php
                        $images = ProductApi::getProductImageByProductId($product->id);

                        foreach ($images as $result) {
                            $image = ProductApi::getProductImageById($result['productImageId']);
                            $largeImage = FileApi::formImage($image->file->path, 1200, 900, array(
                                            ), true);
                            $thumbImage = FileApi::formImage($image->file->path, 400, 300, array(
                                            ), true);
                            ?>


                            <a href="#"  class="no-ajaxy" data-image="<?php echo $thumbImage; ?>" data-zoom-image="<?php echo $largeImage; ?>">
                                <?php
                                echo FileApi::formImage($image->file->path, 120, 90, array(
                                    'title' => $image->file->title,
                                    'alt' => $image->file->alt,
                                    'id' => 'img_01',
                                    'class' => 'img-responsive img-thumbnail'
                                ));
                                ?>
                            </a>





                            <?php
                        }
                        ?>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-7 col-sm-6">
            <!-- Title -->
            <h4><?php echo $product->title; ?></h4>
            <?php if ($listPrice = $this->listPrice($productId, false)) { ?>
                <h5><strong><?php echo $this->translate('List Price'); ?> : <?php echo $listPrice; ?></span></strong></h5>
            <?php } ?>
            <h5><strong><?php echo $this->translate('Sell Price'); ?> : <?php echo $this->sellPrice($product->id, false); ?></span></strong></h5>

            <p><strong><?php echo $this->translate('Modal'); ?></strong> : <?php echo $product->sku; ?></p>
            <?php
            /*
             * @var $conentContainer \Common\Option\Content\ContentContainer
             */
            $contentContainer = $this->content('productQuickInformation', array(
                        'productId' => $product->id
                    ))->getContentContainer();

            $items = $contentContainer->getItems();
            foreach ($items as $item) {
                $content = trim($item->getContent());
                if ($content) {
                    ?>
                    <p><strong><?php echo $item->getTitle(); ?></strong>: <?php echo $content; ?> </p>
                    <?php
                }
            }
            ?>	

            <?php
            if (Functions::hasModule('Inventory')) {
                ?>
                <p><strong><?php echo $this->translate('Availability'); ?></strong> : 
                    <?php
                    $stock = InventoryApi::checkOrGetStock($product->id);
                    echo $stock ? $this->translate('In Stock') : $this->translate('Out of Stock');
                    ?></p>
                </p><br>
                <?php
            }
            ?>
            <div class="row">
                <?php echo $this->form($form, null); ?>
            </div>


        </div>
    </div>
</div>

<div class="clear">&nbsp;</div>

<div class="tabbable block col-xs-12">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#productTab1" data-toggle="tab"><?php echo $this->translate('Description'); ?></a></li>

        <?php
        /*
         * @var $conentContainer \Common\Option\Content\ContentContainer
         */
        $contentContainer = $this->content('productAdditionalInformation', array(
                    'productId' => $product->id
                ))->getContentContainer();

        $items = $contentContainer->getItems();

        $i = 2;
        foreach ($items as $item) {
            $content = trim($item->getContent());
            if ($content) {
                ?>

                <li><a href="#productTab<?php echo $item->getId(); ?>" data-toggle="tab"><?php echo $item->getTitle(); ?></a></li>
                <?php
            }
            $i ++;
        }
        ?>				

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="productTab1">

            <p><?php
                echo $product->description;
                ?></p>

        </div>
        <?php
        foreach ($items as $item) {
            $content = trim($item->getContent());
            if ($content) {
                ?>
                <div class="tab-pane " id="productTab<?php echo $item->getId(); ?>">
                    <div class="product-detail row">
                        <div class="col-xs-12">
                            <p>&nbsp;</p>
                            <?php echo $item->getContent(); ?>

                        </div>

                    </div>
                </div>
                <?php
            }
            $i ++;
        }
        ?>			



    </div>
</div>




<?php $this->inlineScript()->captureStart(); ?>
$(function(){
//initiate the plugin and pass the id of the div containing gallery images
$("#img_01").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active'}); 

//pass the images to Fancybox
$(".product-images").bind("click", function(e) {  
var ez =   $('#img_01').data('elevateZoom');	
$.fancybox(ez.getGalleryList());
return false;
});

$(document).on('product-full-data-change',function(e){
var data = e.data;
$("#img_01").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active'}); 
});
});

<?php $this->inlineScript()->captureEnd(); ?>