<?php

use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

$grid = new Grid('adminProductIndividualReportCustomer');
// $grid->setHasDetail ( true );
$grid->addAdditionalParameter('productId', $productId);
$grid->setGroupable(false);
$obj = $this->blucartGrid($grid);
$columns = $grid->getColumns();
$columnItem = $columns->getColumn('user.id');
$columnItem->setTemplate('<a href="' . $this->url('admin-user-view') . '/#= userId #" >#= userId #</a>');

$grid->getPageable()->setPageSize(5);
?>

<?php
$searchForm = Functions::getServiceLocator()->get('Report\Form\AdminProductIndividualReportSearch');
$searchForm->setAttribute('class', 'filter_form well form-inline');
$searchForm->setName('adminProductIndividualReportCustomerForm');
$searchForm->prepare();
?>



<div class="row">
    <div class="col-md-12">
        <?php
        echo $this->form($searchForm, \TwbBundle\Form\View\Helper\TwbBundleForm::LAYOUT_INLINE);
        ?>
    </div>
</div>
<div class="row">

    <div class="col-md-5">
        <?php
        echo $obj->render();
        ?>

    </div>
    <div class="col-md-7">
        <div id="adminProductIndividualReportCustomerChart"></div>
    </div>

</div>
<?php $this->inlineScript()->captureStart(); ?>


jQuery(function(){
<?php echo $grid->getName(); ?>.attachSearchForm("<?php echo $searchForm->getName(); ?>");
});
function createAdminProductIndividualReportCustomerChart(allData) {
var sharedDataSource = new kendo.data.DataSource({
data: allData
});
$("#adminProductIndividualReportCustomerChart").kendoChart({
dataSource: sharedDataSource,
legend: {
position: "top"
},
series: [{
type: "line",
field: "qty",
name: 'Units Sold',
axis: "UnitsSold"
},
{
type: "column",
field: "amount",
name: 'Revenue',
axis: "amountAxis",
tooltip: {
visible: true,
format: "{0:C}"
}
},
{
type: "column",
field: "profit",
name: 'Profit',
axis: "amountAxis",
tooltip: {
visible: true,
format: "{0:C}"
}
},
{
type: "column",
field: "orders",
name: 'Orders',
axis: "ordersAxis",
tooltip: {
visible: true,
format: "{0:N0}"
}
},
],
axisDefaults: {
labels: {
font: "11px Tahoma, sans-serif"
}
},
valueAxes: [
{
name: "amountAxis",
title: { text: "Amount" },


},
{
name: "ordersAxis",
title: { text: "Orders" },
color: "#4e4141"

},

{
name: "UnitsSold",
title: { text: "Units Sold" },
color: "#ec5e0a"
},

],
categoryAxis: {
field: "orderDate",
  labels: {
                rotation: -45          
              }
},
tooltip: {
visible: true

}

});
sharedDataSource.read();
}
jQuery(document).ready(function() {
var grid = $(".<?php echo $grid->getName(); ?>").data("kendoGrid");
grid.bind("dataBound", grid_dataBound_customer);

});

function grid_dataBound_customer(e){
allData = $(".<?php echo $grid->getName(); ?>").data("kendoGrid").dataSource.data();
createAdminProductIndividualReportCustomerChart(allData);
}


<?php $this->inlineScript()->captureEnd(); ?>
