<?php
$title = $this->translate('Search Results');
$this->pageTitle($title);
?>
<div class="row clearfix productfull">
    <div class="col-md-12 col-sm-12 ">
        <h2><?php echo $title; ?></h2>
    </div>
    <div class="col-md-12 col-sm-12">


        <div class="row clearfix product-search-results">
            <?php
            $results = $this->results;
            foreach ($results as $result) {
                echo $this->render('common/product-item-teaser', array(
                    'productId' => $result ['productId'],
                    'type' => 'grid'
                ));
            }
            ?>

        </div>
        <div class="row clearfix">
            <div class="col-xs-12 text-right ">
                <div class="pagination ">
                    <?php echo $this->pagination(count($results)); ?>
                </div>
            </div>
        </div>

    </div>
</div>
