<?php

use Core\Functions;
use User\Api\UserApi;
use Config\Api\ConfigApi;
echo $this->doctype();
?>
<html>
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle()->setSeparator(' - ')->setAutoEscape(false); ?>
        <?= $this->headMeta()->appendName('viewport', 'width=device-width'); ?>

        <?php echo $this->headLink(); ?>

    </head>

    <body class="full_width sidebar_hidden">
        <div id="maincontainer" class="clearfix">


            <div id="contentwrapper">
                <div class="main_content">

                    <div class="main_content_content"> 
                        <?php echo $this->content; ?>
                    </div>
                </div>

            </div>
        </div>
        <?php
        $this->stickyMessage();
        ?>
        <?php
        if ($locale = ConfigApi::getLocale()) {
            $this->headScript()->appendFile($this->basePath('assets/kendo/js/cultures/kendo.culture.' . $locale . '.min.js'));
            $this->headScript()->appendScript('kendo.culture("' . $locale . '");');
        }
        ?>
        <?php $this->headScript()->captureStart(); ?>
        var baseUrl = "<?php echo $this->basePath('/'); ?>";
        var locale = "<?php echo ($locale = ConfigApi::getLocale()) ? $locale : 'en-US'; ?>";
        NProgress.start();	
        $(document).ready(function() {
        setTimeout('$("html").removeClass("js")',1000);
        NProgress.done();
        });
        <?php $this->headScript()->captureEnd(); ?>

        <?php echo $this->headScript(); ?>
        <?php echo $this->inlineScript() ?>


    </body>
</html>
