<!DOCTYPE html>
<html lang="en" class="login_page">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login Page</title>

<?php echo $this->headLink(); ?>
</head>
<body>

        <?php
								echo $this->content;
								?>
        
        <script>
var baseUrl = "<?php echo $this->basePath('/'); ?>";
</script>
<?php
$this->stickyMessage ();

?>

			
<?php echo $this->headScript(); ?>
<?php echo $this->inlineScript()?>
    </body>
</html>
