<?php



use File\Api\FileApi;

use User\Api\UserApi;

use Config\Api\ConfigApi;

use Core\Functions;

?>

<header>

    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-inner">

            <div class="container">

                <a href="<?php echo $this->url('admin'); ?>" class="brand pull-left"><b><?php echo ConfigApi::getConfigByKey('SITE_NAME'); ?></b> <span class="sml_t"><?php echo $this->translate('Panel'); ?></span></a>

                <?php

                echo $this->navigation('admin_menu')->menu()->setPartial(array(

                    'common/admin-menu',

                    'default'

                ));



                ?>



                <?php

                $user = UserApi::getLoggedInUser();

                if ($user) {

                    ?>

                    <ul class="nav navbar-nav user_menu pull-right">



                        <li class="divider-vertical hidden-phone hidden-tablet"></li>

                        <li class="dropdown"><a href="#" class="dropdown-toggle"

                                                data-toggle="dropdown">

                                                    <?php

                                                    if ($user->avatar) {

                                                        echo FileApi::formImage($user->avatar->path, 20, 20, array(

                                                            'title' => $user->avatar->title,

                                                            'alt' => $user->avatar->alt,

                                                            'class' => 'user_avatar'

                                                        ));

                                                    } else {

                                                        ?>

                                    <img class="user_avatar" alt=""

                                         src="<?php echo $this->basePath('/assets/admin/img/user_avatar.png'); ?>">

                                         <?php

                                     }

                                     ?>

                                     <?php

                                     echo $user->firstName . ' ' . $user->lastName;

                                     ?> <b class="caret"></b>

                            </a>

                            <ul class="dropdown-menu">

                                <li><a

                                        href="<?php echo $this->url('admin-user-view', array('userId' => $user->id)); ?>"><?php echo $this->translate('My Account'); ?></a></li>

                                <li class="divider"></li>

                                <li><a

                                        href="<?php echo $this->url('admin-user-add', array('userId' => $user->id)); ?>"

                                        class="zoombox"><?php echo $this->translate('Edit Profile'); ?></a></li>

                                <li><a

                                        href="<?php echo $this->url('admin-user-changepassword', array('userId' => $user->id)); ?>"

                                        class="zoombox"><?php echo $this->translate('Change Password'); ?></a></li>

                                <li class="divider"></li>

                                <li><a href="<?php echo $this->url('admin-logout'); ?>"><?php echo $this->translate('Logout'); ?></a></li>

                            </ul></li>

                    </ul>

                    <?php

                }

                ?>

            </div>

        </div>

    </nav>

    



</header>

