
<div class="row">
        <?= $this->block('adminContentWrapperTopRegion')->render('block/admin-block'); ?>
</div>

<div class="row">
<div class="col-xs-12">
<?php echo $this->content;  ?>
</div>
</div>

<div class="row">
	 <?= $this->block('adminContentWrapperBottomRegion')->render('block/admin-block'); ?>
</div>
