<?php 
use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;
/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams();
$brandId = $contentContainer->getParam('brandId');
ob_start ();
?>

<?php 
$grid = new Grid ( 'adminBrandProduct' );
$grid->setGroupable ( true );
$grid->setEditable(false);
$grid->addAdditionalParameter('brandId', $brandId);
$obj = $this->blucartGrid ( $grid );
$columns = $grid->getColumns ();
$columnItem = $columns->getColumn ( 'product.id' );
$columnItem->setTemplate ( '<a href="'. $this->url('admin-product-view').'/#= productId #" >#= productId #</a>');
?>
<div class="row-fluid">
<h2 class="heading"><?php echo $this->translate('Products');?></h2>
<?php 
echo $obj->render ();
?>
</div>
<?php 
$content = ob_get_clean ();
$item->setContent ( $content );
