<?php
$attributeString = '';

$attributes = $element->getAttributes();
foreach($attributes as $key => $attribute){
    $attributeString.= ' '.$key.' = "'.$attribute.'" ';
}
?>

<div id="controls-title" >
    <span id="<?php echo $element->getName(); ?>-tag-wrapper"
          class="tagHandler">
        <ul id="<?php echo $element->getName(); ?>-tag"
            class="tagHandlerContainer"></ul>
    </span>
    <?php
    echo sprintf('<input %s%s', $attributeString, '/>');
    ?>
</div>

<?php $this->inlineScript()->captureStart(); ?>
jQuery(function(){
var elementSelector = $('input[name="<?php echo $element->getName(); ?>"]');
$("#<?php echo $element->getName(); ?>-tag").tagHandler({
<?php
if ($element->getValue()) {
    ?>
    assignedTags: <?php echo json_encode(explode(',', $element->getValue())); ?>,
    <?php
}
?>
<?php
if (count($element->getMultiOptions())) {
    ?>
    availableTags: <?php echo json_encode($element->getMultiOptions()); ?>,
    <?php
}
?>
autocomplete: true
});

$(elementSelector).parents('form').submit(function(){
elementSelector.val( $("#<?php echo $element->getName(); ?>-tag").tagHandler("getSerializedTags"));
});
});
<?php $this->inlineScript()->captureEnd(); ?>