<?php $this->doctype(); ?>
<html>
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle()->setSeparator(' - ')->setAutoEscape(false); ?>
        <?= $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0'); ?>
        <?php echo $this->headLink(); ?>
    </head>

    <body>


        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <?php echo $this->content; ?>
                </div>
            </div>
        </div>
        <?php $this->stickyMessage(); ?>
        <?php echo $this->headScript(); ?>
        <?php echo $this->inlineScript(); ?>
    </body>	
</html>