<?php echo $this->doctype(); ?>
<html>
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle()->setSeparator(' - ')->setAutoEscape(false); ?>
        <?= $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0'); ?>
        <?php echo $this->headLink(); ?>
    </head>

    <body>


        <div class="header">
            <div class="container">
                <div class="row">

                    <?= $this->block('topRegion')->render(); ?>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" >
            <?= $this->block('headerRegion')->render(); ?>
        </div>
        <div class="container">
            <div class="row">
                <?php echo $this->render('layout/layout-partial'); ?>
            </div>
        </div>
        <div class="row">
            <?= $this->block('bottomRegion')->render(); ?>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <?php
                    echo $this->block('footerRegion')->render();
                    ?>
                </div>
            </div>
        </footer>

        <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
        <div id="ajax-modal" class="modal container fade" tabindex="-1"></div>
	<div id="ajax-modal-medium" class="modal  fade" tabindex="-1"></div>
                <?php $this->stickyMessage(); ?>

        <?php
        $sm = \Core\Functions::getServiceLocator();
        $request = $sm->get('Request');
        $requestHeaders = $request->getHeaders();
        if (!$requestHeaders->has('X-AJAXIFY')) {
            echo $this->headScript();
        }
        ?>

        <?php echo $this->inlineScript(); ?>
    </body>	
</html>