
<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close"
            type="button">×</button>

    <h3><?php echo $this->pageTitle(); ?></h3>
</div>
<div class="modal-body">
    <?php echo $this->content; ?>
    <?php
    $this->stickyMessage();
    echo $this->inlineScript();
    ?>
</div>