
<?php
$leftRegion = $this->block('contentLeftRegion')->render();
$rightRegion = $this->block('contentRightRegion')->render();

$leftBlockSize = 3;
$rightBlockSize = 3;
$contentBlockSize = 12;

if ($leftRegion) {
    $contentBlockSize = $contentBlockSize - $leftBlockSize;
}
if ($rightRegion) {
    $contentBlockSize = $contentBlockSize - $rightBlockSize;
}
?>
<div class="col-xs-12">
    <div class="row">
        <?= $this->block('contentWrapperTopRegion')->render(); ?>
        <!-- Sidebar starts-->
    </div>
</div>
<div class="col-xs-12">
    <div class="row">
        <div class="clearfix content-wrapper">
            <?php if ($leftRegion) { ?>
                <div class="col-md-<?php echo $leftBlockSize; ?>"><div class="row clearfix left-region-wrapper"> <?php echo $leftRegion ?></div></div>
            <?php } ?>

            <div class="col-md-<?php echo $contentBlockSize; ?> main-content">
                <div class="clearfix row content-top-region">
                    <?= $this->block('contentTopRegion')->render(); ?>
                </div>
                <div class="content-main-region clearfix">

                    <?php echo $this->content; ?>
                </div>
                <div class="clearfix content-bottom-region">
                    <?= $this->block('contentBottomRegion')->render(); ?>
                </div>
            </div>

            <?php if ($rightRegion) { ?>
                <div class="col-md-<?php echo $rightBlockSize; ?>"><div class="row clearfix right-region-wrapper"> <?php echo $rightRegion ?></div></div>
            <?php } ?>
        </div>    
    </div>
</div>

<div class="col-xs-12">
    <div class="row">
        <!--Content Ends-->
        <?= $this->block('contentWrapperBottomRegion')->render(); ?>
    </div>
</div>