<?php



use Inventory\Api\InventoryApi;

use File\Api\FileApi;

use Product\Api\ProductApi;

use Core\Functions;



$this->inlineScript()->appendFile($this->basePath('/assets/Checkout/cart.js'));

$productId = Functions::fromRoute('productId');

$product = ProductApi::getProductById($productId);

if (!$product) {

    return;

}

$this->pageTitle($product->title);

$form = $this->productAddToCartForm($productId);

$form->setAttribute('class', 'no-ajaxy ajax-modal form-horizontal');



$action = $form->getAttribute('action');

$action .= '/isAjax/true';

$form->setAttribute('action', $action);



?>



<div class="single-item prodfullview block-product-detail">

    <div class="row">

       <div class="col-md-6 col-sm-6 col-xs-10">



<div class="thumbnail">

            <div class="row product-images prdimgborder">



                <div class="product-top-image text-center col-md-12">  

                    <?php

                    $image = ProductApi::getTopProductImageByProductId($product->id);

                    if ($image && $image->file) {

                        $largeImage = FileApi::formImage($image->file->path, 1200, 900, array(), true);

                        echo FileApi::formImage($image->file->path, 500, 500, array(

                            'id' => 'img_01',

                            'data-zoom-image' => $largeImage,

                            'class' => 'img-responsive img-thumbnail'

                        ));

                    }

                    ?>



                </div>

            </div>

</div>



            

        </div>







   <div class="col-md-6 col-sm-6 col-xs-12 prdsidedesc">

            <!-- Title -->

            <h3><?php echo $product->title; ?></h3>

        

        

        
            <p><span class="checkavail">Product Code:&nbsp;</span><span class="stckavail"><?php echo $product->sku; ?></span></span>
</p>
                <?php

            if (Functions::hasModule('Inventory')) {

                ?>

                <p><span class="checkavail"><?php echo $this->translate('Availability:'); ?></span> 

                    <?php

                    $stock = InventoryApi::checkOrGetStock($product->id);

                    echo $stock ? $this->translate('<span class="stckavail">In Stock</span>') : $this->translate('Out of Stock');

                    ?>

                </p>

                <?php

            }

            ?>

                         
                <p><span class="checkavail">Pack Quantity: &nbsp;</span><span class="stckavail"><?php echo $product->shortDescription; ?></span></span>
</p>
<br/>

          <p class="fulprdprc">

              <span>Price: &nbsp;</span>

               <?php

            if ($product->listPrice && ($product->sellPrice < $product->listPrice)) {

                ?>

                <!-- Price -->

                <span class="wasprc strke "><?php echo $this->currencyFormat($product->listPrice); ?></span>

                <?php

            }

            ?>

                <span class="newprcprd"> <?php echo $this->sellPrice($product->id, false); ?></span>

             

        </p>

            <?php

            /*

             * @var $conentContainer \Common\Option\Content\ContentContainer

             */

          /*?>  $contentContainer = $this->content('productQuickInformation', array(

                        'productId' => $product->id

                    ))->getContentContainer();



            $items = $contentContainer->getItems();

            foreach ($items as $item) {

                $content = trim($item->getContent());

                if ($content) {

                    ?>

                    <p><strong><?php echo $item->getTitle(); ?></strong>: <?php //echo $content; ?> </p>

                    <?php

                }

            }<?php */?>

           



       

            <div class="fullprdctaddtc">

                <?php

                $array = array(

                    'elements' => array(

                       

                        'quantity' => array(

                            'attributes' => array(

                                'data-row-class' => 'qty col-sm-5',

                                // 'class'=>'qty'

                            )

                        ),

                        

                        'btnsubmit' => array(

                            'attributes' => array(

                                

                                'class'=>'btnactive'

                            )

                        ),

                    )

                );

                $this->sbForm($form, $array);

                echo $this->form($form, null);

                ?>



            </div>





        </div>

    </div>

</div>



  <div class="row">

   <div class="col-md-12 col-sm-12 col-xs-12  mrgntp">

       

                <div class="tabbable">

    <ul class="nav nav-tabs">

        <li class="active"><a href="#productTab1" data-toggle="tab"><?php echo $this->translate('Description'); ?></a></li>

         





                    

        <?php

        /*

         * @var $conentContainer \Common\Option\Content\ContentContainer

         */

        $contentContainer = $this->content('productAdditionalInformation', array(

                    'productId' => $product->id

                ))->getContentContainer();



        $items = $contentContainer->getItems();



        $i = 2;

        foreach ($items as $item) {

            $content = trim($item->getContent());

            if ($content) {

                ?>



                <li><a href="#productTab<?php echo $item->getId(); ?>" data-toggle="tab"><?php echo $item->getTitle(); ?></a></li>

                <?php

            }

            $i ++;

        }

        ?>				



    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="productTab1">



            <p><?php

                echo $product->description;

                ?></p>



        </div>

           <div class="tab-pane" id="productTab2">



            <p><?php

                echo $product->description;

                ?></p>



        </div>

        <?php

        foreach ($items as $item) {

            $content = trim($item->getContent());

            if ($content) {

                ?>

                <div class="tab-pane " id="productTab<?php echo $item->getId(); ?>">

                    <div class="product-detail row">

                        <div class="col-xs-12">

                            <p>&nbsp;</p>

                            <?php echo $item->getContent(); ?>



                        </div>



                    </div>

                </div>

                <?php

            }

            $i ++;

        }

        ?>			







    </div>

</div>

   </div>

   </div>









<?php $this->inlineScript()->captureStart(); ?>

$(function(){

//initiate the plugin and pass the id of the div containing gallery images

$("#img_01").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active'}); 



//pass the images to Fancybox



$(document).on('product-full-data-change',function(e){

var data = e.data;

$("#img_01").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active'}); 

});

});



<?php $this->inlineScript()->captureEnd(); ?>