<?php
use DluTwBootstrap\Form\FormUtil;
use Core\Functions;
use Kendo\Lib\Grid\Option\Column\Command\CommandItem;
use Kendo\Lib\Core\JavascriptFunction;
use BlucartGrid\Option\Grid;

$grid = new Grid ( 'adminProductReport' );
// $grid->setHasDetail ( true );

$grid->setGroupable ( false );
$grid->setPageable ( array (
		'pageSize' => 10,
		'previousNext' => true,
		'numeric' => true,
		'buttonCount' => 10,
		'input' => true,
		'pageSizes' => true,
		'refresh' => true,
		'info' => true 
) );

$obj = $this->blucartGrid ( $grid );

?>

<?php
$searchForm = Functions::getServiceLocator ()->get ( 'Report\Form\AdminProductReportSearch' );
$searchForm->setAttribute ( 'class', 'filter_form well form-inline' );
$searchForm->prepare ();
?>
<h2 class="heading"><?php  echo $this->translate('Product Report');?></h2>





<?php
echo $this->tab ( 'adminProductReport' )->render ();
echo $this->link ( 'adminProductReport' )->render ();
echo $this->form ( $searchForm, \TwbBundle\Form\View\Helper\TwbBundleForm::LAYOUT_INLINE );

?>
<div id="chart"></div>
<br>

<?php 
echo $obj->render ();
?>
<?php
include 'js.phtml';
?>