<?php
$title = $this->translate('Register');
$this->pageTitle($title);
$array = array(
    'elements' => array(
        'firstName' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'lastName' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'password' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        ),
        'confirmPassword' => array(
            'attributes' => array(
                'data-row-class' => 'col-sm-6'
            )
        )
    )
);
?>
<div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">


        <div class="cool-block">
            <div class="cool-block-bor">

                <h3 class="heading"><?php echo $title; ?></h3>
                <hr>
                <?php echo $this->flashMessenger(); ?>
                <?php
                $form = $this->form;
                $this->sbForm($form, $array);
                ?>
                <div class="row">
                    <?php
                    echo $this->form($form, null);
                    ?>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-7">
                        <h4><?php echo $this->translate('Forget your Password ?'); ?></h4>
                        <p><?php echo $this->translate('no worries, to reset your password'); ?> <a
                                href="<?php echo $this->url('user-forgotpassword-modal'); ?>"
                                class="no-ajaxy ajax-modal-medium"><?php echo $this->translate('click here'); ?></a>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <h4><?php echo $this->translate('Already Signed Up?'); ?></h4>
                        <p><?php echo $this->translate('Sign In?'); ?> <a
                                href="<?php echo $this->url('user-login-modal'); ?>" 
                                class=" no-ajaxy ajax-modal"><?php echo $this->translate('click here'); ?></a>
                        </p>
                    </div>
                </div>


            </div>   
        </div>

    </div>
</div>

