<?php

use Config\Api\ConfigApi;

$form = $this->form;
$form->setAttribute ( 'class', 'borderNone' );
$form = $this->sbForm ( $form );
?>



<div class="login_box">
            
           <?php echo $this->form()->openTag($form); ?>
				<div class="top_b">Sign in to <?php echo ConfigApi::getConfigByKey('SITE_NAME').' '.$this->translate('Admin Panel'); ?> </div>
	<div class="alert-login">
				<?php
				echo $this->flashMessenger ();
				?>
				</div>
	<div class="cnt_b">
	
		<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-user"></i></span>
							<?php
							$email = $form->get ( 'email' );
							echo $this->formElement ( $email );
							?>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-lock"></i></span>
							<?php
							$password = $form->get ( 'password' );
							echo $this->formElement ( $password );
							?>
						</div>
					</div>
		
		
	</div>
	<div class="btm_b clearfix text-right">
		<button class="btn btn-large btn-primary " type="submit">Sign In</button>
	</div>  
				<?php echo $this->form()->closeTag()?>
</div>

<?php echo $this->inlineScript()->captureStart(); ?>
            jQuery(document).ready(function(){
                
				//* boxes animation
				form_wrapper = $('.login_box');
				function boxHeight() {
					form_wrapper.animate({ marginTop : ( - ( form_wrapper.height() / 2) - 24) },400);	
				};
				form_wrapper.css({ marginTop : ( - ( form_wrapper.height() / 2) - 24) });
                $('.linkform a,.link_reg a').on('click',function(e){
					var target	= $(this).attr('href'),
						target_height = $(target).actual('height');
					$(form_wrapper).css({
						'height'		: form_wrapper.height()
					});	
					$(form_wrapper.find('form:visible')).fadeOut(400,function(){
						form_wrapper.stop().animate({
                            height	 : target_height,
							marginTop: ( - (target_height/2) - 24)
                        },500,function(){
                            $(target).fadeIn(400);
                            $('.links_btm .linkform').toggle();
							$(form_wrapper).css({
								'height'		: ''
							});	
                        });
					});
					e.preventDefault();
				});
            });

<?php echo $this->inlineScript()->captureEnd(); ?>
