<?php

use Category\Api\CategoryReportApi;
use Admin\Api\AdminApi;

/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$item->setTitle('Total Categories');
$session = AdminApi::getDashboardSession();
$total = CategoryReportApi::getAllCategorysCount(null, $session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'));
$chartType = AdminApi::getChartType();

$results = null;
if ($chartType == 'week') {
    $results = CategoryReportApi::getAllCategoryCountByWeek(null, $session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
} elseif ($chartType == 'month') {
    $results = CategoryReportApi::getAllCategoryCountByMonth(null, $session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
} elseif ($chartType == 'year') {
    $results = CategoryReportApi::getAllCategoryCountByYear(null, $session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
} else {
    $results = CategoryReportApi::getAllCategoryCountByDay(null, $session->startDate->format('Y-m-d'), $session->endDate->format('Y-m-d'), 0, 5);
}
$temp = array();
foreach ($results as $result) {
    $temp [] = (float) $result ['countCategoryId'];
}
?>
<div class="chart_content">
    <div class="p_bar_up p_canvas"><?php echo implode(',', $temp); ?></div>
    <div class="ov_text">
        <strong><?php echo $this->numberFormat($total, \NumberFormatter::DECIMAL); ?></strong><?php echo $this->translate('Categories'); ?>
    </div>
</div>
<?php
$block = ob_get_clean();
$item->setBlock($block);
