<?php
use Core\Functions;
use Category\Api\CategoryApi;
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$categoryId = Functions::fromRoute('categoryId', null);
$children = CategoryApi::getChildrenCategories(null, true);
if (! $children) {
    if (! $categoryId) {
        return;
    }
    $category = CategoryApi::getCategoryById($categoryId);
    if (! $category) {
        return;
    }
    $children = CategoryApi::getChildrenCategories($category->parent, true);
}
?>
<ul class="nav">
<?php
foreach ($children as $res) {
    $catId = $res['categoryId'];
    
    $category = CategoryApi::getCategoryById($catId);
    $isActive = false;
    $attributes = '';
    if ($catId == $categoryId) {
        $attributes = 'class="active"';
    }
    
    ?>
    <li <?php echo $attributes; ?>><a
		href="<?php echo $this->url('category',array('categoryId' => $category->id)); ?>" <?php echo $attributes; ?>><?php echo $category->title; ?></a></li>
   <?php
}
?>
</ul>
<?php
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000);
