<?php
use Payment\Api\PaymentApi;

/* @var $item \Common\Option\Content\ContentItem */
$item = $this->item;
/* @var $contentContainer \Common\Option\Content\ContentContainer */
$contentContainer = $this->contentContainer;
$params = $contentContainer->getParams();

$order = $contentContainer->getParam('order');
$orderId = $order->id;

$payment = PaymentApi::getPaymentOrderByOrderId($orderId);
ob_start();
$item->setTitle('Payment Information');
if ($payment) {
    ?>
<address>
<?php
    if ($payment->paymentStatus) {
        ?>
	<strong>Payment Status: <?php echo $payment->paymentStatus->name; ?></strong>
	<?php
    }
    ?>
	<br> 
	
		Payment Type: <?php echo $payment->paymentType; ?><br>
		
		ReferenceNo: <?php echo $payment->paymentRefNo; ?><br>
		Amount Paid: <?php echo $this->currencyFormat($payment->amount); ?><br>
		Last Updated Date: <?php echo $this->dateFormat($payment->updatedDate,\IntlDateFormatter::MEDIUM, \IntlDateFormatter::MEDIUM); ?>
		
		
</address>
<?php
}
$content = ob_get_clean();
$item->setContent($content);
$item->setWeight(1000);
?>





