<?php
use Kendo\Lib\Core\JavascriptFunction;
?>


<div class="<?php echo $this->grid->getGridName(); ?>"></div>
<?php
$this->inlineScript ()->captureStart ();
?>
$(function(){
<?php echo $this->grid->getGridName(); ?> = new BlucartGridWrapper('<?php echo $this->grid->getGridName(); ?>');
$('.<?php echo $this->grid->getGridName(); ?>').kendoGrid(<?php echo $string; ?>);
<?php echo $this->grid->getGridName(); ?>.attachEvents();
});
<?php
$this->inlineScript ()->captureEnd ();
?>

<?php

$gridConfig = $config ['blucartgrid_options'] ['grid'];
if ($this->grid->getHasDetail ()) {
	
	$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/x-kendo-template', array (
			'id' => $gridConfig ['detailTemplateId'] . '_' . $this->grid->getGridName (),
			'noescape' => true 
	) );
	
	?><div class="grid-expand-content"></div>
<?php
	$this->inlineScript ()->captureEnd ();
}
?>

<?php
if ($this->grid->getHasDetail ()) {
	
	list ( $route, $options ) = $gridConfig ['detailUrl'] ['route'];
	$options ['eventname'] = $this->grid->getGridName ();
	
	$this->inlineScript ()->captureStart ();
	
	?>
function <?php echo $gridConfig ['detailInit'].'_'.$this->grid->getGridName(); ?>(e) {
    var detailRow = e.detailRow;
    var data = e.data;
    
    $.ajax({
	type: "POST",
	url: "<?php echo $this->url($route,$options);?>",
	data: eval('(' + kendo.stringify(data) + ')'),
	}).done(function( output ) {
	detailRow.find(".grid-expand-content").html(output);
	});
    return true;
}
<?php
	$this->inlineScript ()->captureEnd ();
}
?>
<?php

$this->inlineScript ()->setAllowArbitraryAttributes ( true )->captureStart ( 'APPEND', 'text/kendo-tmpl', array (
		'id' => 'statusTemplate',
		'noescape' => true 
) );
?>
# if (status) { #
<span class="status"><i class="glyphicon glyphicon-ok"></i></span>
# } else if(status == false){#
<span class="status"><i class="glyphicon glyphicon-remove"></i></span>
#}# 
<?php
$this->inlineScript ()->captureEnd ();

?>