<?php
use DluTwBootstrap\Form\FormUtil;

use Core\Functions;
?>
<div class="modal container fade" id="shippingBillingModal"
	tabindex="-1" role="dialog"
	aria-labelledby="<?php echo $this->translate('Guest Checkout'); ?>"
	aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title"><?php echo $this->translate('Guest Checkout'); ?></h4>
			</div>
			<div class="modal-body">
		
			<?php
			$sm = Functions::getServiceLocator ();
			$form = $sm->get ( 'Checkout\Form\Address\AddressFactory' );
			$form->setAttribute ( 'action', $this->url ( 'checkout-step2' ) );
			echo $this->flashMessenger ();
			?>
					<?php
					
					$array = array (
							'shippingAddress' => array (
									'firstName' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'lastName' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'addressLine1' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'addressLine2' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'state' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'country' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									) 
							),
							'billingAddress' => array (
									'firstName' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'lastName' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'addressLine1' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'addressLine2' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'state' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									),
									'country' => array (
											'attributes' => array (
													'class' => 'input-medium' 
											) 
									) 
							) 
					);
					$form->setAttribute ( 'class', 'format_form' );
					
					$this->sbForm ( $form, $array );
					
					
					?>
						<div class="row-fluid">
					<div class="span12">
					<?php 
					echo $this->form ( $form, null );
					?></div>
				</div>
					<?php
					$this->inlineScript ()->captureStart ();
					?>
					
					$(function(){
						$('input[name="billingAddress[copyAddress]"]').trigger('change');
							$('input[name="billingAddress[copyAddress]"]').change(function(){
								if(this.checked) {
							       $('fieldset.shippingAddress').css('display', 'none');
							       $('fieldset.billingAddress').animate({width:'100%'}, 500);
							    }
								else {
								    $('fieldset.billingAddress').animate({width:'50%'}, 500);
								       $('fieldset.shippingAddress').css('display', 'block');
								    }
							});
						});
						
				
					<?php
					$this->inlineScript ()->captureEnd ();
					?>
					

			
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>