<?php

use Core\Functions;
use File\Api\FileApi;

$sm = Functions::getServiceLocator();
/* @var $cart \Checkout\Option\CartContainer */
$cart = $sm->get('Cart');
$cart->prepare();
$cartItems = $cart->getCartItems();
?>
<a data-toggle="dropdown" class="shopping-cart-title" href="#"> 
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <?php echo count($cartItems) . ' ' . $this->translatePlural('Item', 'Items', count($cartItems)); ?>: <?php echo $this->currencyFormat($cart->getSubTotalPrice()); ?> 
    <span  class="caret"></span>
</a>
<div class="dropdown-menu shopping-cart-content">
    <div class="shopping-cart-items">
        
        <?php
        foreach ($cartItems as $cartItem) {
            $productId = $cartItem->getProductId();
            ?>
            <div class="item row clearfix">
                <div class="col-xs-4">
                    <?php
                    $image = FileApi::formImage($cartItem->getImage(), 250, 250, array(
                                'title' => $cartItem->getTitle(),
                                'class' => "img-responsive"
                    ));
                    echo  $image;
                    ?>
                </div>
                <div class="col-xs-8 shopping-cart-item-text text-left">
                    <p><?php
                        $title = $cartItem->getTitle();
                        echo $productId ? '<a href="' . $this->url('product', array(
                                    'productId' => $productId
                                )) . '">' . $title . '</a>' : $image;
                        ?></p>
                    <p>
                        <strong><?php echo $cartItem->getQuantity(); ?>x</strong>&nbsp;<?php
                        $price = $cartItem->getUnitPrice();
                        echo $price ? $this->currencyFormat($price) : '';
                        ?>
                    </p>
                </div>

            </div>
            <hr>

            <?php
        }
        if (!count($cartItems)) {
            ?>
            <div class=" col-xs-12 item clearfix">
                <div class="no-productmessage">
                    <p><?php echo $this->translate('Currently There are no products in the cart'); ?></p>

                </div>

            </div>
            <?php
        }
        ?>
        <div class="row clearfix">
            <div class="col-xs-12">
                <div class="row clearfix">
                    <div class="col-xs-4 text-right"><?php echo $this->translate('Sub-Total'); ?> </div>
                    <div class="col-xs-8">
                        <?php echo $this->currencyFormat($cart->getSubTotalPrice()); ?>

                    </div>
                </div>

            </div>

            <hr>
            <div class="col-xs-12">

                <div class="pull-right">
                    <a class="btn btn-default "
                       href="<?php echo $this->url('checkout'); ?>"><span
                            class="glyphicon glyphicon-gift"></span> <?php echo $this->translate('Checkout'); ?></a>
                    <a class="btn btn-default" href="<?php echo $this->url('cart'); ?>"><span
                            class="glyphicon glyphicon-shopping-cart"></span> <?php echo $this->translate('View Cart'); ?></a>
                </div>
            </div>
        </div>
    </div>

</div>
