<?php

use File\Api\FileApi;
use Core\Functions;
use Categorysidebanner\Api\CategorysidebannerApi;
?>
<?php
/* @var $item \BlockManager\Option\Block\BlockItem */
$item = $this->item;
/* @var $blockContainer \Common\Option\Block\BlockContainer */
$blockContainer = $this->blockContainer;
$params = $blockContainer->getParams();
ob_start();
$categoryId = Functions::fromRoute('categoryId', 0);

$categorysidebanners = CategorysidebannerApi::getCategorysidebannersByCategoryId($categoryId);
if (count($categorysidebanners)) {
    ?>
    <div class="carousel slide" id="<?php echo $item->getId(); ?>"
         data-ride="carousel">
        <ol class="carousel-indicators">

            <?php
            $i = 0;
            foreach ($categorysidebanners as $categorysidebannerId) {
                $categorysidebanner = CategorysidebannerApi::getCategorysidebannerById($categorysidebannerId['categorysidebannerId']);
                if (!$categorysidebanner->file) {
                    continue;
                }
                ?>
                <li data-slide-to="<?php echo $i; ?>"
                    data-target="#<?php
                    echo $item->getId();
                    ?>"
                    class="<?php echo!$i ? 'active' : ''; ?>"></li>
                    <?php
                    $i ++;
                }
                ?>


        </ol>
        <div class="carousel-inner">

            <?php
            $i = 0;
            foreach ($categorysidebanners as $categorysidebannerId) {
                $categorysidebanner = CategorysidebannerApi::getCategorysidebannerById($categorysidebannerId['categorysidebannerId']);
                if (!$categorysidebanner->file) {
                    continue;
                }
                ?>
                <div class="item text-center <?php echo!$i ? 'active' : ''; ?>">
                    <?php
                    if ($categorysidebanner->url) {
                        ?>
                        <a href="<?php echo $categorysidebanner->url ?>">
                            <?php
                            echo FileApi::formImage($categorysidebanner->file->path, 600, 600, array(
                                'title' => $categorysidebanner->file->title,
                                'alt' => $categorysidebanner->file->alt,
                                'class' => 'img-responsive'
                            ));
                            ?>
                        </a>
                        <?php
                    } else {

                        echo FileApi::formImage($categorysidebanner->file->path, 600, 600, array(
                            'title' => $categorysidebanner->file->title,
                            'alt' => $categorysidebanner->file->alt,
                            'class' => 'img-responsive'
                        ));
                    }
                    ?>
                    <?php
                    if ($categorysidebanner->file->title) {
                        ?>
                        <div class="carousel-caption">

                            <h4><?php echo $categorysidebanner->file->title; ?></h4>

                        </div>
                        <?php
                    }
                    ?>
                </div>
                <?php
                $i ++;
            }
            ?>
        </div>


        <!-- Controls -->
        <a class="left carousel-control" href="#<?php
        echo $item->getId();
        ?>"
           data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span>
        </a> <a class="right carousel-control" href="#<?php
        echo $item->getId();
        ?>"
                data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <?php
}
$block = ob_get_clean();
$item->setBlock($block);
$item->setWeight(1000);
